<app-navbar></app-navbar>
<main class="container-fluid app-main">
    <div class="row pl-5 pr-5">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>
    <br>
    <div class="">
        <div class="container-fluid pl-5 pr-5">
            <div class="card-header bordesCabecera" style="background: white;">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="colorLetra nav-link active" data-toggle="tab" href="#home1"
                            style="font-size:17px;">Configuración de Usuarios</a>
                    </li>

                    <li class="nav-item">
                        <a class="colorLetra nav-link" data-toggle="tab" href="#home2"
                            style="font-size:17px;">Historial</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" style="padding-bottom: 80px;">
                    <div id="home1" class="mb-2 mt-2 tab-pane container active">
                        <div class="Header">
                            <div class=""
                                style="display: flex;justify-content: left;align-items: left;padding-right: 700px;">
                                <div class="col-lg-17">
                                    <h4 class="TitleLine">Configuración de Usuarios</h4>
                                </div>
                            </div>
                            <div class="borderFormat"
                                style="display: flex;justify-content: center;align-items: center;">
                                <div class="col-lg-2" title="Nombre del usuario"
                                    style="display: flex;justify-content: center;align-items: center;">
                                    <label class="fontText">Seleccionar usuario:</label>
                                </div>
                                <div class="col-lg-3" title="Nombre del usuario"
                                    style="display: flex;justify-content: center;align-items: center;">

                                    <select [disabled]="userNameOff" [(ngModel)]="userId" name="userId"
                                        (change)="changeUser()" class="form-control buttonSinBorder">
                                        <option value="0" selected>Seleccione</option>
                                        <option *ngFor="let item of ListUser" value="{{item.userId}}"
                                            id="userIdSelected">
                                            {{item.userFullName}}</option>
                                    </select>
                                </div>
                                <!-- <div class="col-lg-1 margin-right"
                                    style="display: flex;justify-content: center;align-items: center;padding-left: 20px;"> -->
                                    <div class="col-lg-1" style="margin-right: 50px;">
                                    <button [disabled]="createUserOff" [(ngModel)]="btnCreateUser" title="Crear Usuario"
                                        style="display: flex;justify-content: center;align-items: center;width: 100px;"
                                        class="btn btn-warning text-white"
                                        (click)="enableControls()">Crear</button>
                                </div>

                                <!-- <div class="col-lg-1 " style="display: flex;padding-left: 20px;justify-content: center;align-items: center;" [hidden]="createUs"> -->
                                    <div class="col-lg-1 " style="margin-right: 40px;" [hidden]="createUs">
                                    <button title="Guardar"
                                        style="display: flex;justify-content: center;align-items: center;width: 100px;"
                                        class="btn btn-warning text-white "
                                        (click)="createData()">Guardar</button>
                                </div>
                                <!-- <div class="col-lg-1 " style="display: flex;padding-left: 20px;justify-content: center;align-items: center;" [hidden]="updateUs"> -->
                                    <div class="col-lg-1 " style="margin-right: 40px;" [hidden]="updateUs"> 
                                    <button title="Actualizar cambios"
                                        style="display: flex;justify-content: center;align-items: center;width: 100px;"
                                        class="btn btn-warning text-white "
                                        (click)="updateData()">Guardar</button>
                                </div>
                                &nbsp;
                                &nbsp;
                                <!-- <div class="col-lg-1 " style="display: flex;padding-left: 20px;justify-content: center;align-items: center;"> -->
                                    <div class="col-lg-1 " style="margin-right: 50px;">
                                        <button [hidden]="cancel" [disabled]="backUserOff" title="Deshacer cambios"
                                        style="display: flex;justify-content: center;align-items: center;width: 100px;"
                                        class="btn btn-warning text-white " [(ngModel)]="rollBack"
                                        (click)="rollBackChanges()">Cancelar</button>
                                </div>
                            </div>
                            <div class="borderFormat">

                                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="col-lg-3 form-group" title="Nombre del usuario">
                                        <span class="fontText">Usuario (*):</span>
                                        <input [disabled]="userOff" [(ngModel)]="name" id="usName" type="text"
                                            class="form-control buttonSinBorder">

                                    </div>

                                    <div class="col-lg-3 form-group" title="Contraseña del usuario">
                                        <span class="fontText">Contraseña (*):</span>
                                        <input [disabled]="userPassOff" [(ngModel)]="passw" id="usPass" type="password"
                                            class="form-control buttonSinBorder">
                                    </div>
                                </div>
                                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="col-lg-6 form-group" title="Nombre completo del usuario">
                                        <span class="fontText">Nombre del usuario (*):</span>
                                        <input [disabled]="userFullNameOff" [(ngModel)]="fullName" id="usFullName"
                                            type="text" class="form-control buttonSinBorder"
                                            (keypress)="onlyLetters($event)">
                                    </div>
                                </div>
                                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="col-lg-6 form-group" title="Perfil del usuario">
                                        <span class="fontText">Perfil (*):</span>
                                        <select [disabled]="userRolOff" [(ngModel)]="rol" id="userAllRol"
                                            name="userAllRol" (change)="changeProfile()"
                                            class="form-control buttonSinBorder">
                                            <option value="0" selected>Seleccione</option>
                                            <option *ngFor="let item of profileList" value="{{item.profileId}}"
                                                id="userIdSelected">
                                                {{item.profileName}}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="col-lg-6 form-group" title="Cargo del usuario">
                                        <span class="fontText">Cargo (*):</span>
                                        <select [disabled]="cargoOff" [(ngModel)]="cargo" id="usCargo" name="userAllRol"
                                            class="form-control buttonSinBorder">
                                            <option value="0" selected>Seleccione</option>
                                            <option *ngFor="let item of cargoList" value="{{item.cargoId}}"
                                                id="cargoSelected">
                                                {{item.cargoName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="col-lg-6 form-group" title="Correo electrónico del usuario">
                                        <span class="fontText">Email (*):</span>
                                        <input [disabled]="userEmailOff" [(ngModel)]="email" id="usEmail" type="text"
                                            class="form-control buttonSinBorder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="home2" class="tab-pane  fade">
                        <div class="">
                            <div class="Header">
                                <div class="">
                                    <div class="row">
                                        <div   style="display: flex;justify-content: left;align-items: left;">
                                            <div class="col-lg-17">
                                                <h4 class="TitleLine2">Historial de Cambios</h4>
                                            </div>
                                        </div>
                                    </div>
                                    

                                <!-- <h4 class="TitleLine">Historial de control de cambios de los datos actualizados y
                                    creados</h4>
                                -->

                                <br>
                                
                                    <div class="row">
                                        <div class="col-4" style="padding-left: 0px;">
                                            <label class="fontText2" style="font-size: 14px;">Usuario:</label>
    
                                            <select [disabled]="userNameOff" [(ngModel)]="userId" name="userId"
                                                (change)="changeUser()" class="form-control buttonSinBorder">
                                                <option value="0" selected>Seleccione</option>
                                                <option *ngFor="let item of ListUser" value="{{item.userId}}"
                                                    id="userIdSelected">
                                                    {{item.userFullName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="borderFormat">

                                        <!-- <table class="table table-striped table-sm">
                                            <thead>
                                                <tr
                                                    style="color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif;">
                                                    <th class="txtCabecera">ID Usuario</th>
                                                    <th class="txtCabecera">Nombres Usuario</th>
                                                    <th class="txtCabecera">Perfil Usuario</th>
                                                    <th class="txtCabecera">Cargo Usuario</th>
                                                    <th class="txtCabecera" style="text-align:center ;width: 20%">Email
                                                        Usuario</th>
                                                    <th class="txtCabecera" style="text-align:center ;width: 20%">
                                                        Modificado / Creado por</th>
                                                    <th class="txtCabecera">Fecha de Modificacion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of arrListUserLog;let inc = index;">
                                                    <td class="txtDetalle">{{item.USUARIO}}</td>
                                                    <td class="txtDetalle">{{item.NOMBRECOMPLETO}}</td>
                                                    <td class="txtDetalle">{{item.SPERFIL}}</td>
                                                    <td class="txtDetalle">{{item.SCARGO}}</td>
                                                    <td class="txtDetalle" style="text-align:center ;width: 20%">
                                                        {{item.SEMAIL}}</td>
                                                    <td class="txtDetalle" style="text-align:center ;width: 20%">
                                                        {{item.SUSU_MODIFICA}}</td>
                                                    <td class="txtDetalle">{{item.DFECHA_REGISTRO}}</td>
                                                </tr>
                                            </tbody>
                                        </table> -->
                                        

                                        <div class="row d-flex form-group"  style="border-bottom: 2px solid #26296D;" >
                                            <div  class="col-1 txtCabecera" >Id Usuario</div>
                                            <div  class="col-2 txtCabecera" >Nombres Usuario</div>
                                            <div  class="col-2 txtCabecera" >Perfil Usuario</div>
                                            <div  class="col-2 txtCabecera" >Cargo Usuario</div>
                                            <div  class="col-2 txtCabecera" >Email Usuario</div>
                                            <div  class="col-2 txtCabecera" >Modificado / Creado por el Usuario</div>
                                            <div  class="col-1 txtCabecera" >Fecha de modificación</div> 
                                        </div>
                                        <div class="desplace ">
                                            <div class="d-flex form-group row"  id="pintaGrilla" *ngFor="let item of arrListUserLog,let inc = index;">
                                                <div class="col-1 txtDetalle"  >{{item.USUARIO}}</div>
                                                <div class="col-2 txtDetalle"  >{{item.NOMBRECOMPLETO}}</div>
                                                <div class="col-2 txtDetalle"  >{{item.SPERFIL}}</div>
                                               <div class="col-2 txtDetalle"   >{{item.SCARGO}}</div>                                     
                                               <div class="col-2 txtDetalle" style="word-wrap: break-word;"  >{{item.SEMAIL}}</div>
                                               <div class="col-2 txtDetalle"  >{{item.SUSU_MODIFICA}}</div>
                                               <div class="col-1 txtDetalle"   >{{item.DFECHA_REGISTRO}}</div>


                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>
</main>
<app-footer></app-footer>