<p>template-c1 works!</p>

<div id="C3">
    <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" >
        <p> 
          <strong style="font-family: arial Narrow, serif;">1.2.1	Entidades sin fines de lucro (SFL), Cajas Rurales de Ahorro 
            y Crédito (CRACs), Cooperativas de Ahorro (COOPs), entre otros.   </strong>
        </p>
        
  
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="550">
          <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
            <tbody>
              <tr>
                <td width="50" style="padding-left: 10px;">
                  <p>
                    <strong>CÓDIGO</strong>
                  </p>
                </td>
                <td width="380" style="padding-left: 10px;">
                  <p>
                    <strong>SEÑAL DE ALERTA</strong>
                  </p>
                </td>
                <td width="80">
                  <p align="center">
                    <strong>PRODUCTO</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td width="70">
                  <p align="center">
                    C1
                  </p>
                </td>
                <td width="329" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                  <p>
                    Con relación a las organizaciones sin fines de lucro, tales como las asociaciones, fundaciones, 
                    comités, ONG, entre otras, las operaciones no parecen tener un propósito económico lógico o no 
                    parece existir un vínculo entre la actividad declarada por la organización y las demás partes que 
                    participan en la transacción.
                  </p>
                </td>
                <td width="113">
                  <p style="padding-left: 20px; text-align: center;">todos los productos</p>
                </td>
              </tr>
            </tbody>
          </FONT>
          
        <br>
        </table>
  
  
      </div>
      <br>
      <div class="container" style="padding: 0px 200px;">
      
        <p>
          <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta C1</strong>
        </p>
        <p style="font-family: arial Narrow, serif; text-align: justify"> La compañía tiene identificado a los países 
          donde existe conocida actividad terrorista, considerados como no cooperantes por el GAFI o sujetos a sanciones OFAC.</p>
          <p>
              <strong style="font-family: arial Narrow, serif; text-align: justify">Consulta en Base de Datos:</strong>
          </p>
        <ol type="a">
          <li style="font-family: arial Narrow, serif; text-align: justify">
            La Oficialía de Cumplimiento envía una primera consulta al Área de Comercial Masivos, en el cual 
            cuestiona si como parte de sus funciones identificaron la situación que describe la señal de alerta “C1”.</li>
          <li style="font-family: arial Narrow, serif; text-align: justify">
            Luego, solicita al Área de Operaciones & TI la base de Contratantes con pólizas vigentes al cierre del tercer 
            trimestre, de todos los productos de la cartera de la Compañía.</li>
          <li style="font-family: arial Narrow, serif; text-align: justify">
            La Oficialía de Cumplimiento selecciona una muestra del universo de clientes, que son Cooperativas, Cajas 
            y ONG’s y realiza una segunda consulta al área de Comercial Masivos cuestionando lo siguiente:</li>
            <ul>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                Si las operaciones con dichos contratantes guardan relación con la actividad económica del cliente</li>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                Si los precios con que se comercializa a dichos contratantes, se alinean a las políticas de la Compañía 
                y están dentro de los parámetros de normalidad vigente en el mercado.</li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            En caso se identifique señal de alerta y no sea descartado como falso positivo, se procederá a analizar 
            la inusual de la operación según los criterios para la identificación de operaciones inusuales, de acuerdo 
            al Capítulo X del Manual SPLAFT.</li>
        </ol>
          <br>
          <strong style="font-family: arial Narrow, serif;">Resultados Señales de alerta C1</strong>
          <ul>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
           El Área de Comercial Masivos señaló si/no haber identificado ninguna situación atípica respecto a la señal 
           de alerta “C1”. Se tiene como sustento el correo recibido por parte del área. 
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
           El Área de Comercial Masivos indicó que las operaciones con los contratantes de la muestra si/no guardan 
           relación con la actividad económica del cliente y los precios con los cuales se están comercializando a los 
           contratantes se alinean a las políticas de la Compañía y están dentro de los parámetros de normalidad vigente 
           en el mercado. 
           </li>
           <li style="font-family: arial Narrow, serif; text-align: justify"> 
           Por lo tanto, se concluye que por la señal de alerta “C1” si/no se identificaron casos. 
           </li>
      </ul>   
  


  
      <p>Los archivos de trabajo se ubican en:</p>
      <p>  <a href="http://190.216.170.173/LAFT/ ">http://190.216.170.173/LAFT/ </a></p>
      
  
      
      </div>
    
    <div class="text-center pt-5">
      <button class="" (click)="Export2Doc('exportContent', 'test');"></button>
    </div>
  