
<div id="C1" style="font-size:14.0pt">

  <!-- <div *ngIf="Validar ==1">  -->
    <div *ngIf="false"> 
  <img src="http://plataformasplaft.protectasecurity.pe/assets/img/protecta.png" width="200" height="50"> 
  <div>
    <br/>
</div>
  </div>

  <div *ngIf="Validar ==2">
    <br/>
    <p  align="center"  style="text-align: center;">  
        <u><strong style="font-family: arial Narrow, serif; text-align: center;"  align="center">SEÑALES DE ALERTA – MONITOREO DE SEÑALES DE ALERTA</strong></u>
    </p>
    
</div>

  <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;font-size:14.0pt;" >
    <p> 
      <strong style="font-family: arial Narrow, serif;">1.1 Señales de alerta - relativas a los productos</strong>
    </p>  
    <p> 
      <strong style="font-family: arial Narrow, serif;">1.1.1	Entidades sin fines de lucro (SFL), Cajas Rurales de Ahorro 
      y Crédito (CRACs), Cooperativas de Ahorro (COOPs), entre otros.   </strong>
    </p>  
    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px" left="20px">
      <FONT FACE="Arial Narrow, serif" style="font-size:14.0pt;">
        <tbody>
          <tr>
            <td width="50px" style="padding-left: 10px;">
              <p>
                <strong>CÓDIGO</strong>
              </p>
            </td>
            <td width="400px" style="padding-left: 10px; text-align: center">
              <p>
                <strong>SEÑAL DE ALERTA</strong>
              </p>
            </td>
            <td width="250px">
              <p align="center">
                <strong>PRODUCTO</strong>
              </p>
            </td>
          </tr>
          <tr>
            <td width="50px">
              <p align="center">
                C1
              </p>
            </td>
            <td width="400px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
              <p>
                Con relación a las organizaciones sin fines de lucro, tales como las asociaciones, fundaciones, 
                comités, ONG, entre otras, las operaciones no parecen tener un propósito económico lógico o no 
                parece existir un vínculo entre la actividad declarada por la organización y las demás partes que 
                participan en la transacción.
              </p>
            </td>
            <td width="250px">
              <p style="padding-left: 20px; text-align: center;">Todos los productos
              </p>
            </td>
          </tr>
        </tbody>
      </FONT>
    </table>
  </div>
  <br>

  <div class="container" style="padding: 0px 200px;font-size:14.0pt;">
    <p>
      <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta C1</strong>
    </p>
    <ol type="a">
      <li style="font-family: arial Narrow, serif; text-align: justify">
      La Oficialía de Cumplimiento envía una primera consulta al Área de Comercial Masivos, en el cual 
      cuestiona si como parte de sus funciones identificaron la situación que describe la señal de alerta “C1”.</li>
      <li style="font-family: arial Narrow, serif; text-align: justify">
      Luego, se realiza la consulta en el sistema LAFT, base de Contratantes con pólizas vigentes al cierre del tercer 
      trimestre, de todos los productos de la cartera de la Compañía.</li>
      <li style="font-family: arial Narrow, serif; text-align: justify">
      La Oficialía de Cumplimiento selecciona una muestra del universo de clientes, que son Cooperativas, Cajas 
      y ONG’s y realiza una segunda consulta al área de Comercial Masivos cuestionando (1) si las operaciones con dichos 
      contratantes guardan relación con la actividad económica del cliente y (2) si los precios con que se comercializa 
      a dichos contratantes, se alinean a las políticas de la Compañía y están dentro de los parámetros de normalidad 
      vigente en el mercado.</li>
      <li style="font-family: arial Narrow, serif; text-align: justify">
      En caso se identifique señal de alerta y no sea descartado como falso positivo, se procederá a analizar 
      la inusual de la operación según los criterios para la identificación de operaciones inusuales, de acuerdo 
      al Capítulo X del Manual SPLAFT.</li>
    </ol>
      <br>
      <strong style="font-family: arial Narrow, serif;">Resultados Señales de alerta C1</strong>

      <div *ngIf="Validar ==1"> 
        <ul>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          El Área de Comercial Masivos señaló {{arrayDataSenal[0].Respuesta}}  haber identificado ninguna situación atípica respecto a la señal 
          de alerta “C1”. Se tiene como sustento el correo como sustento.
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
            En el sistema LAFT se reportaron {{CantidadEmpresasC1}} entidades, y el área de Cumplimiento, con el 
            apoyo de Comercial Masivo, constató que su actividad económica guarda un propósito lógico con los productos contratados. Por ende, 
            no/si se identificó señal de alerta.
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          El Área de Comercial Masivos indicó que las operaciones con los contratantes de la muestra {{arrayDataSenal[0].Respuesta}}   guardan 
          relación con la actividad económica del cliente y los precios con los cuales se están comercializando a los 
          contratantes se alinean a las políticas de la Compañía y están dentro de los parámetros de normalidad vigente 
          en el mercado. 
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          Por lo tanto, se concluye que por la señal de alerta “C1” {{arrayDataSenal[0].Respuesta}}  se identificaron casos. 
          </li>
        </ul>   

      </div>
      <div *ngIf="Validar ==2">

        <ul>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          El Área de Comercial Masivos señaló {{RespuestaAlertaC1 == 1 ? 'si' : 'no' }}  haber identificado ninguna situación atípica respecto a la señal 
          de alerta “C1”. Se tiene como sustento el correo como sustento.
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          En el sistema LAFT se reportaron {{CantidadEmpresasC1}} entidades, y el área de Cumplimiento, con el 
          apoyo de Comercial Masivo, constató que su actividad económica guarda un propósito lógico con los productos contratados. Por ende, 
          no/si se identificó señal de alerta.
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          El Área de Comercial Masivos indicó que las operaciones con los contratantes de la muestra {{RespuestaAlertaC1 == 1 ? 'si' : 'no' }}   guardan 
          relación con la actividad económica del cliente y los precios con los cuales se están comercializando a los 
          contratantes se alinean a las políticas de la Compañía y están dentro de los parámetros de normalidad vigente 
          en el mercado. 
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
          Por lo tanto, se concluye que por la señal de alerta “C1” {{RespuestaAlertaC1 == 1 ? 'si' : 'no' }}  se identificaron casos. 
          </li>
        </ul>   
      </div>
      
      <p style="font-family: arial Narrow, serif; text-align: justify">Los archivos de trabajo se ubican en: </p>
        <ul>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
            <a href="http://plataformasplaft.protectasecurity.pe/"> http://plataformasplaft.protectasecurity.pe/</a>
          </li>
          <!-- <li style="font-family: arial Narrow, serif; text-align: justify"> 
            P:\19. RIESGOS OPERATIVOS Y LAVADO DE ACTIVOS\19.04 SPLAFT\100.001 LAFT\05.Informes Trimestrales Protecta\2021\INFORME TRIMESTRAL\3° Trimestre\1. PRODUCTOS
          </li> -->
        </ul>

  </div>
</div>
    <div class="text-center pt-5">
      <button class="" (click)="Export2Doc('exportContent', 'test');"></button>
    </div>
  