<div id="exportContent">

    
        
            <img src="http://190.216.170.173/LAFT/assets/img/logo.png" alt="" >
            
    
    
      
        

   <!-- <div *ngFor="let item of parent.arrayData"> -->
       
       <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" >
      <!-- <p> 
           <strong>Usuario:  {{parent.Nombre}}  </strong>
       </p>
       <p>
           <strong>Perfil:  {{parent.Perfil}}  </strong>
       </p> -->
             
       <div *ngIf="parent.Alerta == 'P1'">
       <!-- ESTO ES PARA LA p1 -->
       <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
           <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
           <tbody>
               <tr>
               <td width="200px" style="padding-left: 10px;">
                   <p>
                   <strong>CÓDIGO</strong>
                   </p>
               </td>
               <td width="600px" style="padding-left: 10px;">
                   <p>
                   <strong>SEÑAL DE ALERTA</strong>
                   </p>
               </td>
               </tr>
               <tr>
               <td width="20%">
                   <p align="center">
                   P1
                   </p>
               </td>
               <td width="600" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                   <p>
                    El proveedor o contraparte se niega a proporcionar la información solicitada o
                    la información proporcionada es inconsistente o de difícil verificación por 
                    parte de las empresas. 
                   </p>
               </td>
               </tr>
           </tbody>
           </FONT>
       </table>
       </div>

        <div *ngIf="parent.Alerta == 'P2'">
        <!-- ESTO ES PARA LA P2 -->
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
            <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
            <tbody>
                <tr>
                <td width="200px" style="padding-left: 10px;">
                    <p>
                    <strong>CÓDIGO</strong>
                    </p>
                </td>
                <td width="600px" style="padding-left: 10px;">
                    <p>
                    <strong>SEÑAL DE ALERTA</strong>
                    </p>
                </td>
                </tr>
                <tr>
                    <td width="66" rowspan="2">
                    <p align="center">
                        P2
                    </p>
                    </td>
                    <td width="600" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                    <p>
                        El proveedor o contraparte trata de presionar a un trabajador para no proporcionar la información solicitada. 
                    </p>
                    </td>
                </tr>
            </tbody>
            </FONT>
        </table>
        </div>

        <div *ngIf="parent.Alerta == 'P3'">
        <!-- ESTO ES PARA LA P3 -->
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
            <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
            <tbody>
                <tr>
                <td width="200px" style="padding-left: 10px;">
                    <p>
                    <strong>CÓDIGO</strong>
                    </p>
                </td>
                <td width="600px" style="padding-left: 10px;">
                    <p>
                    <strong>SEÑAL DE ALERTA</strong>
                    </p>
                </td>
                </tr>
                <tr>
                    <td width="66">
                    <p align="center">
                        P3
                    </p>
                    </td>
                    <td width="600" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                    <p>
                        El proveedor o contraparte indica una dirección que también es la de un negocio diferente 
                        al declarado y/o no parece corresponder con la ocupación o actividad económica declarada por él.  
                    </p>
                    </td>
                </tr>
            </tbody>
            </FONT>
        </table>
        </div>

        <div *ngIf="parent.Alerta == 'P4'">
        <!-- ESTO ES PARA LA P4 -->
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
            <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
            <tbody>
                <tr>
                <td width="200px" style="padding-left: 10px;">
                    <p>
                    <strong>CÓDIGO</strong>
                    </p>
                </td>
                <td width="600px" style="padding-left: 10px;">
                    <p>
                    <strong>SEÑAL DE ALERTA</strong>
                    </p>
                </td>
                </tr>
                <tr>
                    <td width="66">
                    <p align="center">
                        P4
                    </p>
                    </td>
                    <td width="600" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                    <p>
                    Que se tome conocimiento por los medios de difusión pública u otro, según sea el caso, 
                    que un proveedor o contraparte o sus representantes o socios, en caso de personas jurídicas, 
                    están siendo investigado o procesado por el delito de lavado de activos, delitos precedentes, 
                    el delito de financiamiento del terrorismo y/o delitos conexos. 
                    </p>
                    </td>
                </tr>
            </tbody>
            </FONT>
        </table>
        </div>

        <div *ngIf="parent.Alerta == 'P5'">
        <!-- ESTO ES PARA LA P5 -->
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
            <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
            <tbody>
                <tr>
                    <td width="200px" style="padding-left: 10px;">
                    <p>
                    <strong>CÓDIGO</strong>
                    </p>
                    </td>
                    <td width="600px" style="padding-left: 10px;">
                    <p>
                    <strong>SEÑAL DE ALERTA</strong>
                    </p>
                    </td>
                </tr>
                <tr>
                    <td width="66">
                    <p align="center">
                        P5
                    </p>
                    </td>
                    <td width="600" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                    <p>
                        El proveedor o contraparte está domiciliado en / o modifica su domicilio a: países 
                        considerados paraísos fiscales o países donde existe conocida actividad terrorista, 
                        considerados como no cooperantes por el GAFI o sujetos a sanciones OFAC. 
                    </p>
                    </td>
                </tr>
            </tbody>
            </FONT>
        </table>
        </div>

        <div *ngIf="parent.Alerta == 'P1$'">
            <!-- ESTO ES PARA LA p1 -->
            <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
                <tbody>
                    <tr>
                    <td width="200px" style="padding-left: 10px;">
                        <p>
                        <strong>CÓDIGO</strong>
                        </p>
                    </td>
                    <td width="600px" style="padding-left: 10px;">
                        <p>
                        <strong>SEÑAL DE ALERTA</strong>
                        </p>
                    </td>
                    </tr>
                    <tr>
                    <td width="20%">
                        <p align="center">
                        P1$
                        </p>
                    </td>
                    <td width="600" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                        <p>
                         El proveedor o contraparte se niega a proporcionar la información solicitada o
                         la información proporcionada es inconsistente o de difícil verificación por 
                         parte de las empresas. 
                        </p>
                    </td>
                    </tr>
                </tbody>
                </FONT>
            </table>
            </div>
        </div>
        <div class="container" style="padding: 0px 200px;">
        <br> 
        <p>
            <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta:</strong>
        </p>
        <p style="font-family: arial Narrow, serif; text-align: justify"> a) Se solicita a la Gerencia de Comercial Rentas información sobre las
            siguientes situaciones:</p>
        <ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            La información proporcionada por el cliente es inconsistente o de difícil
            verificación por parte de PROTECTA.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            El cliente se rehúsa a llenar los formularios requeridos por PROTECTA o a
            proporcionar la información necesaria para completarlos.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            El cliente se rehúsa a realizar la operación una vez que se le solicita
            formularios adicionales a los inicialmente requeridos.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            · El cliente trata de presionar a un trabajador para no llenar los
            formularios requeridos por la empresa.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            Las operaciones no corresponden al perfil del cliente. El cliente
            solicita una póliza cuya suma asegurada no concuerda con su nivel de vida o
            perfil.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            El cliente solicita ser excluido del registro de operaciones sin causa
            aparente o justificada.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            El cliente solicita que los abonos se realicen en una cuenta mancomunada
            con una persona con la que no tiene vínculo familiar aparentemente.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            El cliente se niega o evita dar información que permita determinar y
            sustentar el origen de fondos destinados para la contratación del seguro
            y/o estas operaciones no guardan relación con su actividad económica.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            Un mismo beneficiario de pólizas de seguros de vida por importes
            significativos, contratadas por distintas personas con las cuales no tenga
            relación, vínculo o parentesco aparente.
            </li>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            El cliente solicita el rescate de la póliza en condiciones financieras
            que le son significativamente desfavorables.
            </li>
        </ul>
        <p>
            <strong></strong>
        </p>
            <p style="font-family: arial Narrow, serif;"> b) Se revisa la información proporcionada:</p>
            <strong style="font-family: arial Narrow, serif;"> Resultados:</strong>
            <ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">El área Comercial Masivos informó que  {{parent.Respuesta}} tiene casos a reportar con respecto a los clientes de renta privada y ahorro total.</li></ul>   
        </div>

    
</div>
  <div class="text-center pt-5">
    <button class="" (click)="Export2Doc('exportContent', 'test');"></button> 
  </div>


