

    <app-template-c1  [parent]="this" [item]="objListaAlertaC1" [Validar]="2"  style="display: none"></app-template-c1>

    <!-- <app-template-c2 [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal" 
    [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta" [arrayDataResultado]="arrayDataResultado"  [Periodo]="Periodo"
    [Cantidad]="Cantidad"  style="display: none"
    ></app-template-c2> -->

    <app-template-c3  [parent]="this" [ObjListaAlertasC3]="ObjListaAlertasC3" [RespuestaGlobalC3]="RespuestaGlobalC3"  [Validar]="2"  style="display: none"></app-template-c3>

   
    <app-template-s1   style="display: none"></app-template-s1>

    <app-template-s2  [parent]="this" [ObjListaAlertasS2]="ObjListaAlertasS2" [Validar]="2"   style="display: none" ></app-template-s2>

    <app-template-s3  [parent]="this"[ObjListaAlertasS3]="ObjListaAlertasS3" [Validar]="2"  style="display: none" ></app-template-s3> 