

    <app-template-c1  [parent]="this" [objListaAlertaC1]="" [Validar]="1"  style="display: none"></app-template-c1>

    <!-- <app-template-c2 [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal" 
    [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta" [arrayDataResultado]="arrayDataResultado"  [Periodo]="Periodo"
    [Cantidad]="Cantidad"  style="display: none"
    ></app-template-c2> -->
<!-- 
    <app-template-c3  [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal"  [Validar]="1" 
    [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta" style="display: none"></app-template-c3>

    
    <app-template-s1  [parent]="this" [Nombre]="Nombre" 
    [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-s1>

    <app-template-s2  [parent]="this" [Nombre]="Nombre" [Validar]="1" 
    [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta" style="display: none" ></app-template-s2>

    <app-template-s3  [parent]="this" [Nombre]="Nombre" [Validar]="1" 
    [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta" style="display: none" ></app-template-s3> -->