<div id="colaborador">

    
        <img src="http://plataformasplaft.protectasecurity.pe/assets/img/protecta.png" width="200" height="50"> 
        <div>
            <br/>
        </div>

    <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" >
        <p> 
            <strong style="font-family: arial Narrow, serif;">1.2 Señales de alerta - Relativas a los trabajadores</strong>
          </p>   
        
        <div>
            <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                <FONT FACE="Arial Narrow, serif" style="font-size: 14px;">
                    <tbody>
                        <tr>
                            <td width="50px" style="padding-left: 10px;">
                                <p>
                                    <strong>CÓDIGO</strong>
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px;">
                                <p>
                                    <strong>SEÑAL DE ALERTA</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T1
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El estilo de vida del trabajador no corresponde a sus ingresos o existe un 
                                    cambio notable e inesperado en su situación económica.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px" >
                                <p align="center">
                                    T2
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El trabajador constantemente evita o se niega a tomar vacaciones.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T3
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El trabajador presenta ausencias frecuentes e injustificadas.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T4
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El trabajador con frecuencia permanece en la oficina fuera del horario laboral, 
                                    sin causa justificada.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T5
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El trabajador está involucrado en organizaciones sin fines de lucro, tales 
                                    como fundaciones, asociaciones, comités, ONG, entre otras, cuyos objetivos 
                                    ha quedado debidamente demostrado se encuentran relacionados con la ideología, 
                                    reclamos o demandas de una organización terrorista nacional y/o extranjera, 
                                    siempre que ello sea debidamente demostrado.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T6
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    Se presenta un crecimiento inusual o repentino del número de operaciones que 
                                    se encuentran a cargo del trabajador.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T7
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    Cambio notable o inesperado en los negocios de índole comercial de propiedad 
                                    del trabajador.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    T8
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    Se comprueba que el trabajador no ha comunicado o ha ocultado al oficial de 
                                    cumplimiento información relativa al cambio en el comportamiento de algún cliente.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </FONT>
            </table>
        </div>
    </div>
    <br>
    
    <div class="container" style="padding: 0px 200px;">
        <div>
            <p><strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta T1 a T7</strong></p>
            <ol type="a">
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se solicita al Jefe de Cultura Organizacional información sobre si se han presentado/identificado 
                    las señales de alerta T1, T2, T3, T4, T5, T6 y T7.
                </li>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                Se revisa la información proporcionada.
                </li>
            </ol>
        </div>
    </div>
    <div class="container" style="padding: 0px 200px;">
        <div>
            <p><strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta T1, T5, T6 y T8</strong></p>
            <ol type="a">
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se solicita al Gerente de Comercial de Rentas, Subgerente Comercial Masivos, Subgerente de 
                    Administración y Tesorería y Gerente de Inversiones información sobre las señales alerta 
                    T1, T5, T6 y T8 respecto de los trabajadores que tienen a su cargo.
                </li>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                Se revisa la información proporcionada.
                </li>
            </ol>
        </div>
    </div>
    <div class="container" style="padding: 0px 200px;">
        <div>
            <p><strong style="font-family: arial Narrow, serif; text-align: justify">Resultados:</strong></p>
            <ul>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    El jefe de Cultura Organizacional informó que {{RespuestaGlobalColaborador}} se ha registrado suceso alguno 
                    respecto a los puntos indicados T1, T2, T3, T4, T5, T6 y T7.
                </li>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    El Gerente de Inversiones, Gerente Comercial de Rentas, Subgerente Comercial Masivos y 
                    la Subgerente de Administración y Tesorería informaron que {{RespuestaGlobalColaborador}} se ha registrado suceso 
                    alguno respecto a los puntos indicados T1, T5, T6 y T8 respecto de los trabajadores que 
                    tienen a su cargo.
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="padding: 0px 200px;">
        <div>
            <p><strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta T1</strong></p>
            <ol type="a">
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se solicita al Jefe de Cultura Organizacional las declaraciones juradas patrimoniales de una 
                    muestra de trabajadores que fue definido por el área de Cumplimiento.
                </li>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se revisa la información proporcionada.
                </li>
            </ol>
        </div>
    </div>
    <div class="container" style="padding: 0px 200px;">
        <div>
            <br> 
            <p><strong style="font-family: arial Narrow, serif; text-align: justify">Resultados:</strong></p>
            <br>
            <br>
            <br>
        </div>
    </div>

</div>
  <div class="text-center pt-5">
    <p style="font-family: arial Narrow, serif; text-align: justify">Los archivos de trabajo se ubican en:</p>
     <p style="font-family: arial Narrow, serif; text-align: justify"><a href="http://plataformasplaft.protectasecurity.pe/">http://plataformasplaft.protectasecurity.pe/</a></p>
  </div>



