body {
  font-family: "Lato", sans-serif;
}

.caja{
  height: 100%;
  width: 0;
  background-color: rgb(228, 224, 224);
  left: 0;
  position: fixed;
  z-index: 2;
}

.sidenav {

  height:100vh;
  width: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
  background-color:rgb(228, 224, 224);
  position: fixed;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 40%;

}

.sidenav a {
 
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 0px;
  text-decoration: none;
  font-size: 20px;
  color: #484141;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0e0c0c;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#arrayMenu {
  overflow-y: scroll;
}

@media screen {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.abrirNav {
  width: 350px;
}

.cerrarNav {
  width: 0px;
}

.abrirCuerpo {
  margin-left: 0px;
}

.cerrarCuerpo {
  margin-left: 350px;
}

/***EL SUBMENU***/

.sideNav2 {
  display: none;
}

.sideNav2 a {
  font-size: 15px;
  padding-left: 50px;
  padding-top: 8px;
  
  
}
.sideNav2 a:hover {
  color: #2f3697;
}



.reducirCuerpo {
    margin-left: 350px;
}


.sidenav::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.sidenav::-webkit-scrollbar{
  width: 5px;
    background-color: #F5F5F5;
}
.sidenav::-webkit-scrollbar-thumb{
  border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.PositionAbsolute{
  position: sticky ;
}

.PositionFixed{
  position: fixed ;
}


#navbar-toggle {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0;
  visibility: hidden;
}

.nav-menu {
  display: none;
}

#navbar-toggle:checked + label .nav-menu {
  display: block;
}

.open-button {
  background: #c42d2d;
  color: #fff;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  cursor:pointer
}
.menu{    background: #333;
color: #fff;
padding: 15px;
margin-top: 10px;
width: 150px;
border-radius: 3px;}











body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  overflow-y: auto;
  /* background: #000; */
  /* background: #f8f9fa; */
  background: rgb(240, 238, 237);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  /* color: #999999; */
  color: #0e0c0c;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
  
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 300px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 300px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}