<div class="modal-header" id="edit-modal"  style="padding-bottom: 30px">
    <!--<i class="fas fa-times" (click)="closeModal('edit-modal')"></i>-->
    <!-- <div>{{dataEmail.grupo + ' - ' +dataEmail.perfil}}</div> -->
    <!-- <div class="close" aria-label="Close" (click)="closeModal('edit-modal')">
        <span aria-hidden="true">&times;</span>
    </div> -->
    <button type="button" class="swal2-close"  (click)="closeModal('edit-modal')" aria-label="Close this dialog" style="display: flex;outline:none;">×</button>
</div>
<br>
<div class="container">

    <div class="row mb-2 " style="margin-top: -30px;display: flex;padding-left: 125px;">
        <div class="Header">
            <div class="row">
                <div class="col-lg-19">
                    <h4 class="TitleLine">Actualizar Correo</h4>
                </div>
            </div>
            
        </div>
        <br>
            
    </div>



    <div class="row" style="display: flex;justify-content: left;align-items: left;padding: 0px 100px;">
        
        <div class="col-lg-3 form-group" >
            <label class="fontText">Grupo:</label>
            <select [disabled]="true" [(ngModel)]="group" name="profile"
               
                style="display: flex;justify-content: center;align-items: center;"
                class="form-control buttonSinBorder">
                <option value="0" selected>Seleccione</option>
                <option *ngFor="let item of GrupoList" value="{{item.NIDGRUPOSENAL}}" id="profileIdSelected">
                    {{item.SDESGRUPO_SENAL}}</option>
               
            </select>
        </div>
        <!-- <div class="col-lg-1 form-group"></div> -->
        <div class="col-lg-5 form-group" >
            <label class="fontText">Perfil:</label>
            <select [disabled]="true" [(ngModel)]="profiles" name="profile"
               
                style="display: flex;justify-content: center;align-items: center;"
                class="form-control buttonSinBorder">
                <option value="0" selected>Seleccione</option>
                <option *ngFor="let item of ProfileList" value="{{item.NIDPROFILE}}" id="profileIdSelected">
                    {{item.SNAME}}</option>
            </select>
        </div>
        <!-- <div class="col-lg-1 form-group"></div> --> 
        <div class="col-lg-4 form-group">
            <label class="fontText">Acción:</label>
            <select [disabled]="true" [(ngModel)]="action" name="action"
               
                style="display: flex;justify-content: center;align-items: center;"
                class="form-control buttonSinBorder">
                <option value="0" selected>Seleccione</option>
                <option *ngFor="let item of ActionList" value="{{item.NIDACCION}}" id="actionIdSelected">
                    {{item.SDESCRIPT}}</option>
            </select>
        </div>
    </div>
    

    <div class="row" style="display: flex;justify-content: left;align-items: left;padding: 0px 100px;">
        <div class="col-lg-12" title="Asunto del correo">
            <div class="form-group">
                <label for="comment" class="fontText">Asunto:</label>
                <textarea class="form-control" style="max-height: 100px; height:150px;min-height: 40px;" (keyup)="onKey($event)"  [(ngModel)]="asunto" id="usSubjectDescription" rows="5" maxlength="200"></textarea>
                <span class="fontText">Caracteres: {{contador}} de 200</span>
                
            </div>
            
        </div>
    </div>
    <div class="row" style="display: flex;justify-content: left;align-items: left;padding: 0px 100px;">
        <div class="col-lg-12" title="Cuerpo del mensaje de correo">
            <div class="form-group">
                <div  class="row fontText">
                    <div  class="" style="display: inline;padding-left: 15px;">Etiquetas obligatorias para el mensaje:</div>
                    <div  class="col-6" style="text-align: justify;font-weight: 500;padding-left: 5px;"> [Usuario], [Link], [Instruccion], [Cargo], [Perfil], [FechaFin] </div>
                </div>
                <label for="comment" class="fontText">Mensaje:</label>
                <!-- <label for="comment">Mensaje:</label> -->
                <!-- <textarea  class="form-control" style="max-height: 100px; height:150px;min-height: 40px;" [(ngModel)]="message" id="usMessageDescription" rows="5"></textarea> -->

                <ckeditor  [config]="ckeConfig" [(ngModel)]="dataEmail.SCUERPO_CORREO" (keyup)="consoleFunc2($event)" (change)="consoleFunc($event)"> </ckeditor>
                
            </div>
           
        </div>
    </div>
</div>
<br>
<div class="row" style="padding: 0px 150px;">
    <div class="col-lg-10">

    </div>

    <div class="col-lg-2">
        <button  class="btn btn-warning text-white " style="width: 150px;" (click)="Save()">Guardar</button>
        <!-- <button class="btn btn-warning" (click)="Save()">Guardar</button> -->
    </div>
</div>
<br>