<ng-container *ngIf="totalItems !=null && totalItems > 0; then showPagination"></ng-container>
    <ng-template style="align-items: center;" #showPagination>
        <div class="row mt-4" style="padding-left: 40%;">
            <div class="col-sm-12">
                <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                    [maxSize]="maxSize" (pageChange)="pageChanged(currentPage)">
                    <ng-template ngbPaginationPrevious>Anterior</ng-template>
                    <ng-template ngbPaginationNext>Siguiente</ng-template>
                </ngb-pagination>
            </div>
        </div>
        
    </ng-template>