<div id="S3" style="font-size:14.0pt;">
    <div *ngIf="Validar ==1"> 
        <img src="http://plataformasplaft.protectasecurity.pe/assets/img/protecta.png" width="200" height="50"> 
        <div>
            <br/>
        </div>
        </div>

    <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;font-size:14.0pt;" >
        <p> 
          <strong style="font-size: 14.5px; font-family: arial Narrow, serif;">1.1.6	Devolución por depósito errado</strong>
        </p>
          
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
            <FONT FACE="Arial Narrow, serif" style="font-size:11.0pt;">
                <tbody>
                    <tr>
                        <td width="50px" style="padding-left: 10px; text-align: center;">
                            <p>
                                <strong>CÓDIGO</strong>
                            </p>
                        </td>
                        <td width="400px" style="padding-left: 10px; text-align: center;">
                            <p>
                                <strong>SEÑAL DE ALERTA</strong>
                            </p>
                        </td>
                        <td width="250px" style="padding-left: 10px; text-align: center;">
                            <p align="center">
                                <strong>PRODUCTO</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="50px">
                            <p align="center">
                                S3
                            </p>
                        </td>
                        <td width="400px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                            <p>
                            Pago de una prima superior a la establecida con posterior devolución de la diferencia por depósito errado.
                            </p>
                        </td>
                        <td width="250px">
                            <p style="padding-left: 20px; text-align: center;">todos los productos</p>
                        </td>
                    </tr>
                </tbody>
            </FONT>
        </table>
        <br>
    </div>

    <div class="container" style="padding: 0px 200px;font-size:11.0pt;">
        <p>
            <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta S3</strong>
        </p>
        <ol type="a">
            <li style="font-family: arial Narrow, serif; text-align: justify">
            Se solicita al área de Operaciones información sobre si se han presentado/identificado la siguiente situación: 
            </li>
                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify">
                    Pago de una prima superior a la establecida con posterior devolución de la diferencia por depósito errado.
                    </li>
                </ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            Se revisa la información proporcionada.
            </li>    
        </ol>
        <br>

        <strong style="font-family: arial Narrow, serif;">Resultados Señales de alerta S3</strong>
        <ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">
               El área de Operaciones si/no reportó ningún caso sobre pago de una prima superior a la establecida con 
                posterior devolución de la diferencia por depósito errado al cierre del {{parent.Periodo}}.
            </li>
        </ul>

        <strong style="font-family: arial Narrow, serif;">Consulta al área de Cobranzas</strong>
        <ol type="a">
            <li style="font-family: arial Narrow, serif; text-align: justify">
                	Se solicita al área de Cobranzas información sobre si se han presentado/identificado las siguientes situaciones: 
            </li>
                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify">
                       Pago de una prima superior a la establecida con posterior devolución de la diferencia por depósito errado.
                    </li>
                </ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">
            	Se revisa la información proporcionada.

            </li>    
        </ol>

        <strong style="font-family: arial Narrow, serif;">Resultados Señales de alerta S3</strong>
        <ul>
            <div *ngIf="Validar ==1">
                <li style="font-family: arial Narrow, serif; text-align: justify" *ngFor="let item of parent.arrayDataSenal">
                    El {{item.Cargo}} informo que {{item.Respuesta}} se identificaron pagos de una prima superior a la establecida con posterior 
                    devolución de la diferencia por depósito errado.
                    </li>
            </div>
            <div *ngIf="Validar ==2">
                <li style="font-family: arial Narrow, serif; text-align: justify" *ngFor="let item of ObjListaAlertasS3">
                    El {{item.SPERFIL}} informo que {{item.NIDRESPUESTA == 1 ? 'si' : 'no'}} se identificaron pagos de una prima superior a la establecida con posterior 
                    devolución de la diferencia por depósito errado al cierre del {{parent.Periodo}}.
                    </li>
            </div>
        </ul> 
        <br>  
        <!-- ***************************************************************************************************************************************** -->  

        <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;">
            <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                    <tbody>
                        <tr>
                            <td  width="10%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>N&ordm;</strong>
                                </p>
                            </td> 
                             <td width="9%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>PRODUCTO</strong>
                                </p>
                            </td>
                            <td width="15%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>MONTO DEVUELTO S/.</strong>
                                </p>
                            </td>
                            <td width="25%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>DOCUMENTO</strong>
                                </p>
                            </td>
                            <td width="300px" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>NOMBRE COMPLETO / RAZON SOCIAL</strong>
                                </p>
                            </td> 
                        </tr>
                        <!-- <tr *ngFor="let i = index "> -->
                        <tr>
                            <td width="10%" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                <p>
                                    <!-- {{ i + 1 }} -->
                                    <br>
                                </p>
                            </td>  
                            <td width="9%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                   <br>
                                </p>
                            </td>
                            <td width="15%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td>
                            <td width="25%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td>
                            <td width="300px" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td> 
                        </tr>
                    </tbody>
                </FONT>
            </table>
            <br>
        </div>   
        <!-- ***************************************************************************************************************************************** --> 
        <p style="font-family: arial Narrow, serif; text-align: justify">Se concluye que los casos presentados no corresponden a operaciones inusuales.</p> 

        <p style="font-family: arial Narrow, serif; text-align: justify">Los archivos de trabajo se ubican en: </p>
        <ul>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
            <a href="http://plataformasplaft.protectasecurity.pe/"> http://plataformasplaft.protectasecurity.pe/</a>
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
            P:\19. RIESGOS OPERATIVOS Y LAVADO DE ACTIVOS\19.04 SPLAFT\19.04.04 LAFT\05.Informes Trimestrales Protecta
          </li>
        </ul>
       </div>
    </div>
    <div class="text-center pt-5">
      <button class="" (click)="Export2Doc('exportContent', 'test');"></button>
    </div>
