<app-navbar></app-navbar>
<main class="container app-main">
    <div class="row">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span>  Pantalla Principal
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-19">
            <h5 class="TitleLine">Alerta por perfil</h5>
            </div>       
        </div>
        <div class="row borderFormat">
            <div class="col-lg-12 ">
                <div class="row ">
                    <div class="col-lg-5 form-group">
                        <label class="fontText">Perfiles:</label>
                        <select [disabled]="profileListOff" [(ngModel)]="profiles" name="profile"
                            (change)="changeProfile()"
                            style="display: flex;justify-content: center;align-items: center;"
                            class="form-control">
                            <option value="0" selected>Seleccione</option>
                            <option *ngFor="let item of arrProfiles" value="{{item.id}}" id="profileIdSelected">
                                {{item.name}}</option>
                        </select>
                    </div>
                    <!--<div class="col-lg-3 form-group">
                        <label class="fontText">Señal de alerta:</label>
                        <select [disabled]="profileListOff" [(ngModel)]="profiles" name="profile"
                            (change)="changeProfile()"
                            style="display: flex;justify-content: center;align-items: center;"
                            class="form-control">
                            <option value="0" selected>Seleccione</option>
                            <option *ngFor="let item of arrSeniales" value="{{item.id}}" id="profileIdSelected">
                                {{item.name}}</option>
                        </select>
                    </div>-->
                    <div class="col-lg-5 form-group">
                        <label class="fontText">Régimen:</label>
                        <select [disabled]="regimeListOff" [(ngModel)]="regime" name="regime"
                            (change)="changeRegime()"
                            style="display: flex;justify-content: center;align-items: center;"
                            class="form-control">
                            <option value="0" selected>Seleccione</option>
                            <option *ngFor="let item of arrRegimen" value="{{item.id}}" id="regimeIdSelected">
                                {{item.name}}</option>
                        </select>
                    </div>
                  
                    <div class="col-lg-2 form-group">
                        <label></label>
                        <button style="display: flex;justify-content: center;align-items: center;"
                            class="btn btn-warning" (click)="rollBack()">Limpiar</button>
                    </div>
                    <!--<div class="col-lg-2 form-group" style="padding-left: 20px;">
                        <label></label>
                        <button style="display: flex;justify-content: center;align-items: center;"
                            class="btn btn-warning"
                            (click)="updateAlertByProfile(AlertList)">Añadir señal</button>
                    </div>-->
                    
                </div>
                
            </div>
            <!--<div class="row">
                <div class="col-lg-2 form-group" style="padding-left: 20px;">
                    <label></label>
                    <button style="display: flex;justify-content: center;align-items: center;"
                        class="btn btn-warning"
                        (click)="updateAlertByProfile(AlertList)">Añadir señal</button>
                </div>
                <div class="col-lg-10 form-group"></div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-19">
            <h5 class="TitleLine">Lista de alertas</h5>
            </div>       
        </div>                
        <div class="row" style="display: flex;justify-content: left;align-items: left;">
            <div class="col-lg-12 form-group borderFormat">
                <!--<div class="row mb-2 ">
                    <div class="col-lg-2 form-group" style="padding-left: 20px;">
                        <label></label>
                        <button style="display: flex;justify-content: center;align-items: center;"
                            class="btn btn-warning"
                            (click)="updateAlertByProfile(AlertList)">Guardar</button>
                    </div>
                    <div class="col-lg-10 form-group"></div>
                </div>-->
                <table class="table table-striped" style="font-size: 14px;">
                    <thead>
                        <tr style="color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif;">
                            <!-- <th scope="col" style="text-align: center;">N°</th> -->
                            <th scope="col" style="text-align: center;">Nombre</th>
                            <th scope="col" style="text-align: center;">Descripción</th>
                            <th scope="col" style="text-align: center;">Estado</th>
                        </tr>
                    </thead>
                    <ng-container
                        *ngIf="listAlert!=null && listAlert.length>0; then showGrid else hideGrid">
                    </ng-container>
                </table>
                <ng-template #hideGrid>
                    <tbody>
                        <tr style="text-align: center;">
                            <td colspan="10"></td>
                        </tr>
                    </tbody>
                </ng-template>
                <ng-template #showGrid>
                    <tbody>
                        <tr *ngFor="let item of listAlert; let index = index">
                            <!-- <td>{{item.alertId}}</td> -->
                            <td class="text-center vertical">{{item.alertName}}</td>
                            <td>{{item.alertDescription}}</td>                                       
                            <td class="text-center vertical">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-10"></div>
            <div class="col-lg-2 form-group" style="padding-left: 20px;">
                <label></label>
                <button style="display: flex;justify-content: center;align-items: center;"
                    class="btn btn-warning"
                    (click)="updateAlertByProfile(AlertList)">Guardar</button>
            </div>
        </div>
    </div>
</main>
<br>
<app-footer></app-footer>
