

<div class="">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">Contratante</div>
                <div class="col-lg-2">Producto</div>
                <div class="col-lg-2">Cod. Cliente</div>
                <div class="col-lg-2">Póliza</div>
                <div class="col-lg-3">Comprobante</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-4">Respuesta</div>
                <div class="col-lg-6">Motivo</div>
            </div>
            
        </div>
        
        
    </div>
    <div class="row" >
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">Contratante</div>
                <div class="col-lg-2">Producto</div>
                <div class="col-lg-2">Cod. Cliente</div>
                <div class="col-lg-2">Póliza</div>
                <div class="col-lg-3">Comprobante</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-4">Respuesta</div>
                <div class="col-lg-6">Motivo</div>
            </div>
            
        </div>
    </div>
</div>

