.borderFormat{
  padding-right: 15px;padding-left: 15px;
  padding-right: 15px;
padding-left: 15px;
border: 1px solid #d4d2d2;
margin-top: 20px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
padding: 20px;
width: 100%;
}
.pendiente{

    background-color: #E4C61B;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;
    
    margin: 5px;
    width: 100px;

  }

  .completado{

    background-color: #019713;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;
    
    margin: 5px;
    width: 120px;

  }

  .devuelto{

    background-color: #F5690E;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;    
    margin: 5px;
    width: 130px;

  }

  
  
  .tooltipT {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
  }
  
  .tooltipT .tooltiptextT {
    visibility: hidden;
    width: 400px;
    background-color: #0e0c0c;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 25%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    /*border: 1px solid#0e0c0c;*/
  }
  
  .tooltipT .tooltiptextT::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltipT:hover .tooltiptextT {
    visibility: visible;
    opacity: 1;
  }


  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfile + label {
    font-size: 1.20em;
    font-weight: 400;
    color: balck;
    background-color: white;
    display: inline-block;
  }
  
  .inputfile + label {
    cursor: pointer; /* "hand" cursor */
  }
  
  #saveBtn {
    display: inline;
    position: fixed;
    bottom: 70px;
    right: 200px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
  }
  
  #saveBtn:hover {
    background-color: transparent; /* Add a dark-grey background on hover */
  }