.headerSenials{
    border:none;
  }
  
  .headerSenials:hover{
    border: 1px solid #8a8a8a;
  }  

  table{
   
    width: 100%;
}


th,td{
  table-layout: fixed;
}

.colorButton{
  color: #7c7ea6 !important;
}
