<header>
    <div > 
        <app-navbar></app-navbar> 
    </div>
    
</header>

<main  class="containerNew app-main">
    <section class="" >
        <section class="header">
            <article class="row">
                <button class="btn btn-link text-secondary" style="padding-left: 0px;" routerLink="/home" title="Regresar a la Pantalla Principal">
                    <span class="fas fa-chevron-left"></span> Pantalla Principal
                </button>
            </article>
            <article>
                <div class="row" style="display: flex;justify-content: flex-start;align-items: center;">
                    <div class="col-lg-30">
                        <h4 class="TitleLine">Búsqueda de coincidencias a demanda</h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="row borderFormat" >
            <article class="tab-content" style="margin: 0 auto;width: 100%;">
                <div class="table-responsive" >
                    <table class=" table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col" >
                                    <span class="fontText" >Búsqueda:</span>
                                </th>
                                <th scope="col">
                                    <select class="form-control" (change)="searchTypeChange($event)" [(ngModel)]="NBUSCAR_POR" >
                                        <option value="1">Individual</option>
                                        <option value="2">Masiva</option>
                                    </select>
                                </th>
                                <th [hidden]="hideIndividual" scope="col" >
                                    <span class="fontText" >Tipo Doc:</span>
                                </th>
                                <th [hidden]="hideIndividual" scope="col" >
                                    <select class="form-control" [(ngModel)]="NOMBRE_RAZON">
                                        <option value="2" title="dni">DNI</option>
                                        <option value="1" title="ruc">RUC</option>
                                        <option value="2" title="ruc">CE</option>
                                        <option value="2" title="ruc">PASS</option>
                                    </select>
                                </th>
                                <th [hidden]="hideIndividual" scope="col" >
                                    <span class="fontText" >Número Doc:</span> 
                                </th>
                                <th [hidden]="hideIndividual"  scope="col">
                                    <input class="form-control" type="text" style="text-transform: uppercase;" placeholder="" maxlength="{{validationCantidadCaracteres()}}" size="20"
                                            (keypress)="validaNumericos($event)"[(ngModel)]="numeroDoc" >
                                </th>
                                <th [hidden]="hideIndividual" scope="col" >
                                    <span class="fontText" >Nombre:</span> 
                                </th>
                                <th [hidden]="hideIndividual"  scope="col">
                                    <input class="form-control" type="text" style="text-transform: uppercase;" placeholder="" maxlength="100" size="34"
                                            [(ngModel)]="nombreCompleto" (keypress)="soloLetras($event)" (keydown)="Buscar($event)">
                                </th>
                                <th [hidden]="hideIndividual" *ngIf="mostrarBotonBuscarIndividual()"  scope="col">
                                    <button id="enter" class="btn btn-warning btnBuscarStyle" (click)="validarNulos()" >Buscar</button><!-- obtenerBusquedaCoincidenciaXNombreDemanda() --><!-- BusquedaADemandaMixta --> <!-- obtenerBusquedaCoincidenciaXNumeroDocDemanda -->
                                </th>
                                <th [hidden]="hideMasiva"  scope="col">
                                    <input type="file" accept=".xlsx" onclick="this.value=null;"
                                            (change)="setDataFile($event)" [(ngModel)]="archivoExcel"
                                            style="font-size: 14px !important;" (filesChange)="lastFileAt=getDate()">
                                </th>
                                <th [hidden]="hideMasiva" *ngIf="mostrarBotonBuscarMasiva()"  scope="col">
                                    <button class="btn btn-warning btnBuscarStyle" (click)="validarNulos()">Buscar</button><!-- obtenerBusquedaCoincidenciaXNombreDemanda() --><!-- BusquedaADemandaMixta -->
                                </th>
                                <th [hidden]="hideMasiva" *ngIf="mostrarBotonBuscarMasiva()" scope="col" style="align-items: center;">
                                    <i class="fas fa-file-excel fa-3x" style="color: rgb(10, 117, 76); font-size: 35px;" (click)="DescargarPlantilla()"></i>
                                </th>
                                <th [hidden]="hideMasiva" *ngIf="mostrarBotonBuscarMasiva()" scope="col" style="align-items: center;">
                                    <span class="fontText" style="color: #555555;" (click)="DescargarPlantilla()">Plantila</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </article>
            <article id="cont" class="row pt-3" style="margin: 0 auto; width: 100%;">
                <div class="table-responsive" >
                    <table class="table table-striped table-sm" style="font-size: 12px;">
                        <thead >
                            <tr style="color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif; ">
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1);">Fecha y Hora de Búsqueda</th>
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1);">Usuario que Realizó la Búsqueda</th>
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1);">Tipo Y Número de Documento</th>
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1);">Término</th>
                                <th  scope="col" style="vertical-align: middle; text-align: left;border-bottom: 2px solid rgba(38, 41, 109, 1);">Nombre/Razón Social</th>
                                <!-- <th scope="col" style="vertical-align: middle;">Tipo de Persona</th> -->
                                <!-- <th scope="col" style="vertical-align: middle;">Cargo</th> -->
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1)">% Coincidencia</th>
                                <th  scope="col" style="vertical-align: middle; text-align: left;border-bottom: 2px solid rgba(38, 41, 109, 1)">Lista</th>
                                <th  scope="col" style="vertical-align: middle; text-align: left;border-bottom: 2px solid rgba(38, 41, 109, 1)">Fuente</th>
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1)">Tipo de Coincidencia</th>
                                <th  scope="col" style="vertical-align: middle;border-bottom: 2px solid rgba(38, 41, 109, 1)" >Descargar</th>
                            </tr>
                        </thead>
                        <tbody [hidden]="false">
                            <tr *ngFor="let item of resultadoFinal; let i = index;">
                                <td  scope="col">{{item.DFECHA_BUSQUEDA}}</td>
                                <td  scope="col">{{item.SUSUARIO_BUSQUEDA != '' ? item.SUSUARIO_BUSQUEDA : '-'}} </td>
                                <td  scope="col">{{item.STIPO_DOCUMENTO}} {{item.SNUM_DOCUMENTO}}</td>
                                <td  scope="col"><div placement='top' ngbTooltip="{{item.SNOMBRE_TERMINO}}" *ngIf="item.SPROVEEDOR == 'WC'">{{cortarCararterNombre(item.SNOMBRE_TERMINO)}}</div></td>
                                <td  scope="col"><div placement='top' ngbTooltip="{{item.SNOMBRE_COMPLETO}}">{{cortarCararterNombre(item.SNOMBRE_COMPLETO)}}</div></td>
                                <!-- <td>{{item.STIPO_PERSONA}}</td>
                                <td ><div placement='top' ngbTooltip="{{item.SCARGO}}">{{item.SCARGO ? cortarCararter(item.SCARGO) : '-'}}</div></td> -->
                                <td  scope="col" style="text-align: center;">{{item.SPORCEN_COINCIDENCIA}}</td>
                                <td  scope="col">{{item.SLISTA}}</td>
                                <td  scope="col">{{item.SPROVEEDOR}}</td>
                                <td  scope="col">{{item.STIPOCOINCIDENCIA}}</td>
                                <td class=" text-center" scope="col" >
                                    <img  (click)="exportListToExcelIndividual(i)" src="assets/icons/edit.png" title="Descargar Excel" alt="" style="cursor: pointer;height:20px;width: 17px;"/>
                                </td>
                            </tr>
                        </tbody>
                        <tbody [hidden]="noEncontroRespuesta">
                            <tr>
                                <td class="text-center" colspan="10">No se encontró coincidencias</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>

            
        </section>
        <section class="row pt-2" >
            <article class="row justify-content-between" style="margin: 0 auto; width: 100%; padding-bottom: 100px" >
                <div class="col-md-5 table-responsive" style="padding: 5px 0px 0px 0px;  color: #a0a1cc !important;"> <!-- d-flex justify-content-between  --> <!-- table-responsive -->
                    <button (click)="exportListToExcel()" class="btn  form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar Resultados a Demanda Excel</button><!-- btn-outline-info -->
                </div>
                <div class="col-md-5 table-responsive" style="padding: 5px 30px 0px 0px;  color: #a0a1cc !important;"> 
                    <button (click)="convertirPdf()" class="btn  form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar Resultados a Demanda en PDF </button>
                </div>
             </article>
              <!-- <article class="row" style="margin: 0 auto; width: 100%; padding-bottom: 100px" >
                <div class="col-md-5 table-responsive" style="padding: 5px 0px 0px 0px;  color: #a0a1cc !important;"> 
                    <button (click)="convertirPdf()" class="btn  form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar Resultados a Demanda en PDF </button>
                </div>
            </article>    -->
        </section>
    </section>
</main>

<app-footer></app-footer>