<app-navbar></app-navbar>
<main class="container app-main">
    <div class="row">
        <button class="btn btn-link text-secondary" style="padding-left: 50px;" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span>  Pantalla Principal
        </button>
    </div>
    <div class="container">
        <div class="row mb-2 mt-2" style="display: flex;justify-content: center;">
            <div class="Header">
                <div class="row">
                    <div class="col-lg-19">
                        <h4 class="TitleLine">Complemento sin Señal</h4>
                    </div>
                </div>
               
                <div class="row borderFormat" style="width: 103%">
                    
                    <div class="col-lg-5 form-group">
                        <label class="fontText">Usuario:</label>
                        <select  [(ngModel)]="usuario" name="profile"
                            (change)="Changeuser(usuario)"
                            style="display: flex;justify-content: center;align-items: center;"
                            class="form-control buttonSinBorder">
                            <option value="0" selected>--Todos--</option>
                            <option *ngFor="let item of ListUser" value="{{item.userId}}" id="profileIdSelected">
                                {{item.userFullName}}</option>
                        </select>
                    </div>
                    

                    <div class="col-lg-3 form-group">
                        <label class="fontText">Estado:</label>
                        <select  [(ngModel)]="estado" name="group"
                          (change)="ChangeEstado(estado)"
                            style="display: flex;justify-content: center;align-items: center;"
                            class="form-control buttonSinBorder">
                            <option value="0" selected>--Todos--</option>
                            <option value="2" selected>COMPLETADO</option>
                            <option value="1" selected>PENDIENTE</option>
                            <!-- <option *ngFor="let item of GrupoList" value="{{item.NIDGRUPOSENAL}}" id="groupIdSelected">
                                {{item.SDESGRUPO_SENAL}}</option>  -->
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                       
                    </div>
                  
                    <div class="col-lg-2 form-group">
                        <div style="padding-top: 27px;">
                            <button class="btn btn-warning text-white " style="width: 100%;" (click)="abrirModal('')">Solicitar</button>
                        </div>
                        
                    </div>
                  
                   
                  
                  
                </div>
                
                              
               <div class="row" style="display: flex;justify-content: left;align-items: left;">
                    <div class="col-lg-14 form-group borderFormat">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm" style="font-size: 14px;width: 1000px;">
                                <thead>
                                    <tr style="color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif;">
                                        <th scope="col" style="text-align: left;">Descripción</th>
                                        <th scope="col" style="text-align: left;">Comentario</th>
                                        <th scope="col" style="text-align: left;">Fecha de Creación</th>
                                        <th scope="col" style="text-align: left;">Usuaurio Asignado</th>
                                        <th scope="col" style="text-align: left;">Estado</th>
                                        <!-- <th scope="col" style="text-align: center;">Muestra OC</th> -->
                                        <th scope="col" style="text-align: center;">Documento</th>
                                    </tr>
                                </thead>
                                <ng-container
                                    *ngIf="FiltrolistaComplementoUsuario!=null && FiltrolistaComplementoUsuario.length>0; then showGrid else hideGrid">
                                </ng-container>
                            </table>
                            <ng-template #hideGrid>
                                <tbody>
                                    <tr style="text-align: center;">
                                        <td colspan="10">No hay registros</td>
                                    </tr>
                                </tbody>
                            </ng-template>
                            <ng-template #showGrid>
                                <tbody>
                                    <tr *ngFor="let item of FiltrolistaComplementoUsuario | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let index = index">
                                     
                                        <!-- <td class="text-left vertical;" style="white-space: nowrap;" >{{item.SNOM_COMPLEMENTO}}</td> -->
                                        <td >
                                           
                                            <div class="text-left txtDetalle" style="white-space: nowrap;" placement='top' ngbTooltip="{{item.SNOM_COMPLEMENTO}}" title=""> {{cortarCararter(convert(item.SNOM_COMPLEMENTO))}}</div>
                                              
                                            </td>


                                        <td >
                                            
                                            <div class="text-left txtDetalle"  placement='top' ngbTooltip="{{item.SCOMENTARIO}}" title="">{{cortarCararter(convert(item.SCOMENTARIO))}}</div>
                
                                           
                                        </td>   
                                        <td style="text-align: justify;">{{item.DFECHA_ESTADO_MOVIMIENTO}}</td>                                       
                                        <td style="text-align: justify;">{{item.NOMBRECOMPLETO}}</td>    
                                        <td class="text-left vertical">{{item.SNOMBRE_ESTADO}}</td>
                                        <!-- <td class="text-center vertical">
                                            <a *ngIf="(item.SFILE_NAME_LARGO != '')" style="cursor: pointer" placement="top" ngbTooltip="Descargar archivos del oficial"><i (click)="DescargarArhivo(item,'OC')"
                                                class="fas fa-file-excel"  style="color:green;font-size: 20px;"></i></a>
                                        </td> -->
                                        <td class="text-center vertical">
                                            <a *ngIf="FiltarRutas(item)" style="cursor: pointer" placement="top" ngbTooltip="Descargar archivos del responsable"><i (click)="DescargarArhivo(item,'RE')"
                                                class="fas fa-arrow-down"  style="color:#fd7e14;font-size: 20px;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>

                            <ng-container *ngIf="FiltrolistaComplementoUsuario!=null && FiltrolistaComplementoUsuario.length>0; then showPagination">
                            </ng-container>
                            <ng-template #showPagination class="row">
                                <div class="col align-self-center">
                                  <ngb-pagination  [collectionSize]="FiltrolistaComplementoUsuario.length" [(page)]="page" [maxSize]="5"
                                  aria-label="Default pagination"></ngb-pagination>
                                </div>
                             
                            </ng-template>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>
<br>
<app-footer></app-footer>
