<!-- <div class="container">
    <div class="row">
      <div class="head-section text-center">
        <h1 class="banner-text" *ngIf="banner">Welcome To The Demo</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="profile-img-section">
          <img class="profile-img" *ngIf="profileImg" src="https://dummyimage.com/200x200/33B5FF/ffffff&text=Profile+Picture" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="profile-details-section">
          <div class="text1">
            <div *ngIf="text1">
              {{text1}}
            </div>
          </div>
          <div class="text2">
            <div *ngIf="text2">
              {{text2}}
            </div>
          </div>
          <div class="text3">
            <div *ngIf="text3">
              {{text3}}
            </div>
          </div>
          <div class="text4">
            <div *ngIf="text4">
              {{text4}}
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div> -->



<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="profile-details-section">
      <div class="row" *ngFor="let item of this.filas" >
        <div class="col-3">
          <div class="text5">
          </div>
        </div>

        <div class="col-3">
            <div class="text5">
            </div>
          </div>

          <div class="col-3">
            <div class="text5">
            </div>
          </div>
          <div class="col-3">
            <div class="text5">
            </div>
          </div>
      </div>

     

    

      
    </div>
  </div>
