<div id="{{'ReportInvidivual'+index}}" class="ReportInvidivual">
  <div class="header">
   
    <div class="title p-3">
      <div class="row justify-content-md-center">

        <div class="col" style="padding: 0px 193px 0px 195px;">
          <p class="TitleLine">RESULTADO DE LA BÚSQUEDA</p>
        </div>
      </div>

    </div>
    <div class="row" style="padding: 0px 200px;font-size: 14px;" >
      <div class="col">
        <div class="textoCabecera" style="background: #E6E6E6;">Fecha/Hora &nbsp; &nbsp; &nbsp; : <label id="RIfecha">{{data.dfechA_BUSQUEDA}}</label>
        </div>
        <div class="textoCabecera">Usuario &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: <label id="RInombre">{{data.susuariO_BUSQUEDA}}</label>
        </div>
        <div class="textoCabecera" style="background: #E6E6E6;">Perfil &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; : <label id="RIperfil">{{RegistrosUnitarios.userName}}</label></div>
        <div class="textoCabecera">Cargo &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : <label id="RIcargo">{{RegistrosUnitarios.userCargo}}</label></div>
        <div class="textoCabecera" style="background: #E6E6E6;">Correo &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;: <label id="RIemail">{{RegistrosUnitarios.userEmail}}</label></div>
      </div>


    </div>

    <div class="cuerpo_one" style="padding-left: 80px;padding-right: 30px;font-size: 14px;">
      <div style="padding-bottom: 15px;">
        <h5>Persona que realizó la búsqueda</h5>
      </div>
  
  
      <div class="row" style="padding-right: 6px;font-size: 14px;">
        <div class="col">
          <div class="textoCabecera" style="background: #E6E6E6;">Tipo de Documento &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; <label id="RItipoDoc">-</label></div>
          <div class="textoCabecera">Número de documento &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp;
            <label id="RInumeroDoc">{{data.snumdoC_BUSQUEDA}}</label></div>
          <div class="textoCabecera" style="background: #E6E6E6;">Nombre / Razón Social &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; : &nbsp; <label id="RIRazonDoc">{{data.snombrE_BUSQUEDA}}</label></div>
        
  
        </div>
      </div>
    </div>
    
    
    <div class="cuerpo_two" style="padding-left: 80px;padding-right: 30px;font-size: 14px;">
      <div style="padding-bottom: 11px;">
        <h5 style="">Coincidencia encontrada</h5>
      </div>
  
      <!-- <div class="row" style="padding-right: 6px;">
        <div class="col"> -->
          <div class="textoCabecera" style="background: #E6E6E6;">Tipo de Documento &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; <label id="RItipoDocCon">{{data.stipO_DOCUMENTO == null ? '-' : data.stipO_DOCUMENTO}}</label></div>
          <div class="textoCabecera">Número de documento &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp;
            <label id="RInumeroDocCon">{{data.snuM_DOCUMENTO == null ? '-' : data.snuM_DOCUMENTO}}</label></div>
          <div class="textoCabecera" style="background: #E6E6E6;">Nombre / Razón Social &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; : &nbsp; <label id="RIRazonDocCon">{{data.snombrE_COMPLETO == null ? '-' : data.snombrE_COMPLETO}}</label></div>
          <div class="textoCabecera">Tipo lista &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
            &nbsp; <label id="RIRItipoListaCon">{{data.sdestipolista == null ? '-' : data.sdestipolista}}</label></div>
          <div class="textoCabecera" style="background: #E6E6E6;">Porcentaje coincidencia &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
            &nbsp; <label id="RIporcentajeCon">{{data.sporceN_COINCIDENCIA == null ? '-' : data.sporceN_COINCIDENCIA}}</label></div>
  
          <div class="textoCabecera">Fuente &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
            &nbsp; <label id="RIfuenteCon">{{data.sdesproveedor == null ? '-' : data.sdesproveedor}}</label></div>
          <div class="textoCabecera" style="background: #E6E6E6;">Tipo Coincidencia &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
            &nbsp; <label id="RItipoCon">{{data.stipocoincidencia == null ? '-' : data.stipocoincidencia}}</label></div>

            <div class="textoCabecera" *ngIf="(data.nidproveedor == 4)">Información &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
              &nbsp; <label id="RIInformacion">{{data.sinformacion == null ? '-' : data.sinformacion}}</label></div>
    
           <div *ngIf="(data.sdestipolista == 'LISTAS PEP' && data.stipO_DOCUMENTO == 'DNI')" class="textoCabecera" style="background: #E6E6E6;" id="CargoPep">Cargo Pep &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
            &nbsp; <label id="RIcargoCon">{{data.scargo == null ? '-' : data.scargo}}</label></div>
          
        <!-- </div>
    </div> -->
    


    </div>


  </div>
</div>

<button class="btn-danger btn-primary" (click)="Export()">Descargar REporte busqueda2</button>

