
    <div style="font-size:14.0pt;">
    <div>
        
        <img *ngIf="Validar !== 2" src="http://plataformasplaft.protectasecurity.pe/assets/img/protecta.png" width="200" height="50"> 
        <!-- <div>
            <u> 
                <strong style="font-family: arial Narrow, serif; text-align: center;">SEÑALES DE ALERTA - MONITORITOREO DE SEÑALES DE ALERTA</strong>
            </u>
            <br/>
        </div> -->
    </div>

    <div>
       <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" >
            <p> 
                <strong style="font-family: arial Narrow, serif; font-size: 14.5px;">1.1.2.	Investigados</strong>
            </p>  
              <!-- ESTO ES PARA LA C2 -->
              <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                <FONT FACE="Arial Narrow, serif" style="font-size: 14.5px;">
                    <tbody>
                        <tr>
                            <td width="50px" style="padding-left: 10px; padding-right: 10px; text-align: center;">
                                <p>
                                    <strong>CÓDIGO</strong>
                                </p>
                            </td>
                            <td width="400px" style="padding-left: 10px; padding-right: 10px; text-align: center;">
                                <p>
                                    <strong>SEÑAL DE ALERTA</strong>
                                </p>
                            </td>
                            <td width="250px" style="padding-left: 10px; padding-right: 10px; text-align: center;">
                                <p align="center">
                                    <strong>PRODUCTO</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    C2
                                </p>
                            </td>
                            <td width="400px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    Que se tome conocimiento por los medios de difusión pública u otro, según sea el caso,
                                    que un cliente está siendo investigado o procesado por el delito de lavado de activos,
                                    delitos precedentes, el delito de financiamiento del terrorismo y/o delitos conexos.
                                </p>
                            </td>
                            <td width="250px" style="padding-left: 10px; padding-right: 10px; text-align: center">
                                <p>
                                    Todos los productos
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </FONT>
            </table>
        </div>

        <div class="container" style="padding: 0px 200px;">
            <br>
            <strong style="font-family: arial Narrow, serif; font-size: 14.5px;">Monitoreo Señales de alerta C2</strong>
            <ol type="a" style="font-size: 14.5px;">
                <li style="font-size: 14.5px;font-family: arial Narrow, serif; text-align: justify">Se realiza
                    la búsqueda del Registro Negativo y base de PEP y Familiares de PEP contra la base de clientes con la finalidad
                    de identificar la señal de alerta en cuestión. Para esto, la Oficialía de Cumplimiento es responsable de cargar en el sistema LAFT la lista de nombres contenidos en dicho registro.
                </li>
                <li style="font-size: 14.5px;font-family: arial Narrow, serif; text-align: justify">Esta señal de alerta se revisa
                    mediante el “Procedimiento para el monitoreo de Listas Especiales de Seguridad” según lo indicado en el documento
                    Sistema de Monitoreo de Operaciones – SPLAFT.
                </li>
                <li style="font-size: 14.5px;font-family: arial Narrow, serif; text-align: justify">Complementariamente, esta señal de alerta se revisa
                    mediante la búsqueda de clientes con información negativa en fuentes públicas.
                </li>
                <li style="font-size: 14.5px;font-family: arial Narrow, serif; text-align: justify">En caso se identifique señal de alerta y no sea 
                    descartado como falso positivo, se procederá a analizar la inusualidad de la operación.
                </li>
            </ol>
            <strong style="font-size: 14.5px;font-family: arial Narrow, serif;"> Resultados Señales de alerta C2</strong>
        </div>
        <br>
        
        <strong style="font-size: 14.5px; font-family: arial Narrow, serif;">1.	REVISIÓN DE CLIENTES PROTECTA</strong>
        <br>
        <br>
        <strong style="font-size: 14.5px; font-family: arial Narrow, serif;">REVISIÓN CLIENTES REGIMEN SIMPLIFICADO</strong>

        <div>
            <ul>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                De acuerdo a los resultados reportados por el sistema LAFT, se realizaron las búsquedas en worldcheck, fuentes públicas 
                y registro negativo e Idecon con la base de clientes vigente al cierre del {{parent.Periodo}}.
                </li>
            </ul>

            <table border="solid windowtext 1pt" style="border: solid windowtext 1pt;width: 551.9pt;margin-left: -60.3pt;border-collapse: collapse;margin-right: 10%;">
                <FONT FACE="Arial Narrow, serif" style="font-size: 11.5px; ">
                    <tbody>
                        <tr>
                            <td style="width: 35pt;border: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">N&ordm;</span></strong>
                                </p>
                            </td>
                            <td style="width: 24.1pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">TIPO DOC.</span></strong>
                                </p>
                            </td>
                            <td colspan="3" style="width: 44.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">N&ordm; DOC.</span></strong>
                                </p>
                            </td>
                            <td colspan="2" style="width: 145.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">NOMBRE COMPLETO</span></strong>
                                </p>
                            </td>
                            <td style="width: 25.35pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">CONDICI&Oacute;N PEP</span></strong>
                                </p>
                            </td>
                            <td colspan="2" style="width: 60.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">PRODUCTO</span></strong>
                                </p>
                            </td>
                            <td style="width: 105.05pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">FUENTE DE INFORMACI&Oacute;N</span></strong>
                                </p>
                            </td>
                            <td style="width: 205.05pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color:white">COMENTARIO</span></strong>
                                </p>
                            </td>
                        </tr>
                        <tr *ngFor="let item of parent.listaSimplificada;let i = index">
                            <td style="width: 35pt;border-right: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-left: solid windowtext 1pt;border-image: initial;border-top: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{ i + 1 }}</span>
                                </p>
                            </td>
                            <td style="width: 24.1pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{item.STIPO_DOCUMENTO}}</span>
                                </p>
                            </td>
                            <td colspan="3" style="width: 44.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 14.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{item.DOCUMENTO_PRUEBA}}</span>
                                </p>
                            </td>
                            <td colspan="2" style="width: 145.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{item.SNOM_COMPLETO_BUSQ}}</span>
                                </p>
                            </td>
                            <td style="width: 25.35pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px"> {{item.SORIGEN == 'PEP LATEST' ? 'Si' : 'No' && item.SORIGEN == 'PEP' ? 'Si' : 'No' && item.SORIGEN == 'CONSULADO PEP' ? 'Si' : 'No' }}</span>
                                </p>
                            </td>
                            <td colspan="2" style="width: 60.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px"> {{item.SDESPRODUCTO}}</span>
                                </p>
                            </td>
                            <td style="width: 105.05pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px" > {{item.SDESPROVEEDOR}}</span>
                                </p>
                            </td>
                            <td style="width: 205.05pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px" >{{item.SREPORT_COINCIDENCE}}</span>
                                </p>
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px" > {{item.SDOC_REFERENCIA}}</span>
                                </p>
                            </td>
                        </tr>
  
                    </tbody>
                </FONT>
            </table>
            <br>
        </div>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify"><strong><u>Comentario Régimen Simplificado</u></strong></p>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify"> </p>
            <ul>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                    De los {{parent.listaSimplificada.length}} clientes, reportados por el sistema LAFT, solo se identificaron {{parent.listaCoincidenceRegNegSF.length}} coincidencias exactas entre el Registro Negativo al 
                    cierre del {{parent.Periodo}}, de los {{parent.listaSimplificada.length - parent.listaCoincidenceRegNegSF.length}} clientes restantes, se ha realizado las búsquedas masivas en el sistema LAFT, en fuentes 
                    públicas, worldcheck y no se encontró información. 
                </li>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                    Asimismo, se identificó a {{parent.listaACCIONSimplificada.length}} clientes que registran información negativa relacionado al presunto delito de Lavado de Activos, se detalla: 
                </li>
            </ul>

        <table border="solid windowtext 1pt" style="border: solid windowtext 1pt;width: 551.9pt;margin-left: -60.3pt;border-collapse: collapse;margin-right: 10%;">
            <FONT FACE="Arial Narrow, serif" style="font-size: 11.5px; ">
                <tbody>
                    <tr>
                        <td style="width: 35pt;border: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">N&ordm;</span></strong>
                            </p>
                        </td>
                        <td style="width: 24.1pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">TIPO DOC.</span></strong>
                            </p>
                        </td>
                        <td colspan="3" style="width: 26.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">N&ordm; DOC.</span></strong>
                            </p>
                        </td>
                        <td colspan="2" style="width: 105.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">NOMBRE COMPLETO</span></strong>
                            </p>
                        </td>
                        <td style="width: 55.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">PRODUCTO</span></strong>
                            </p>
                        </td>
                        <td style="width: 95.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">COMENTARIO RN</span></strong>
                            </p>
                        </td>
                        <td style="width: 225.35pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">INFORMACI&Oacute;N ADICIONAL</span></strong>
                            </p>
                        </td>
                    </tr>
                    <tr *ngFor="let item of parent.arrayAccionSimplificada;let i = index">
                        <td style="width: 35pt;border-right: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-left: solid windowtext 1pt;border-image: initial;border-top: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{ i + 1 }}</span>
                            </p>
                        </td>
                        <td style="width: 24.1pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.STIPO_DOCUMENTO}}</span>
                            </p>
                        </td>
                        <td colspan="3" style="width: 26.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 14.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.DOCUMENTO_PRUEBA}}</span>
                            </p>
                        </td>
                        <td colspan="2" style="width: 105.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.SNOM_COMPLETO_BUSQ}}</span>
                            </p>
                        </td>
                        <td style="width: 55.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.SDESPRODUCTO}}</span>
                            </p>
                        </td>
                        <td style="width: 95.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.SDOC_REFERENCIA}}</span>
                            </p>
                        </td>
                        <td style="width: 225.35pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px"> </span>
                            </p>
                        </td>
                    </tr>

                </tbody>
            </FONT>
        </table>

        <p><br></p>
        <strong style="font-size: 14.5px; font-family: arial Narrow, serif;">Conclusión Régimen Simplificado </strong>
        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify;">
            Las coincidencias de identificación de clientes con el registro negativo no configuran como operación inusual, pues los productos son 
            de bajo riesgo, las características guardan relación con la actividad económica del cliente, las operaciones cuentan con fundamento económico 
            y las características de las operaciones no conducen razonablemente a sospechar de LAFT.
        </p>
        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify;">
            De acuerdo a la evaluación realizada, no se consideran señales de alertas. Se mantiene el nivel de riesgo.
        </p>
        
        <strong style="font-size: 14.5px; font-family: arial Narrow, serif;">REVISION CLIENTES REGIMEN GENERAL</strong>
        <div>
            <ul>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                De acuerdo a los resultados reportados por el sistema LAFT, se realizaron las búsquedas en worldcheck, fuentes públicas 
                y registro negativo, Idecon con la base de clientes vigente al cierre del {{parent.Periodo}}.  
                </li>
            </ul>
           <!--  *ngIf="parent.listaGeneral.length !=0; else SinData" -->
            <table border="solid windowtext 1pt" style="border: solid windowtext 1pt;width: 551.9pt;margin-left: -60.3pt;border-collapse: collapse;margin-right: 10%;">
                <FONT FACE="Arial Narrow, serif" style="font-size: 11.5px; ">
                    <tbody>
                        <tr>
                            <td style="width: 35pt;border: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">N&ordm;</span></strong>
                                </p>
                            </td>
                            <td style="width: 24.1pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">TIPO DOC.</span></strong>
                                </p>
                            </td>
                            <td colspan="3" style="width: 44.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">N&ordm; DOC.</span></strong>
                                </p>
                            </td>
                            <td colspan="2" style="width: 145.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">NOMBRE COMPLETO / RAZ&Oacute;N SOCIAL</span></strong>
                                </p>
                            </td>
                            <td style="width: 25.35pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">CONDICI&Oacute;N PEP</span></strong>
                                </p>
                            </td>
                            <td colspan="2" style="width: 60.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">PRODUCTO</span></strong>
                                </p>
                            </td>
                            <td style="width: 105.05pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color: white">FUENTE DE INFORMACI&Oacute;N</span></strong>
                                </p>
                            </td>
                            <td style="width: 205.05pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                    <strong><span style="font-size: 11.5px; color:white">COMENTARIO</span></strong>
                                </p>
                            </td>
                        </tr>
                        <tr *ngFor="let item of parent.listaGeneral;let i = index ">
                            <td style="width: 35pt;border-right: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-left: solid windowtext 1pt;border-image: initial;border-top: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{ i + 1 }}</span>
                                </p>
                            </td>
                            <td style="width: 24.1pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{item.STIPO_DOCUMENTO}}</span>
                                </p>
                            </td>
                            <td colspan="3" style="width: 44.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 14.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{item.DOCUMENTO_PRUEBA}}</span>
                                </p>
                            </td>
                            <td colspan="2" style="width: 145.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px">{{item.SNOM_COMPLETO_BUSQ}}</span>
                                </p>
                            </td>
                            <td style="width: 25.35pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px"> {{item.SORIGEN == 'PEP LATEST' ? 'Si' : 'No' && item.SORIGEN == 'PEP' ? 'Si' : 'No' && item.SORIGEN == 'CONSULADO PEP' ? 'Si' : 'No' }}</span>
                                </p>
                            </td>
                            <td colspan="2" style="width: 60.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px"> {{item.SDESPRODUCTO}}</span>
                                </p>
                            </td>
                            <td style="width: 105.05pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px" > {{item.SDESPROVEEDOR}}</span>
                                </p>
                            </td>
                            <td style="width: 205.05pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px" >{{item.SREPORT_COINCIDENCE}}</span>
                                </p>
                                <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                    <span style="font-size: 11.5px" > {{item.SDOC_REFERENCIA}}</span>
                                </p>
                            </td>
                        </tr>
  
                    </tbody>
                </FONT>
            </table>
        </div>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify"><strong><u>Comentario Régimen General</u></strong></p>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify"> </p>
            <ul>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                    De los {{parent.listaGeneral.length}} clientes, reportados por el sistema LAFT, solo se identificaron {{parent.listaCoincidenceRegNegGN.length}} coincidencias exactas entre el Registro Negativo al cierre del {{parent.Periodo}}, 
                    de los {{parent.listaGeneral.length - parent.listaCoincidenceRegNegGN.length}} clientes restantes, se ha realizado las búsquedas masivas en el sistema LAFT, en fuentes públicas y worldcheck y no se encontró información. 
                </li>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                    Asimismo, se identificó a {{parent.listaACCIONGeneral.length}} clientes que registran información negativa relacionado al presunto delito de Lavado de Activos, se detalla:
                </li>
            </ul>

        <table border="solid windowtext 1pt" style="border: solid windowtext 1pt;width: 551.9pt;margin-left: -60.3pt;border-collapse: collapse;margin-right: 10%;">
            <FONT FACE="Arial Narrow, serif" style="font-size: 11.5px; ">
                <tbody>
                    <tr>
                        <td style="width: 35pt;border: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 26.45pt;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">N&ordm;</span></strong>
                            </p>
                        </td>
                        <td style="width: 24.1pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">TIPO DOC.</span></strong>
                            </p>
                        </td>
                        <td colspan="3" style="width: 26.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">N&ordm; DOC.</span></strong>
                            </p>
                        </td>
                        <td colspan="2" style="width: 105.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">NOMBRE COMPLETO</span></strong>
                            </p>
                        </td>
                        <td style="width: 55.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">PRODUCTO</span></strong>
                            </p>
                        </td>
                        <td style="width: 95.5pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;font-family: 'Arial Narrow', sans-serif;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">COMENTARIO RN</span></strong>
                            </p>
                        </td>
                        <td style="width: 225.35pt;border: solid windowtext 1pt;border-left: solid windowtext 1pt;background-color:#002060;padding-left: 5px; padding-right: 5px;height: 0;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: center;">
                                <strong><span style="font-size: 11.5px; color: white">INFORMACI&Oacute;N ADICIONAL</span></strong>
                            </p>
                        </td>
                    </tr>
                    <tr *ngFor="let item of parent.arrayAccionGeneral;let i = index">
                        <td style="width: 35pt;border-right: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-left: solid windowtext 1pt;border-image: initial;border-top: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{ i + 1 }}</span>
                            </p>
                        </td>
                        <td style="width: 24.1pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.STIPO_DOCUMENTO}}</span>
                            </p>
                        </td>
                        <td colspan="3" style="width: 26.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 14.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.DOCUMENTO_PRUEBA}}</span>
                            </p>
                        </td>
                        <td colspan="2" style="width: 105.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.SNOM_COMPLETO_BUSQ}}</span>
                            </p>
                        </td>
                        <td style="width: 55.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.SDESPRODUCTO}}</span>
                            </p>
                        </td>
                        <td style="width: 95.5pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px">{{item.SDOC_REFERENCIA}}</span>
                            </p>
                        </td>
                        <td style="width: 225.35pt;border-top: solid windowtext 1pt;border-left: solid windowtext 1pt;border-bottom: solid windowtext 1pt;border-right: solid windowtext 1pt;padding-left: 5px; padding-right: 10px;height: 12.75pt;vertical-align: top;">
                            <p style="margin-top: 0cm;margin-right: 0cm;margin-bottom: 0cm;margin-left: 0cm;line-height: normal;font-size: 11.5px;text-align: justify;">
                                <span style="font-size: 11.5px"> </span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </FONT>
        </table>
        <p><br></p>

        <strong style="font-size: 14.5px; font-family: arial Narrow, serif;">Conclusión Régimen General </strong>
        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify;">
            Las coincidencias de identificación de clientes con el registro negativo no configuran como operación inusual, pues los productos son de riesgo medio, 
            las características guardan relación con la actividad económica del cliente, las operaciones cuentan con fundamento, sustento económico y 
            las características de las operaciones no conducen razonablemente a sospechar de LAFT.
        </p>
        <p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify;">
            De acuerdo a la evaluación realizada, no se consideran señales de alertas. Se mantiene el nivel de riesgo.
        </p>

        <strong style="font-family: arial Narrow, serif;font-size: 14.5px;"> LISTAS ESPECIALES DE SEGURIDAD</strong>

        <div>
            <ul>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">   
                    {{parent.listaInternacionalRentaParticularIDECON.length >= '1' ? 'Sí' : 'No'}} se identificaron señales de alerta. Para mayor detalle revisar el anexo “Listas especiales – al cierre del {{parent.Periodo}}.
                </li>
                <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">   
                    Por lo tanto, se concluye que por la señal de alerta “C2” no se identificaron casos. 
                </li>
            </ul>

            <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="parent.listaInternacionalRentaParticularIDECON.length !=0;else SinData">
                <table border="1" cellspacing="0" cellpadding="0" align="left" width="1000px">
                    <FONT FACE="Arial Narrow, serif" style="font-size: 11.5px;">
                        <tbody>
                            <tr>
                                <td width="15%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                     <p>
                                        <strong>TIPO DOC.</strong>
                                    </p>
                                </td>
                                <td width="15%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                    <p>
                                        <strong>NRO. DOC.</strong>
                                    </p>
                                </td>
                                <td width="35%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                    <p>
                                        <strong>NOMBRE COMPLETO / RAZÓN SOCIAL</strong>
                                    </p>
                                </td>
                                <td width="35%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                    <p>
                                        <strong>PRODUCTO</strong>
                                    </p>
                                </td>
                                
                            </tr>
                            <tr *ngFor="let item of parent.listaInternacionalRentaParticularIDECON">
                                <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                    <p>
                                        {{item.STIPO_DOCUMENTO}}
                                    </p>
                                </td>
                                <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                    <p>
                                        {{item.SNUM_DOCUMENTO_BUSQ}}
                                    </p>
                                </td>
                                <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                    <p>
                                        {{item.SNOM_COMPLETO_BUSQ}}
                                    </p>
                                </td>
                                <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                    <p>
                                        {{item.DESRAMO}}
                                    </p>
                                </td>
                                
                            </tr>
                        </tbody>
                    </FONT>
                </table>
                <br>
            </div>
        </div>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif;">Los archivos de trabajo se ubican en:</p>
        <ul>
            <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">
                <a href="http://plataformasplaft.protectasecurity.pe/"> http://plataformasplaft.protectasecurity.pe/</a>
            </li>
            <li style="font-size: 14.5px; font-family: arial Narrow, serif;">
                P:\19. RIESGOS OPERATIVOS Y LAVADO DE ACTIVOS\19.04 SPLAFT\19.04.04 LAFT\05.Informes Trimestrales Protecta
            </li>
        </ul>
</div>

