<app-navbar></app-navbar>
<main class="container-fluid app-main pl-5 pr-5">
    <div class="row  pl-5 pr-5">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
      <span class="fas fa-chevron-left"></span> Pantalla Principal
    </button>
    </div>
    <br>
    <div class="d-flex">
        

      
        <div class="col-3" style="padding-top: 28px;">
            <div class="custom-file mb-3">

                <input type="file" class="custom-file-input" id="customFile" name="filename" accept=".xlsx" value="seleccionar" (change)="setDataFile($event)">
                <label class="custom-file-label" for="customFile" style="background-color:#e9ecef">{{this.NombreArchivo == '' ? "Adjuntar Archivo" : this.NombreArchivo }}</label>
            </div>
        </div>

        <div class="col-1" style="padding-top: 28px;">
            <button class="btn btnRegistrar" (click)="RegistrarArchivo()">Registrar</button>

        </div>
       
     

    </div>
    
</main>
<br>
<app-footer></app-footer>