<!-- <p>c2-info-policy works!</p> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- <div class="containerPadre idDetallePoliza" style="display:none;"> -->
    <div class="row quitarMarginRow colorTemplate" >
        <div class="col-md-3" >
            <button class="ButtonSinFondo" id="idVolverListaPoliza" type="submit"><span style="font-size:20px; color:#707070;display: inline-grid;" class="glyphicon glyphicon-chevron-left"></span></button>
            <div class="card CardFlotante" style="background-color:white; display: inline-grid;" >
                <div class="card-body" style="padding-left: 15px;padding-right: 15px;" >
                    <h4 class="title-grid" style="margin-bottom:0px;"><strong id="SBranch">{{desCor}}</strong></h4>
                    <p class="card-text textTitle" style=" margin-bottom: 10% !important;">
                        <span class="spancontent" id="PTitleProd" style="font-size: small !important;">{{prod}}</span>
                    </p>
                    <input type="hidden" id="CodigosPoliza" />
                    <p class="card-text textTitle"><span>N° Poliza</span><span class="spancontent" id="PCardNroPoliza" >{{ResultadoDetail.nroPolicy}}</span></p>
                    <p class="card-text textTitle"><span>N° Certificado</span><span class="spancontent" id="PCardNroCertif"><!-- {{ResultadoDetail.nroCertificate}} --></span></p>
                    <p class="card-text textTitle"><span>Estado</span><span class="spancontent" id="PCardEstado">{{status}}</span></p>
                    <p class="card-text textTitle"><span>Contratante</span><span class="spancontent" id="PCardContratante"><!-- {{contratante.name}} --></span></p>
                    <p class="card-text textTitle" id="CardRol" style="display:none"><span>Rol</span><span class="spancontent" id="PCardRol"><!-- {{ResultadoDetail.rol}} --></span></p>
                    <p class="card-text textTitle" id="CardPlaca" style="display:none"><span>Placa</span><span class="spancontent" id="PCardPlaca"><!-- {{vehiculo.placa}} --></span></p>
                    <p class="card-text textTitle" id="CardPlanilla" style="display:none"><span>Planilla</span><span class="spancontent" id="PCardPlanilla">{{ResultadoDetail.planilla}}</span></p>
                    <p class="card-text textTitle" id="CardNumCredito" style="display:none"><span>Número de Crédito</span><span class="spancontent" id="PCardNumCred"></span></p>
                    <p class="card-text textTitle"><span>Fecha de Emisión</span><span class="spancontent" id="PCardFecEmi">{{ResultadoDetail.fechaEmision}}</span></p>
                    <p class="card-text textTitle" id="CardPrimVig"><span>Fecha de Primera Vigencia</span><span class="spancontent" id="PCardFecPrimVig">{{ResultadoDetail.fechaPrimeraVigencia}}</span></p>
                    <p class="card-text textTitle"><span>Inicio de Vigencia</span><span class="spancontent" id="PCardFecIniVig">{{ResultadoDetail.fechaInicioVigencia}}</span></p>
                    <p class="card-text textTitle" style="margin-bottom: 10%;"><span>Fin de Vigencia</span><span class="spancontent" id="PCardFecFinVig">{{ResultadoDetail.fechaFinVigencia}}</span></p>
                    <p class="card-text textTitle" style="margin-bottom: 10%;"><span>Moneda</span><span class="spancontent" id="PCardMoneda">{{ResultadoDetail.monedaPoliza}}</span></p>
                    <p class="card-text textTitle"><span>Último Pago</span><span class="spancontent" id="PCardUltPago"><!-- {{rentaTotal.fecAbono}} --></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="padding-right: 0px !important; margin-bottom: 3% !important;">
            <div id="Template" style="background: white;">
                <div class="Pestañas">
                    <ul class="nav nav-tabs nav-justified" id="TabsDetalle">
                        <li class="active" id="PestanaDatosPoliza"><a class="tabPoliza" style="color:#27246d" data-toggle="tab" href="#pestInfo" (click)="pruebadatos()" >Información</a></li>
                        <!-- <li id="PestanaSiniestro" class="active"><a class="tabPoliza" style="color:#27246d" data-toggle="tab" href="#pestSiniestro" aria-expanded="true">Siniestros</a></li> -->
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="pestInfo" class="tab-pane fade in active">
                        <div class="PaddingPestana">
                            <div id="InfoGenerales" style="display:none;">
                                <h4 class="title-grid"><strong>Información de la Póliza</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Inicio de Vigencia</span><span class="spancontent" id="PGenIniVig"></span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Fin  de Vigencia</span><span class="spancontent" id="PGenFinVig"></span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo de negocio</span><span class="spancontent" id="PGenTipNeg"></span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Coaseguro</span><span class="spancontent" id="PGenCoaseg"></span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Tipo de Póliza</span><span class="spancontent" id="PGenTipPol"></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo de Facturación</span><span class="spancontent" id="PGenTipFact"></span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Tipo de Reaseguro</span><span class="spancontent" id="PGenTipReaseg"></span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo de Renovación</span><span class="spancontent" id="PGenTipRenov"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="InfoListaCertificados" style="display:none; margin-top:5%">
                                <div class="table-responsive">
                                    
                                    <table class="table table-hover table-striped" id="TableCertificados" style="width:100% !important" data-page-length="10">
                                        <thead>
                                            <tr>
                                                <th colspan="3" class="nobor">
                                                <th colspan="2" class="supercabecera">Vigencia</th>
                                                <th colspan="2" class="nobor"></th>
                                            </tr>
                                            <tr class="htable headgrid" style="background:transparent;">
                                                <th class="text-center"># Cert.</th>
                                                <th class="text-center">Doc. Identidad</th>
                                                <th class="text-center">Asegurado</th>
                                                <th class="text-center">Inicio</th>
                                                <th class="text-center">Fin</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-center">Fecha Anulacion</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblCertificados">
                                            <tr>
                                                <td class="text-center" colspan="2">No tiene Certificados</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div id="InfoAsegurado" >
                                <h4 class="title-grid"><strong id="h4Asegurado">Datos del Asegurado</strong></h4>
                                
                                 <div class="row">
                                    <div class="col-lg-3" id="DAsegNom">
                                        <p class="card-text textTitle"><span>Nombre</span><span class="spancontent" id="PAsegNombre"><!-- {{asegurado.name}} --></span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegEstCivil">
                                        <p class="card-text textTitle"><span>Estado Civil</span><span class="spancontent" id="PAsegEstCivil">{{asegurado.estadoCivil}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegDocum" style="display:none;">
                                        <p class="card-text textTitle"><span>Doc. Identidad</span><span class="spancontent" id="PAsegDocum">{{asegurado.tipodoc}} - {{asegurado.documento}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegGenero" style="display:none;">
                                        <p class="card-text textTitle"><span>Género</span><span class="spancontent" id="PAsegGenero">{{asegurado.sexo}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegFecNac">
                                        <p class="card-text textTitle"><span>Fec. Nacimiento</span><span class="spancontent" id="PAsegFecNam">{{asegurado.fechanacimiento}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegCUSPP" style="display:none;">
                                        <p class="card-text textTitle"><span>CUSPP</span><span class="spancontent" id="PAsegCUSPP">{{asegurado.cuspp}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegIniVigSCTR" style="display:none;">
                                        <p class="card-text textTitle"><span>Inicio Vigencia</span><span class="spancontent" id="PAsegIniVigSCTR">{{asegurado.fechaInicioVigencia}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegFinVigSCTR" style="display:none;">
                                        <p class="card-text textTitle"><span>Fin Vigencia</span><span class="spancontent" id="PAsegFinVigSCTR">{{asegurado.fechaFinVigencia}}</span></p>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3" id="DAsegIniVig" style="display:none;">
                                        <p class="card-text textTitle"><span>Inicio Vigencia</span><span class="spancontent" id="PAsegIniVig">{{ResultadoDetail.fechaInicioVigencia}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegFinVig" style="display:none;">
                                        <p class="card-text textTitle"><span>Fin Vigencia</span><span class="spancontent" id="PAsegFinVig">{{ResultadoDetail.fechaFinVigencia}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegTipPension" style="display:none;">
                                        <p class="card-text textTitle"><span>Tipo de Pensión</span><span class="spancontent" id="PAsegTipPension">{{pensionTipo.descripcion}}</span></p>
                                    </div>
                                    <div class="col-lg-4" id="DAsegTipRenta" style="display:none;">
                                        <p class="card-text textTitle"><span>Tipo de Renta</span><span class="spancontent" id="PAsegTipRenta">{{pension.tipoRenta}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3" id="DAsegModalidad" style="display:none;">
                                        <p class="card-text textTitle"><span>Modalidad</span><span class="spancontent" id="PAsegModalidad">{{pension.modalidad}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegAnDif" style="display:none;">
                                        <p class="card-text textTitle"><span>Años Diferidos</span><span class="spancontent" id="PAsegAnDif">{{pension.aniosDiferidos}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegMesGarant" style="display:none;">
                                        <p class="card-text textTitle"><span>Meses Garantizados</span><span class="spancontent" id="PAsegMesGarant">{{pension.mesesGarantizados}}</span></p>
                                    </div>
                                    <div class="col-lg-4" id="DAsegMoneda" style="display:none;">
                                        <p class="card-text textTitle"><span>Moneda</span><span class="spancontent" id="PAsegMoneda">{{pension.moneda}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3" id="DAsegReajTemp" style="display:none;">
                                        <p class="card-text textTitle"><span>Reajuste Trimestral</span><span class="spancontent" id="PAsegReajTemp">{{pension.reajusteTrimestral}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegPrimDef" style="display:none;">
                                        <p class="card-text textTitle"><span>Prima Definitiva</span><span class="spancontent" id="PAsegPrimDef">{{pension.primaDefinitiva}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegPenDef" style="display:none;">
                                        <p class="card-text textTitle"><span>Pensión Definitiva</span><span class="spancontent" id="PAsegPenDef">{{pension.pensionDefinitiva}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3" id="DAsegMonedaSal" style="display:none;">
                                        <p class="card-text textTitle"><span>Moneda</span><span class="spancontent" id="PAsegMonedaSal">{{ResultadoDetail.monedaSalario}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegSalario" style="display:none;">
                                        <p class="card-text textTitle"><span>Salario</span><span class="spancontent" id="PAsegSalario">{{asegurado.salario}}</span></p>
                                    </div>
                                    <div class="col-lg-2" id="DAsegTasa" style="display:none;">
                                        <p class="card-text textTitle"><span>Tasa</span><span class="spancontent" id="PAsegTasa">{{asegurado.tasa}}</span></p>
                                    </div>
                                </div>

                            </div>
                            <div id="InfoCredito" style="display:none;">
                                <h4 class="title-grid"><strong>Datos del Crédito</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Número</span><span class="spancontent" id="PCredNum">{{credito.nroCredito}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Plazo</span><span class="spancontent" id="PCredPlaz">{{credito.plazo}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Inicio Vigencia</span><span class="spancontent" id="PCredIniVig">{{credito.inicioVigencia}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Fin Vigencia</span><span class="spancontent" id="PCredFinVig">{{credito.finVigencia}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Moneda</span><span class="spancontent" id="PCredMoneda">{{credito.moneda}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Cálculo de Prima</span><span class="spancontent" id="PCredCalcPrim">{{credito.nroPremium}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Monto Inicial</span><span class="spancontent" id="PCredMontInic">{{credito.montoInicial}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Saldo Insoluto</span><span class="spancontent" id="PCredMontIns">{{credito.saldoInsoluto}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Cantidad de Cuotas</span><span class="spancontent" id="PCredCuot">{{credito.numerocuotas}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="InfoRentaTotal" style="display:none;">
                                <h4 class="title-grid"><strong>Datos adicionales</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Fecha de abono</span><span class="spancontent" id="PRTAbono">{{rentaTotal.fecAbono}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Fecha Devengue</span><span class="spancontent" id="PRTDevengue">{{rentaTotal.fecDevengue}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Años Temporales</span><span class="spancontent" id="PRTAnTemp">{{rentaTotal.aniosTMP}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Años Garantizados</span><span class="spancontent" id="PRTAnGarant">{{rentaTotal.aniosGarant}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Prima</span><span class="spancontent" id="PRTPrima">{{rentaTotal.prima}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Pensión Temp. Inicial</span><span class="spancontent" id="PRTPenTemp">{{rentaTotal.pensionInicial}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Moneda</span><span class="spancontent" id="PRTMoneda">{{rentaTotal.moneda}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>% Devolución</span><span class="spancontent" id="PRTDevol">{{rentaTotal.porcDevol}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>% Seguro de Vida</span><span class="spancontent" id="PRTSegVida">{{rentaTotal.porcSegVid}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>% Seguro de Accidentes</span><span class="spancontent" id="PRTSegAcc">{{rentaTotal.porcAcc}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Diferimiento (años)</span><span class="spancontent" id="PRTDiferi">{{rentaTotal.diferido}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>% Ajuste anual</span><span class="spancontent" id="PRTAjuste">{{rentaTotal.ajustAnual}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Pensión Escalonada</span><span class="spancontent" id="PRTPensEscal">{{rentaTotal.pensionEscalonada}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Renta Vitalicia</span><span class="spancontent" id="PRTRentaVit">{{rentaTotal.indRentVit}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Gasto Sepelio</span><span class="spancontent" id="PRTSepelio">{{rentaTotal.indSepel}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Gratificación</span><span class="spancontent" id="PRTGrati">{{rentaTotal.indGratif}}</span></p>
                                    </div>
                                </div>


                            </div>
                            <div id="InfoVehiculo" style="display:none;">
                                <h4 class="title-grid"><strong>Datos del Vehículo</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Placa</span><span class="spancontent" id="PPlaca">{{vehiculo.placa}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Marca</span><span class="spancontent" id="PMarca">{{vehiculo.marca}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Modelo</span><span class="spancontent" id="PModelo">{{vehiculo.version}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Clase</span><span class="spancontent" id="PClase">{{vehiculo.clase}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Uso</span><span class="spancontent" id="PUso">{{vehiculo.uso}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Asientos</span><span class="spancontent" id="PAsientos">{{vehiculo.asientos}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>N° de Serie</span><span class="spancontent" id="PSerie">{{vehiculo.nroSerie}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Año</span><span class="spancontent" id="PAnio">{{vehiculo.anio}}</span></p>
                                    </div>
                                </div>

                            </div>
                            <div id="InfoDirecSOAT" style="display:none; margin-top:3%;" >
                                <h4 class="title-grid"><strong>Dirección SOAT</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo Via</span><span class="spancontent" id="PTipoVia">{{direccionSOAT.descTipoVia}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Dirección</span><span class="spancontent" id="PDir">{{direccionSOAT.descDireccion}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Número</span><span class="spancontent" id="PNumero">{{direccionSOAT.numero}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo Interior</span><span class="spancontent" id="PTipoInterior">{{direccionSOAT.tipoInterior}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Interior</span><span class="spancontent" id="PNumeroInterior">{{direccionSOAT.nroInterior}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Manzana</span><span class="spancontent" id="PManzana">{{direccionSOAT.manzana}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Lote</span><span class="spancontent" id="PLote">{{direccionSOAT.lote}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Etapa</span><span class="spancontent" id="PEtapa">{{direccionSOAT.etapa}}</span></p>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo Conjunto</span><span class="spancontent" id="PTipoConjunto">{{direccionSOAT.tipoConjHabi}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Nombre conjunto</span><span class="spancontent" id="PNomConjunto">{{direccionSOAT.nombreTipoConj}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Bloque/Chalet</span><span class="spancontent" id="PChalet">{{direccionSOAT.numeroBloque}}/{{direccionSOAT.chalet}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Numero/Letra</span><span class="spancontent" id="PNumLetra">{{direccionSOAT.numero}}/{{direccionSOAT.letra}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <p class="card-text textTitle"><span>Dirección Actual</span><span class="spancontent" id="PDirAct">{{direccionSOAT.direccionActual}}</span></p>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div id="InfoCanal" style=" margin-top:3%;">
                                <h4 class="title-grid"><strong>Datos del Canal</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Nombre Canal</span><span class="spancontent" id="PCanalNom">{{canal.nombre}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Fecha Apertura</span><span class="spancontent" id="PCanalFechaAp">{{canal.fechaInicio}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Tipo Canal</span><span class="spancontent" id="PCanalTipo">{{canalTipo.descripcion}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Estado del Canal</span><span class="spancontent" id="PCanalEstado">{{canalEstado.descEstado}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="InfoIntermediario" style="margin-top:3%;">
                                <h4 class="title-grid"><strong>Datos del intermediario / Comercializador</strong></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Código</span><span class="spancontent" id="PIntCod">{{intermediario.codigoIntermediario}}</span></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="card-text textTitle"><span>Nombre</span><span class="spancontent" id="PIntNom">{{intermediario.nombre}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="InfoTarifa" style="display:none;  margin-top:3%;">
                                <h4 class="title-grid"><strong>Tarifa</strong></h4>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Fecha de Emisión</span><span class="spancontent" id="PTarFecEmision">{{tarifa.fechaEmision}}</span></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Hora de Emisión</span><span class="spancontent" id="PTarHorEmision">{{tarifa.horaEmision}}</span></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Lote Descargo</span><span class="spancontent" id="PTarLote">{{tarifa.loteDescargo}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Tarifa</span><span class="spancontent" id="PTarifaP">{{tarifa.tarifaProtecta}}</span></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Porcentaje Comisión</span><span class="spancontent" id="PTarPorcComi">{{tarifa.porcentajeComision}}</span></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Moneda</span><span class="spancontent" id="PTarMoneda">{{ResultadoDetail.monedaPoliza}}</span></p>
                                    </div>
                                </div>
                            </div>

                            <div id="InfoCoberturas" style="display:none; margin-top:3%;">
                                <h4 class="title-grid" style="font-weight:bold;">Coberturas</h4>
                                <div class="row" style="margin-bottom:1%" id="PlanPanel">
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>Plan / Módulo</span><span class="spancontent" id="PPlanCod">{{coberCodModul}} - {{coberDescModul}}</span></p>
                                    </div>
                                </div>
                                <table class="table table-hover table-striped" id="tableCobertura" style="width:100%" >
                                    <thead>
                                        <tr class="htable headgrid" style="background:transparent;">
                                            <th class="text-center">Código</th>
                                            <th class="text-center">Cobertura</th>
                                            <th class="text-center">Principal</th>
                                            <th class="text-center">Moneda</th>
                                            <th class="text-center">Prima</th>
                                            <th class="text-center">Suma Asegurada</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblContactos" ><!-- *ngFor="let item of arregloprueba" -->
                                        <tr>
                                            <td class="text-center" colspan="6">No tiene Coberturas</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="InfoCoberRentas" style="display:none; margin-top:3%">
                                <h4 class="title-grid"><strong>Coberturas</strong></h4>
                                <table class="table table-hover table-striped" id="tableCoberturaRentas" style="width:100%">
                                    <thead>
                                        <tr class="htable headgrid" style="background:transparent;">
                                            <th class="text-center">Cobertura</th>
                                            <th class="text-center" id="GridTituloRenta"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblCoberRent">
                                        <tr>
                                            <td class="text-center" colspan="2">No tiene Coberturas</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div id="InfoBeneficiarios" style="display:none;  margin-top:3%;">
                                <h4 class="title-grid"><strong>Beneficiarios</strong></h4>
                                <table class="table table-hover table-striped" id="tableBeneficiarios" style="width:100%">
                                    <thead>
                                        <tr class="htable headgrid" style="background:transparent;">
                                            <th class="text-center">Nombres</th>
                                            <th class="text-center">Documento</th>
                                            <th class="text-center">Vínculo</th>
                                            <th class="text-center">Participación</th>
                                            <th class="text-center">Fecha Declaración</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblContactos">
                                        <tr>
                                            <td class="text-center" colspan="6">No tiene Beneficiarios</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="InfoModalidadPago" style="display:none;margin-top:3%; margin-bottom:3%;">
                                <h4 class="title-grid"><strong>Modalidad de Pago</strong></h4>
                                <div style="width:45%; float:left">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped" id="tableCronograma" style="width:80%" data-page-length="10">
                                            <thead>
                                                <tr class="htable headgrid" style="background:transparent;">
                                                    <th class="text-center">Mes</th>
                                                    <th class="text-center">Fecha de Pagos</th>
                                                    <th class="text-center">Pensión</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblCrono">
                                                <tr>
                                                    <td class="text-center" colspan="3">No tiene Cronograma</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div style="width:45%; float:right">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped" id="tableRescate" style="width:80%" data-page-length="10">
                                            <thead>
                                                <tr class="htable headgrid" style="background:transparent;">
                                                    <th class="text-center">Mes</th>
                                                    <th class="text-center">Monto</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblRescate">
                                                <tr>
                                                    <td class="text-center" colspan="2">No tiene Rescates</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="titularrentavitalicia" />
                            <div id="InfoPensiones" style="display:none;">
                                
                                <h4 class="title-grid" style="margin-bottom:3%"><strong id="titlebenef"></strong><span id="titlevinc"></span></h4>
                                <h5 class="subtitle-grid"><span class="lineorange"></span> <strong> Modalidad de Pago</strong></h5> <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Via de Pago</span><span class="spancontent" id="PPensViaPago"></span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Sucursal</span><span class="spancontent" id="PPensSucursal">{{pension.sucursal}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Banco</span><span class="spancontent" id="PPensBanco">{{pension.banco}}</span></p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="card-text textTitle"><span>Tipo Cta.</span><span class="spancontent" id="PPensTipoCuenta">{{pensionCuenta.tipoCuenta}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Moneda</span><span class="spancontent" id="PPensMoneda">{{pensionCuenta.moneda}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Num. Cta.</span><span class="spancontent" id="PPensNumCuenta">{{pensionCuenta.numeroCuenta}}</span></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="card-text textTitle"><span>CCI</span><span class="spancontent" id="PPensCCI">{{pensionCuenta.cci}}</span></p>
                                    </div>
                                </div>
                                <h5 class="subtitle-grid"><span class="lineorange"></span> <strong> Receptor de Pensión</strong></h5> <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Identificación</span><span class="spancontent" id="PRecepDoc">{{asegurado.tipodoc}} - {{asegurado.documento}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Período de Vigencia</span><span class="spancontent" id="PRecepPerVig">{{ResultadoDetail.fechaInicioVigencia}} - {{ResultadoDetail.fechaFinVigencia}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Nombres</span><span class="spancontent" id="PRecepNombre">{{asegurado.name}}</span></p>
                                    </div>
                                </div>
                                <h5 class="subtitle-grid"><span class="lineorange"></span> <strong> Plan de Salud</strong></h5> <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Institución</span><span class="spancontent" id="PPensInsti">{{planSalud.institucion}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Modalidad de Pago</span><span class="spancontent" id="PPensModalPago">{{planSalud.modalidad}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Monto de Pago</span><span class="spancontent" id="PPensMontoPago">{{planSalud.monto}}</span></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="card-text textTitle"><span>Periódo Efecto</span><span class="spancontent" id="PPensPeriodoEfecto">{{planSalud.periodo}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="margin-bottom:5%"></p>
                    </div>
                    <!-- <div id="pestSiniestro" class="tab-pane fade">
                        <div class="paddingPestana">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
