


<div class="container">
    <div class="modal-header" id="edit-modal" style="padding-bottom: 30px">
        <button type="button" class="swal2-close"  (click)="closeModal('edit-modal')" aria-label="Close this dialog" style="display: flex;outline:none;">×</button>
    </div> 
 

	<div style="margin: 30px">
		
        <div class="row mb-2 " style="margin-top: -30px;display: flex;padding-left: 30px;padding-bottom: 15px;">
            <div class="Header">
                <div class="row">
                    <div class="col-lg-19">
                        <h4 class="TitleLine">Actualizar correo electronico</h4>
                    </div>
                </div>
                
            </div>
            <br>
            
                
        </div>
		<form [formGroup]="loginForm">
			


		

			<div class="form-group">
				<label>Correo*</label>
                <div class="row">
                    <div class="col" style="padding-right:0px">
                        <input class="form-control"  style="text-transform:lowercase;" formControlName="email" [(ngModel)]="correo" />
                    </div>
                    <!-- <div class="col-1" style="padding-left:0px"></div> -->

                </div>
                
            </div>
               
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.email">
					<div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

            <div class="form-group">
				<label>Constraseña*</label>
                <div class="row">
                    <div class="col-11" style="padding-right:0px">
                        <input class="form-control" style="text-transform:uppercase;" formControlName="password" [type]="password2" [(ngModel)]="contra" />
                    </div>
                    <div class="col-1" >
                        <button (click)="onClick()" class="btn btn-primary">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                          </button>
                    </div>
                </div>
				
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.password">
					<div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			
      <pre>
        
      </pre>
           
               <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 boton">
                            <button class="form-control btn btn-warning text-white" [disabled]="!loginForm.valid" (click)="ActualizarContrasenna()">Aceptar</button>
                        </div>
                        
                        <div class="col-lg-5">
                            <button class="form-control btn btn-warning text-white" (click)="closeModal()" >Cancelar</button>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>

          
		</form>
	</div>
</div>