<div class="row">


    <!-- <div class="row mb-2 mt-2">
        <div class="Header">
            <div class="col-lg-12">
                <h4 class="TitleLine">Cliente Revisado</h4>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-lg-6"></div> -->
</div>
<!--<div class="Header">-->
<!-- <div class="row" style="display: flex;justify-content: center;align-items: center;padding-left: 900px;">                 
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1" title="Volver a Inicio" style="display: flex;justify-content: center;align-items: center;">
            <button 
                style="display: flex;justify-content: center;align-items: center;"
                class="btn btn-warning text-white buttonSinBorder"
                routerLink="/home">Salir</button>
        </div>
    </div>
    <br> 
    <br>-->

<!--</div>-->

<div class="col-md-5 d-flex justify-content-between " style="padding: 30px 0px 0px 0px; color: #a0a1cc !important;">
    <!-- <button class="btn btn-outline-info form-control ml-2 mr-2 buttonSinBorder colorButton"
         (click)="exportListToExcel()">
         <div class="row">

            <div class="col-4" style="text-align: right;padding-right: 15px;padding-left: 0px;margin-left: -20px;"> <img src="assets/icons/excel-microsoft.png" style="width: 24px;"/></div>
          <i class="fas fa-download"></i> 
             <div class="col-6" style="color: black;padding-left: 5px;text-align: left;"> Descargar Registro de Usuarios</div></div></button>-->
    <button (click)="exportListToExcel('Cliente revizado')" class="btn btn-outline-info form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar cliente revisado </button>


</div>
<div class="row mb-2 mt-2" style="padding-left: 15px;
padding-right: 15px;">


    <div class="borderFormat">


        <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col">
                <input class="col-lg-6" [(ngModel)]="txtBuscador" (keyup)="setFilterResultadosClient()" type="text" class="form-control form-control" value="" placeholder="Buscar">
            </div>
        </div>

        <br>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-2 txtCabecera">Tipo y Nro. de Documento</div>
                            <div class="col-lg-2 txtCabecera text-left">Nombre / Razón Social</div>
                            <div *ngFor="let tipo of parent.tipoListas" class="text-left col-lg-1 txtCabecera text-left">{{tipo.SDESTIPOLISTA}}
                            </div>

                            <div class="col-lg-2 txtCabecera">Régimen</div>


                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="row">
                            <div class="col-lg-6 txtCabecera text-center" style="padding-left: 0px">Acciones</div>
                            <!--<div class="col-lg-12 txtCabecera text-center">Acciones</div>-->
                        </div>
                    </div>



                </div>
                <hr class="BordeHr" style="size:10px;">

                <div class="row " *ngFor="let item of getBuscarClient(); let ind = index;">
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-lg-2 txtDetalle">{{item.STIPOIDEN}} {{item.SNUM_DOCUMENTO}} </div>
                            <div class="col-lg-2 txtDetalle text-left">
                                {{item.SNOM_COMPLETO}}
                            </div>

                            <div class="col-lg-1 txtDetalle text-left" *ngFor="let tipo of parent.tipoListas">
                                <span class="cambiarColor" *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                                <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
                            </div>
                            <div class="col-lg-2 txtDetalle">
                                {{item.SDESREGIMEN}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1" style="text-align: center; margin: auto;">
                        <div class="row" style="padding-bottom:15px">
                            <div class="col-lg-12 txtDetalle" style="padding-left:0px">
                                <button class="btn" data-toggle="dropdown">
                                        <span class="fas fa-bars" style="font-size: 20px;"></span>
                                    </button>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item" (click)="setDataViewCustomer(item)" routerLink="/c2-detail">Ver</a>
                                    <a class="dropdown-item" (click)="parent.update(item,'CRE','CRF','Reforzado',2,ind)">Enviar a Reforzado</a>
                                    <a class="dropdown-item" (click)="parent.update(item,'CRE','CCO','Complementario',2,ind)">Enviar a Cliente Complementario</a>
                                    <a class="dropdown-item" (click)="parent.getOptionsClient('1','CRE',item,ind)">Eliminar de Revisado</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="size:10px;" *ngIf="arrResultados.length > 0">
            </div>
        </div>


    </div>


    <!--<div class="row borderFormat"  style="display: flex;justify-content: center;align-items: center;">
            <button 
            style="display: flex;justify-content: center;align-items: center;"
            class="btn btn-warning text-white"
            (click)="getProcessClientesReforzados()"
            >Actualizar</button>  
        </div>
        <div class="row borderFormat"  style="display: flex;justify-content: left;align-items: left;padding-left: 800px;">    
            <div class="col-lg-2">
                <button 
                style="display: flex;justify-content: center;align-items: center;"
                class="btn btn-warning text-white">Grabar</button>     
            </div>
         
      
         </div> -->

</div>
<!--<app-paginacion-reutil [parent]="this" [currentPage]="initializePage" [totalItems]="arrResultados.length"></app-paginacion-reutil>-->

<br><br>