<div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" >
    <div class="" id="headingThree3">
        <div class=" text-left collapsed" style="height:60px" type="button" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
            <h5  class="colorTexto"  style="font-size: 18px;">Ingrid Jimenez </h5>
        </div>
        
    </div>
    <div id="collapseThree3" class="collapse card" aria-labelledby="headingThree3" data-parent="#accordionExample">
        Hola
      </div>
  </div>