

<div id="Reporte">

     <!-- 
    <div *ngFor="let item of ObjListaAlertasRG;">
        <app-template-rg  [parent]="this" [Perfil]="item.SPERFIL" [Respuesta]="item.NIDRESPUESTA" [AlertaGlobal]="item.SNOMBRE_ALERTA" [Validar]="2" > </app-template-rg>
    </div> 

    <div *ngFor="let item of ObjListaAlertasC1;">
        <app-template-c1  [item]="item" [Validar]="2"></app-template-c1>
    </div> 

    <app-template-c3  [parent]="this"  [ObjListaAlertasC3]="ObjListaAlertasC3" [Validar]="2" [RespuestaGlobalC3]="RespuestaGlobalC3"></app-template-c3>
    

    <app-template-s1 ></app-template-s1>
    

    <div *ngFor="let item of ObjListaAlertasS2;">
        <app-template-s2  [Respuesta]="item.NIDRESPUESTA" [Validar]="2"  ></app-template-s2>
    </div>
   -->
   <app-template-s3 [ObjListaAlertasS3]="ObjListaAlertasS3" [Validar]="2" ></app-template-s3>

</div>

