<div id="proveedor" style="font-size:11.0pt">

   
    <img *ngIf="Validar !== 2" src="http://plataformasplaft.protectasecurity.pe/assets/img/protecta.png" width="200" height="50"> 
    <div>
        <br/>
    </div>
    

<div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética; font-size: 14.5px;" >
    <p> 
        <strong style="font-family: arial Narrow, serif;">1.3 Señales de alerta - Relativas a los proveedores y contrapartes</strong>
      </p>   
    <div>  
       <div>
           <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                <FONT FACE="Arial Narrow, serif" style="font-size:11.0pt">
                    <tbody>
                        <tr>
                            <td width="50px" style="padding-left: 10px; text-align: center;">
                                <p>
                                    <strong>CÓDIGO</strong>
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; text-align: center;">
                                <p>
                                    <strong>SEÑAL DE ALERTA</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    P1
                                </p>
                            </td>
                            <td width="750"px style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El proveedor o contraparte se niega a proporcionar la información solicitada o 
                                    la información proporcionada es inconsistente o de difícil verificación por parte de las empresas. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    P2
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El proveedor o contraparte trata de presionar a 
                                    un trabajador para no proporcionar la información solicitada. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    P3
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El proveedor o contraparte indica una dirección que también es la de un negocio
                                     diferente al declarado y/o no parece corresponder con la ocupación o actividad
                                      económica declarada por él.  
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    P4
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    Que se tome conocimiento por los medios de difusión pública u otro, según sea el caso,
                                     que un proveedor o contraparte o sus representantes o socios, en caso de personas jurídicas,
                                      están siendo investigado o procesado por el delito de lavado de activos, delitos precedentes, 
                                      el delito de financiamiento del terrorismo y/o delitos conexos.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50px">
                                <p align="center">
                                    P5
                                </p>
                            </td>
                            <td width="750px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                                <p>
                                    El proveedor o contraparte está domiciliado en / o modifica su domicilio a:
                                     países considerados paraísos fiscales o países donde existe conocida
                                      actividad terrorista, considerados como no cooperantes por el
                                       GAFI o sujetos a sanciones OFAC. 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </FONT>
            </table>
        </div>
    </div>

    <div>
        <br>
        <div class="container" style="padding: 0px 200px; font-size: 14.5px;">
            <p>
                <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta P1, P2, P3</strong>
            </p>
            <ol type="a">
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se solicita a la {{CargosConcatenadosContraparte}} {{CargosConcatenadosProveedor}} que confirme 
                    si se han presentado/identificado las señales de alerta respectivas.
                </li>
                <!-- <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se solicita a la {{CargosConcatenadosProveedor}} que confirme 
                    si se han presentado/identificado las señales de alerta respectivas.
                </li> -->
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se revisa la información proporcionada.
                </li>
            </ol>
            <p>
                <p><strong></strong></p>
                <strong style="font-family: arial Narrow, serif;"> Resultados:</strong>
                <ul>
                    <li *ngFor="let item of RespuestaGlobalContraparte" style="font-family: arial Narrow, serif; text-align: justify">
                        El {{item.SCARGO}} reportó que {{item.RespuestaGlobal}} hubo situaciones que configuraron como 
                        señales de alerta con relación al comportamiento de usufructuarios.
                    </li>
                    <li *ngFor="let item of RespuestaGlobalProveedor" style="font-family: arial Narrow, serif; text-align: justify">
                        El {{item.SCARGO}} reportó que {{item.RespuestaGlobal}} hubo situaciones que configuraron como 
                        señales de alerta con relación al comportamiento de proveedor.
                    </li>
                </ul>
        </div>
    </div>
    <div>
        <div class="container" style="padding: 0px 200px; font-size: 14.5px;">
            <p>
                <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta P4, P5</strong>
            </p>
            <ol type="a">
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se realiza la búsqueda contra las listas internacionales y Registro Negativo, esto es ejecutada mediante el sistema LAFT.
                    Estas consultas también se realizan de manera individual a través de la plataforma WorldCheck e información de la contraparte.
                </li>
                <li style="font-family: arial Narrow, serif; text-align: justify">
                    Se revisa la información proporcionada.
                </li>
            </ol>
            <p>
                <p><strong></strong></p>
                <strong style="font-family: arial Narrow, serif;"> Resultados:</strong> 

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaUsufructuariosCon !=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a las contrapartes correspondientes de la base de usufructuarios,
                         contra las listas especiales, listas internacionales y listas PEP. En el resultado se identificó {{ListaUsufructuariosCon.length}} coincidencias por usufructuarios.  
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaUsufructuariosCon !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaUsufructuariosCon">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaRepresentantesAccionistasUsufructuariosCon >=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a las contrapartes correspondientes de la base de representante legales y accionistas de 
                        usufructuarios, contra las listas especiales, listas internacionales y listas PEP, a los accionistas, socios o asociados que tengan directa o 
                        indirectamente más del 25% del capital social. En el resultado se identificó {{ListaRepresentantesAccionistasUsufructuariosCon.length}} coincidencias por representante legales y accionistas de usufructuarios. 
                    </li>
                </ul>
                
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaRepresentantesAccionistasUsufructuariosCon !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="25%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NOMBRE COMPLETO</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaRepresentantesAccionistasUsufructuariosCon">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_EMPRESA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>
               

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaArrendatariosCon !=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a las contrapartes correspondientes de la base de arrendatarios, contra las listas
                         especiales, listas internacionales y listas PEP. En el resultado se identificó {{ListaArrendatariosCon.length}}  coincidencias por arrendatarios.  
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaArrendatariosCon !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaArrendatariosCon">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaRepresentantesAccionistasArrendatariosCon !=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a las contrapartes correspondientes de la base de representante legales y accionistas
                         de arrendatarios, contra las listas especiales, listas internacionales y listas PEP, a los accionistas, socios o asociados que tengan 
                         directa o indirectamente más del 25% del capital social. En el resultado se identificó {{ListaRepresentantesAccionistasArrendatariosCon.length}}  coincidencias por
                          representante legales y accionistas de arrendatarios.  
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaRepresentantesAccionistasArrendatariosCon !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaRepresentantesAccionistasArrendatariosCon">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>
                

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaCanalesCon !=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a las contrapartes correspondientes de la base de canales, 
                        contra las listas especiales, listas internacionales y listas PEP. En el resultado se identificó {{ListaCanalesCon.length}} coincidencias por  
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaCanalesCon !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaCanalesCon">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaRroveedoresPro !=0;else SinData">
                        •Con relación a la señal de alerta P4: Se revisó a los proveedores correspondientes de la base de proveedores, 
                        contra las listas especiales, listas internacionales y listas PEP. En el resultado se identificó {{ListaRroveedoresPro.length}} coincidencias por proveedores. 
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaRroveedoresPro !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaRroveedoresPro">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>
              
                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaProveedoresCriticosPro !=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a los proveedores correspondientes de la base de proveedores críticos, contra las listas especiales, listas internacionales y
                         listas PEP. En el resultado se identificó {{ListaProveedoresCriticosPro.length}} coincidencias por proveedores críticos. 
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaProveedoresCriticosPro !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaProveedoresCriticosPro">
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>
                
                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify" *ngIf="ListaRepresentantesAccionistasPro !=0;else SinData">
                        Con relación a la señal de alerta P4: Se revisó a los proveedores correspondientes de la base de representante legales y accionistas de proveedores, 
                        contra las listas especiales, listas internacionales y listas PEP, a los accionistas, socios o asociados que tengan directa o indirectamente más del 25% del capital social.
                         En el resultado se identificó {{ListaRepresentantesAccionistasPro.length}} coincidencias por representante legales y accionistas de proveedores. 
                    </li>
                </ul>
              
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="ListaRepresentantesAccionistasPro !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>Nro.</strong>
                                        </p>
                                    </td>
                                    <td width="14%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="13%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>NRO. DOC.</strong>
                                        </p>
                                    </td>
                                   
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>EMPRESA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>LISTA</strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;">
                                        <p>
                                            <strong>FUENTE</strong>
                                        </p>
                                    </td>
                                </tr> 
                                <tr *ngFor="let item of ListaRepresentantesAccionistasPro;let i = index ">
                                    <td width="10%" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{ i + 1 }}
                                        </p>
                                    </td>   
                                    <td width="120px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.TD_SDESCRIP}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    
                                    <td width="180px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESTIPOLISTA}}
                                        </p>
                                    </td>
                                    <td width="100px" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                        <p>
                                            {{item.SDESPROVEEDOR}}
                                        </p>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>
                <!-- *************************************************************************************************************************************************** -->
                <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;" *ngIf="arrayDataP4 !=0;else SinData">
                    <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                        <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                            <tbody>
                                <tr>
                                     <td width="9%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                        <p>
                                            <strong>TIPO DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="15%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                        <p>
                                            <strong>N&ordm; DOC.</strong>
                                        </p>
                                    </td>
                                    <td width="25%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                        <p>
                                            <strong>NOMBRE COMPLETO / RAZÓN SOCIAL</strong>
                                        </p>
                                    </td>
                                    <td width="300px" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                        <p>
                                            <strong>INFORMACI&Oacute;N ADICIONAL</strong>
                                        </p>
                                    </td> 
                                </tr>
                                <tr *ngFor="let item of arrayDataP4">
                                    <td width="9%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                        <p>
                                            {{item.STIPO_DOCUMENTO}}
                                        </p>
                                    </td>
                                    <td width="15%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                        <p>
                                            {{item.SNUM_DOCUMENTO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="25%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                        <p>
                                            {{item.SNOM_COMPLETO_BUSQ}}
                                        </p>
                                    </td>
                                    <td width="300px" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                        <p>
                                            <!-- {{item.SREPORT_COINCIDENCE}} -->
                                        </p>
                                    </td> 
                                </tr>
                            </tbody>
                        </FONT>
                    </table>
                </div>
                <br>
                <!-- *************************************************************************************************************************************************** -->

                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify">
                        Con relación a la señal de alerta P5: {{RespuestaGlobalProveedorContraparte}} se identificaron proveedores domiciliados 
                        en / o que modificaron su domicilio a: países considerados paraísos fiscales o países donde existe conocida 
                        actividad terrorista, considerados como no cooperantes por el GAFI o sujetos a sanciones OFAC.
                    </li>
                </ul>
        </div>
    </div>
    <ng-template #SinData>

    </ng-template>
</div>
<p style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify">Los archivos de trabajo se ubican en: </p>
<ul>
  <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify"> 
    <a href="http://plataformasplaft.protectasecurity.pe/"> http://plataformasplaft.protectasecurity.pe/</a>
  </li>
  <li style="font-size: 14.5px; font-family: arial Narrow, serif; text-align: justify"> 
    P:\19. RIESGOS OPERATIVOS Y LAVADO DE ACTIVOS\19.04 SPLAFT\19.04.04 LAFT\05.Informes Trimestrales Protecta
  </li>
</ul>
</div>

