<div class="col-md-5 d-flex justify-content-between " style="padding: 30px 0px 0px 0px; color: #a0a1cc !important;">
    <button (click)="exportListToExcel('Cliente Complementario')" class="btn btn-outline-info form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar
    cliente complementario </button>
</div>
<div class="row mb-2 mt-2" style="padding-left: 15px;
padding-right: 15px;">
    <div class="borderFormat">
        <div class="row">
            <div class="col-lg-6">
                <button (click)="this.parent.getserviceComplementario()" class="btn btn-warning btnBuscarStyle">Buscar</button>
            </div>
            <div class="col">
                <input  [(ngModel)]="txtBuscador" (keyup)="setFilterResultadosClient()" type="text" class="form-control  buttonSinBorder colorButton" value="" placeholder="Buscar">
            </div>
        </div>
        <br>
        <hr>
        <div style="overflow-y:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Tipo y Nro. de Documento</th>
                        <th>Nombre / Razón Social</th>
                        <th *ngFor="let tipo of parent.tipoListas">{{tipo.SDESTIPOLISTA}}</th>
                        <th>Régimen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getBuscarClient(); let ind = index;">
                        <td>{{item.STIPOIDEN}} {{item.SNUM_DOCUMENTO}}</td>
                        <td>{{item.SNOM_COMPLETO}}</td>
                        <td *ngFor="let tipo of parent.tipoListas">
                            <span class="cambiarColor" *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                            <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
                        </td>
                        <td>{{item.SDESREGIMEN}}</td>
                        <td>
                            <button class="btn" data-toggle="dropdown">
                            <span class="fas fa-bars" style="font-size: 20px;"></span>
                          </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="setDataViewCustomer(item)" routerLink="/c2-detail">Ver</a>
                                <a class="dropdown-item" (click)="parent.getOptionsClient('3',item.SESTADO_TRAT,item,ind)">Eliminar de
                              Complementario</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-11">
            <div class="row" style="">
              <div class="col-lg-1 txtCabecera text-center">Tipo de Documento</div>
              <div class="col-lg-2 txtCabecera text-left">Nombre / Razón Social</div>
              <div *ngFor="let tipo of parent.tipoListas" class="text-left col-lg-1 txtCabecera">{{tipo.SDESTIPOLISTA}}
              </div>

              <div class="col-lg-2 txtCabecera text-center">Régimen</div>


            </div>
          </div>

          <div class="col-lg-1">
            <div class="row" style="">
              <div class="col-lg-6 txtCabecera text-center">Acciones</div>
            </div>
          </div>



        </div>
        <hr class="BordeHr" style="size:10px;">

        <div class="row " *ngFor="let item of getBuscarClient(); let ind = index;">
          <div class="col-lg-11">
            <div class="row">
              <div class="col-lg-1 txtDetalle text-center">{{item.STIPOIDEN}} {{item.SNUM_DOCUMENTO}}</div>
              <div class="col-lg-2 txtDetalle text-left">
                {{item.SNOM_COMPLETO}}
              </div>

              <div class="col-lg-1 txtDetalle text-left" *ngFor="let tipo of parent.tipoListas">
                <span class="cambiarColor"
                  *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
              </div>
              <div class="col-lg-2 txtDetalle text-center">
                {{item.SDESREGIMEN}}
              </div>
            </div>
          </div>
          <div class="col-lg-1" style="text-align: center; margin: auto;">
            <div class="row" style="padding-bottom:15px">
              <div class="col-lg-12 txtDetalle" style="padding-left:0px">
                <button class="btn" data-toggle="dropdown">
                  <span class="fas fa-bars" style="font-size: 20px;"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="">
                  <a class="dropdown-item" (click)="setDataViewCustomer(item)" routerLink="/c2-detail">Ver</a>
                  <a class="dropdown-item" (click)="parent.getOptionsClient('3',item.SESTADO_TRAT,item,ind)">Eliminar de
                    Complementario</a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="size:10px;" *ngIf="arrResultados.length > 0">
      </div>
    </div> -->

    </div>

</div>
<app-paginacion-reutil [parent]="this" [currentPage]="initializePage" [totalItems]="arrResultados.length">
</app-paginacion-reutil>
<br><br>