<app-navbar></app-navbar>
<main class="container-fluid app-main">
    <div class="row">
        <button class="btn btn-link text-secondary" style="margin-left: 150px;" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>
    <div class="container-fluid">
        <div class="row mb-2 mt-2" style="display: flex;justify-content: center;">
            <div class="Header">
                <div class="row"
                    style="display: flex;justify-content: left;align-items: center;padding-right: 800px;padding-left:150px">
                    <div class="col-lg-15">
                        <h4 class="TitleLine">Mantenimiento de Alerta</h4>
                    </div>
                </div>
                <div class="row" style="display: flex;justify-content: left;align-items: left;padding-left:150px ">
                    <div class="col-lg-2 form-group" style="padding-left: 0px;" title="Agregar alerta">
                        <br>
                        <button style=""
                            class="btn btn-warning text-white "
                            (click)="updateAlertFromList('null')">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-plus-circle-fill"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg> Agregar</button>
                    </div>
                </div>
                <div class="row" style="display: flex;justify-content: center;padding-left:150px;padding-right:150px">
                    <div class="borderFormat">
                        <div class="row">
                            <div class="col-lg-7">

                            </div>
                            <div class="col-lg-5">
                                <input class="" [(ngModel)]="txtBuscador" 
                                    (keyup)="getListAlertsFilters()" 
                                    type="text"
                                    class="form-control buttonSinBorder colorButton" value=""
                                    placeholder="Buscar por alerta, descripción o usuario">
                            </div>
                            <div class="col-lg-12 form-group">
                                <div class="table-responsive" >
                                    <table class="table table-striped table-sm" style="font-size: 14px;">
                                        <thead>
                                            <tr style="color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif;">
                                                <!-- <th scope="col" style="text-align: center;">N°</th> -->
                                                <th scope="col" style="text-align: center; width: 15%;">Alerta</th>
                                                <th scope="col" style="width: 20.9%;">Descripción</th>
                                                <th scope="col" style="text-align: center; width: 9%;">Estado</th>
                                                <th scope="col" style="text-align: center; width: 8%;">Fecha de Registro</th>
                                                <th scope="col" style="text-align: center; width: 10%;">Usuario</th>
                                                <th scope="col" style="text-align: center; width: 11%;">Grupo</th>
                                                <th scope="col" style="text-align: center; width: 9.5%;">Régimen General</th>
                                                <th scope="col" style="text-align: center; width: 9.5%;">Régimen Simplificado</th>
                                                <th scope="col" style="text-align: center; width: 6%;">Editar</th>
                                            </tr>
                                        </thead>
                                        <ng-container
                                            *ngIf="FiltrolistaComplementoUsuario!=null && FiltrolistaComplementoUsuario.length>0; then showGrid else hideGrid">
                                        </ng-container>
                                    </table>
                                    <ng-template #hideGrid>
                                        <tbody>
                                            <tr style="text-align: center;">
                                                <td colspan="10"></td>
                                            </tr>
                                        </tbody> 
                                    </ng-template>
                                    <ng-template #showGrid>
                                        <tbody >
                                            <tr class="animated fadeIn" *ngFor="let item of FiltrolistaComplementoUsuario  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let index = index ">
                                                <!-- <td class="text-center">{{item.alertId}}</td> -->
                                                <td class="text-center vertical" style="width: 15%;">{{item.alertName}}</td>
                                                <td class="vertical" style="text-align: justify; width: 22%">{{item.alertDescription}}</td>
                                                <!-- <td class="text-center" hidden>{{item.alertStatus}}</td> -->
                                                <td class="text-center vertical" style="width: 9%;">{{item.statusDescription}}</td>
                                                <td class="text-center vertical" style="width: 8%;">{{item.registerDate}}</td>
                                                <td class="text-center vertical" style="width: 10%;">{{item.userFullName}}</td>
                                                <td class="text-center vertical" style="width: 11%;">{{item.sennalDescripcion}}</td>
                                                <td class="text-center vertical" style="width: 9.5%;">
                                                    <!-- {{item.regimenGen}} -->
                                                    <!-- <input   type="checkbox" value="1" id="ValorCheckGene" [checked]="true"  [(ngModel)]="ValorCheck"> -->
                                                    <input type="checkbox" onclick="return false;" disabled  [checked]="ValidarDisable(1,item.regimenGen)"  > 
                                                 
                                                </td>
                                                <td class="text-center vertical" style="width: 9.5%;">
                                                    <!-- {{item.regimenSim}} -->
                                                    <!-- <input   type="checkbox" value="2" id="ValorCheckSimp"   [(ngModel)]="ValorCheck"> -->
                                                     <!-- <input type="checkbox" [(ngModel)]="checkbox" ng-true-value="1" ng-false-value="2" ng-checked="checkbox == {{item.regimenGen}}" />  -->
                                                    <input type="checkbox" onclick="return false;"  disabled  [checked]="ValidarDisable(2,item.regimenSim)"  > 
                                                   
                                                </td> 
                                                <!-- <td class="text-center vertical">
                                                    <img src="assets/icons/edit.png" title="Editar alerta" alt=""
                                                        style="cursor: pointer;" (click)="updateAlertFromList(item)" />
                                                </td> -->
                                                <td class="text-center vertical" style="width: 6%;">
                                                    <img src="assets/icons/edit.png" color="blue" title="Editar alerta" alt=""
                                                        style="cursor: pointer;" (click)="updateAlertFromList(item)" />
                                                </td>
        
        
                                            </tr>
                                        </tbody>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <ng-container *ngIf="FiltrolistaComplementoUsuario!=null && FiltrolistaComplementoUsuario.length>0; then showPagination"></ng-container>
                <ng-template #showPagination>
                    <div class="row mt-4">
                        <div class="col-sm-12">
                             <!-- <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage"
                                [collectionSize]="totalItems" [maxSize]="maxSize" aria-label="Default pagination"
                                (pageChange)="pageChanged(currentPage)"> 
                                
                            </ngb-pagination>  -->
                            <ngb-pagination [collectionSize]="FiltrolistaComplementoUsuario.length" [(page)]="page" [maxSize]="5"
                            aria-label="Default pagination"></ngb-pagination>
                            <!-- <ngb-pagination [collectionSize]="processlistToShow.length" [(page)]="page" [maxSize]="5"
                aria-label="Default pagination"></ngb-pagination> -->
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <br><br>
    </div>
</main>
<app-footer></app-footer>