
  <header>
    <div class=""> 
        <app-navbar></app-navbar> 
    </div>
   
    
  
    <nav id="navbar_top" class="" style= "padding-top: 10px;">
     
        <div class="Prueba row" style="margin-left: 50px;margin-right: 50px;">
            
            <div class="col-12">
                <div class="card-header bordesCabecera" style="background: white;" >
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item"   style="" *ngFor="let tabs of arrRegimen;let variabletabs = index;">
                           
                            <a id="{{tabs.desCorto}}" class="nav-link colortab {{getActiveRegimiento(variabletabs)}} " data-toggle="tab" href="#reg{{tabs.desCorto}}"
                            style="font-size: 17px;"
                            > {{"Régimen " + tabs.descripcion }}</a>
                        </li>
                        
                    </ul>
                    </div>
            </div>
           
            
        </div>
      
    
    </nav>
    </header>


<main class="container-fluid app-main" >


    <div class="row pl-5 pr-5">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>
    
    <div class="container-fluid pt-3 pb-3"> 
        
        <div class="row pl-5 pr5">
                    <div class="col-4" style="padding-left:0px">
                        <div class="row">
                            <div class="col-12">
                                <div class="pt-1" style="float:left">
                                    Seleccione un Año:
                                 </div>
                                 <div class="col-7" style="float:left">
                                     <div class=" form-group">
                                         <select  [(ngModel)]="IDListAnno" name="profile" 
                                            (change)="BuscarPeriodo($event)"
                                             style="display: flex;justify-content: center;align-items: center;"
                                             class="form-control buttonSinBorder">
                                             <option value="0" selected>Seleccione</option>
                                             <option *ngFor="let item of NewListAnnos" value="{{item.ANNO}}" id="profileIdSelected" >
                                                 {{item.ANNO}}</option>
                                         </select>
                                     </div>  
                                 </div>
                            </div>
                        </div>
                    </div>
                    
    
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="pt-1" style="float:left">
                                    Seleccione un Periodo:
                                 </div>
                                 <div class="col-7" style="float:left">
                                    <div class=" form-group">
                                        <select  [(ngModel)]="IDListPeriodo" name="profile" 
                                        (change)="SeleccionarPeriodo($event)"
                                            style="display: flex;justify-content: center;align-items: center;"
                                            class="form-control buttonSinBorder">
                                            <option value="0" selected>Seleccione</option>
                                            <option *ngFor="let item of NewListPeriodos" value="{{item.periodo}}" id="profileIdSelected" >
                                                {{item.periodo}}</option>
                                        </select>
                                    </div>  
                                 </div>
                            </div>
                        </div>
                    </div>
    
    
        </div>
    </div> 

    <div class="container-fluid pl-5 pr-5">
       
         
        
       
        <div class="tab-content" style="" >
            <div id="reg{{regimen.desCorto}}" *ngFor="let regimen of arrRegimen;let variabletabs = index;" class=" tab-pane {{getShowRegimiento2(variabletabs,regimen)}}">
                <div class="" style="background-color:transparent !important;">
                    <div class="row">
                        <div class="col-lg-8">

                        </div>
                     

                    </div>
                    <div class="">
                    
                         <!--REVISADO-->
                        <div *ngIf="STIPO_USUARIO != 'RE' ">
                            <div>
                                <app-revisado [parent]="this" [regimen]="regimen"
                                    [stateRevisado]="stateRevisado"
                                    [arrResponsable]="getArray(stateRevisado.sState,regimen.id)"
                                    [arrResponsable2]="getArray(stateRevisado.sState,regimen.id)"
                                    [userGroupList]="getArrayUserGroup(regimen.id)" 
                                    [ValidadorHistorico]="0" [HistoricoPeriodo]="IDListPeriodo"></app-revisado>
                            </div>
                        </div>
                        <br>
                        
                       
                        <!--INFORME TERMINADO-->
                        <div *ngIf="STIPO_USUARIO != 'RE' ">
                            <div>
                                <app-informe-terminado [parent]="this" [regimen]="regimen"
                                    [stateInformeTerminado]="stateInformeTerminado"
                                    [arrResponsable]="getArray(stateInformeTerminado.sState,regimen.id)"
                                    [userGroupList]="getArrayUserGroup(regimen.id)"
                                    [ValidadorHistorico]="0" [HistoricoPeriodo]="IDListPeriodo"></app-informe-terminado>
                            </div>
                        </div>



                    </div>
                </div>
                 
             </div>
            
            
        </div>



    </div>




</main>

<br>
<app-footer></app-footer>