
<div class="Container">
<div class=" modal-header" id="edit-modal"  style="padding-bottom: 30px">
  <!-- <button type="button" class="close" aria-label="Close"  style="outline:none;" (click)="closeModal('edit-modal')">
   <i class="far fa-times-circle"></i>
  </button> -->
  <button type="button" class="swal2-close"  (click)="closeModal('edit-modal')" aria-label="Close this dialog" style="display: flex;outline:none;">×</button>
</div>

<div class="modal-body">
 <div class="form-group">
     <label for="sel1" >Seleccionar tipo PEP:</label>
     <select id="slctTipoPEP" [(ngModel)]="rspTipoPEP" class="form-control" id="sel1" >
       <option value="1" selected>PEP</option>
       <option value="2">FAMILIAR PEP</option>
       <option value="3">OTROS</option>
     </select>
     <div class ="{{validarCombo()}}  text-center" style="font-size: 16px;;margin-top: 10px;margin-bottom: 10px;color: #666;padding-top: 5px;background: #f0f0f0;"  > <i class="fas fa-exclamation-circle" style="color:#f27474;padding-right: 15px;"></i>Debe seleccionar una opción</div>
   </div>
   <div class="form-group">
     <label for="strComentario">Comentario:</label>
     <textarea class="form-control" placeholder="Ingrese comentario" style="max-height: 150px; min-height: 50px;" rows="5" id="strComentario" [(ngModel)]="sComentario" ></textarea>
     <div  class ="{{validarInput()}} text-center" style="font-size: 16px;;margin-top: 10px;margin-bottom: 10px;color: #666;padding-top: 5px;background: #f0f0f0;"  > <i class="fas fa-exclamation-circle" style="color:#f27474;padding-right: 15px;"></i> Debe ingresar un comentario</div> 
    <!-- <div   *ngIf="validacion()" class ="text-center" style="margin-top: 10px;color: #666;padding-top: 5px;background: #f0f0f0;"  > <i class="fas fa-exclamation-circle" style="color:#f27474;padding-right: 15px;"></i> Debe ingresar un comentario</div>  -->
     <!-- <div>{{textoComentario()}} </div>  -->
    </div>
 
 
   <!-- <button class="btn btn-warning pl-5 pr-5"  style="margin-left: 30px;margin-right: 50px;"  (click)="sendInfo(1)">Enviar</button>  -->
   <button class="btn btn-warning text-white "  style="margin-left: 30px;margin-right: 50px;width: 160px"  (click)="sendInfo(1)">Enviar</button>
   <button class="btn btn-secondary pl-5 pr-5 "  style="background-color: #aaa;border-color: #aaa;" (click)="closeModal('edit-modal')" >Cancelar</button>

  

 <div style="height: 10px;" ></div>
</div>




</div>



