<!--<div class="row">
    <div class="col-lg-6">
        <h4 class="TitleLine">Clientes Reforzados</h4>
    </div>
    <div class="col-lg-6"></div>
</div>-->
<br>
<div class="">
    <div class="card-header bordesCabecera" style="background: white;">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link {{this.parent.arrSetClassSelectedSubModule[0]}} " data-toggle="tab" href="#detalleReforzado1" (click)="this.parent.setTipoSelectSubPestania(0)">Clientes Reforzados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{this.parent.arrSetClassSelectedSubModule[1]}}" data-toggle="tab" href="#detalleReforzado2" (click)="this.parent.setTipoSelectSubPestania(1)">Clientes con  coincidencia</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" style="">
        <div id="detalleReforzado1" class="tab-pane {{this.parent.arrSetClassSelectedSubModule[0]}}">

            <div class="col-md-5 d-flex justify-content-between " style="padding: 30px 0px 0px 0px; color: #a0a1cc !important;">
                <button (click)="exportListToExcel(1)" class="btn btn-outline-info form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar cliente reforzado </button>
            </div>
            <div class="row mb-2 mt-2" style="padding-left: 15px;
            padding-right: 15px;">


                <div class="borderFormat" style="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button (click)="this.parent.getserviceReforzado()" class="btn btn-warning btnBuscarStyle">Buscar</button>
                                </div>
                                <div class="col">
                                    <input  [(ngModel)]="txtBuscador" (keyup)="setFilterResultadosClient()" type="text" class="form-control  buttonSinBorder colorButton" value="" placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>
                    <div style="overflow-y:auto;">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Tipo y Nro. de Documento</th>
                                    <th>Nombre / Razón Social</th>
                                    <th *ngFor="let tipo of parent.tipoListas">{{tipo.SDESTIPOLISTA}}</th>
                                    <th>Régimen</th>
                                    <th>Acciones</th>
                                    <th>Procesar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of getBuscarClient(); let i = index;">
                                    <td>{{item.STIPOIDEN}} {{item.SNUM_DOCUMENTO}}</td>
                                    <td>{{item.SNOM_COMPLETO}}</td>
                                    <td *ngFor="let tipo of parent.tipoListas">
                                        <span class="cambiarColor" *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                                        <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
                                    </td>
                                    <td>{{item.SDESREGIMEN}}</td>
                                    <td>
                                        <button class="btn" data-toggle="dropdown">
                                            <span class="fas fa-bars" style="font-size: 20px;"></span>
                                        </button>
                                        <div class="dropdown-menu arrow pull-right dropdown" style="">
                                            <a class="dropdown-item" (click)="setDataViewCustomer(item)" routerLink="/c2-detail">Ver</a>
                                            <a class="dropdown-item" (click)="parent.getOptionsClient('2',item.SESTADO_TRAT,item,ind)">Eliminar de Reforzado</a>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="arrCheckboxClient[i]">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-1 txtCabecera">Tipo y Nro. de Documento</div>
                                        <div class="col-lg-2 txtCabecera text-left">Nombre / Razón Social</div>
                                        <div class="col-lg-7" style="padding-left: 0px;padding-right: 0px;">
                                            <div class="row">
                                                <div *ngFor="let tipo of parent.tipoListas" class="col-lg-2 txtCabecera ">{{tipo.SDESTIPOLISTA}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 txtCabecera">Régimen</div>


                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="row">
                                        <div class="col-lg-6 txtCabecera text-center">Acciones</div>
                                        <div class="col-lg-6 txtCabecera text-center">Procesar</div>
                                    </div>
                                </div>



                            </div>
                            <hr class="BordeHr" style="size:10px;">

                            <div class="row " *ngFor="let item of getBuscarClient(); let ind = index;">
                                <div class="col-lg-10">
                                    <div class="row">


                                        <div class="col-lg-1 txtDetalle">{{item.STIPOIDEN}} {{item.SNUM_DOCUMENTO}} </div>
                                        <div class="col-lg-2 txtDetalle text-left">
                                            {{item.SNOM_COMPLETO}}
                                        </div>

                                        <div class="col-lg-7 txtDetalle" style="padding-left: 0px;padding-right: 0px;">
                                            <div class="row">
                                                <div class="col-lg-2 text-left" *ngFor="let tipo of parent.tipoListas">
                                                    <span class="cambiarColor" *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                                                    <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-2 txtDetalle">
                                            {{item.SDESREGIMEN}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2" style="text-align: center; margin: auto;">
                                    <div class="row" style="padding-bottom:15px">
                                        <div class="col-lg-6 txtDetalle" style="padding-left:0px">
                                            <button class="btn" data-toggle="dropdown">
                                                <span class="fas fa-bars" style="font-size: 20px;"></span>
                                            </button>
                                            <div class="dropdown-menu arrow pull-right dropdown" style="">
                                                <a class="dropdown-item" (click)="setDataViewCustomer(item)" routerLink="/c2-detail">Ver</a>
                                                <a class="dropdown-item" (click)="parent.getOptionsClient('2',item.SESTADO_TRAT,item,ind)">Eliminar de Reforzado</a>

                                            </div>
                                        </div>
                                        <div class="col-lg-6 txtDetalle" style="">
                                            <input type="checkbox" [(ngModel)]="arrCheckboxClient[i]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>


            </div>


            <div style="width: 100%;">
                <div style="text-align:center">

                    <button class="btn btn-warning text-white" (click)="getProcessClientesReforzados()">Procesar búsqueda de coincidencias</button>

                </div>
            </div>


        </div>
        <div id="detalleReforzado2" class="tab-pane {{this.parent.arrSetClassSelectedSubModule[1]}}">
            <div class="col-md-5 d-flex justify-content-between " style="padding: 30px 0px 0px 0px; color: #a0a1cc !important;">
                <button (click)="exportListToExcel(2)" class="btn btn-outline-info form-control  buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar cliente reforzado con coincidencia </button>
            </div>
            <div class="row mb-2 mt-2" style="padding-left: 15px;
            padding-right: 15px;">

                <div class="col-lg-12 borderFormat">
                    <br>
                    <hr>
                    <div style="overflow-y:auto;">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Tipo y Nro. de Documento</th>
                                    <th>Nombre / Razón Social</th>
                                    <th *ngFor="let tipo of parent.tipoListas">{{tipo.SDESTIPOLISTA}}</th>
                                    <th>Régimen</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arrCoincidencias; let i = index;">
                                    <td>{{item.STIPOIDEN}} {{item.SNUM_DOCUMENTO}}</td>
                                    <td>{{item.SNOM_COMPLETO}}</td>
                                    <td *ngFor="let tipo of parent.tipoListas">
                                        <span class="cambiarColor" *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                                        <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
                                    </td>
                                    <td>{{item.SDESREGIMEN}}</td>
                                    <td>
                                        <button class="btn" data-toggle="dropdown">
                                            <span class="fas fa-bars" style="font-size: 20px;"></span>
                                        </button>
                                        <div class="dropdown-menu arrow pull-right" style="">
                                            <a class="dropdown-item" (click)="setDataViewCustomerAprobar(item)" routerLink="/c2-detail">Ver</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="row" style="">
                                        <div class="col-lg-1 txtCabecera">Tipo de Documento</div>
                                        <div class="col-lg-2 txtCabecera text-left">Nombre / Razón Social</div>
                                        <div class="col-lg-7" style="padding-left: 0px;padding-right: 0px;">
                                            <div class="row">
                                                <div *ngFor="let tipo of parent.tipoListas" class="col-lg-2 txtCabecera">{{tipo.SDESTIPOLISTA}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 txtCabecera">Régimen</div>


                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="row" style="">
                                        <div class="col-lg-6 txtCabecera text-center">Acciones</div>
                                    </div>
                                </div>



                            </div>
                            <hr class="BordeHr" style="size:10px;">

                            <div class="row " *ngFor="let item of arrCoincidencias; let i = index;">
                                <div class="col-lg-11">
                                   
                                    <div class="row ">

                                        <div class="col-lg-1 txtDetalle">{{item.STIPOIDEN}}</div>
                                        <div class="col-lg-2 txtDetalle text-left">
                                            {{item.SNOM_COMPLETO}}
                                        </div>


                                        <div class="col-lg-7 txtDetalle" style="padding-left: 0px;padding-right: 0px;">
                                            <div class="row">
                                                <div class="col-lg-2 text-left" *ngFor="let tipo of parent.tipoListas">
                                                    <span class="cambiarColor" *ngIf="parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Coincidencia</span>
                                                    <span *ngIf="!parent.validate(item.ARRAY_IDTIPOLISTA, tipo.NIDTIPOLISTA)">Sin Coincidencia</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 txtDetalle">
                                            {{item.SDESREGIMEN}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1" style="text-align: center; margin: auto;">
                                    <div class="row" style="padding-bottom:15px">
                                        <div class="col-lg-12 txtDetalle" style="padding-left:0px">
                                            <button class="btn" data-toggle="dropdown">
                                                <span class="fas fa-bars" style="font-size: 20px;"></span>
                                            </button>
                                            <div class="dropdown-menu arrow pull-right" style="">
                                                <a class="dropdown-item" (click)="setDataViewCustomerAprobar(item)" routerLink="/c2-detail">Ver</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="size:10px;" *ngIf="arrResultadoFilter.length > 0">
                        </div>
                    </div> -->
                </div>

            </div>

        </div>

    </div>
</div>

<br><br>