<app-navbar></app-navbar>
<main class="container-fluid app-main pl-5 pr-5">
    <div class="row  pl-5 pr-5">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>
    <br>

    
        <!-- <div class="col-lg-3 pl-5">Seleccionar un grupo</div> -->
        <div class="col-lg-3 form-group pl-5" style="margin-right: 40px;">
            <label class="fontText">Grupo:</label>
            <select  [(ngModel)]="idGrupo" name="profile" (change)="valorGrupo($event)"
               
                style="display: flex;justify-content: center;align-items: center;"
                class="form-control buttonSinBorder">
                <!-- <option value="0" selected>Seleccione</option> -->
                <option *ngFor="let item of GrupoList" value="{{item.NIDGRUPOSENAL}}" id="profileIdSelected" >
                    {{item.SDESGRUPO_SENAL}}</option>
               
            </select>
        </div>
   
    
    <div class="container-fluid pl-5 pr-5">
        <div class="card-header bordesCabecera" style="background: white;" >
        <ul class="nav nav-pills nav-justified" *ngIf="this.idGrupo == 1;else OtrosGrupos">
            <li class="nav-item" >
                <a class="nav-link colortab  {{arrSetClassSelected[0]}}" data-toggle="tab" href="#cus-manag"
                    (click)="setTipoSelectPestaniaClient(0)">Gestor de clientes</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link colortab {{arrSetClassSelected[1]}}" data-toggle="tab" href="#pre"
                    (click)="setTipoSelectPestaniaClient(1)">Cliente Revisado</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link colortab {{arrSetClassSelected[2]}} " data-toggle="tab" href="#cli-refor"
                    (click)="setTipoSelectPestaniaClient(2)">Cliente Reforzado</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link colortab {{arrSetClassSelected[3]}} " data-toggle="tab" href="#comple-cus"
                    (click)="setTipoSelectPestaniaClient(3)">Cliente Complementario</a>
            </li>
            
        </ul> 

        <ng-template #OtrosGrupos>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item" >
                    <a class="nav-link colortab  {{arrSetClassSelected[0]}}" data-toggle="tab" href="#cus-manag"
                        (click)="setTipoSelectPestaniaClient(0)">Gestor de clientes</a>
                </li>
                
                <li class="nav-item" >
                    <a class="nav-link colortab {{arrSetClassSelected[4]}} " data-toggle="tab" href="#lista"
                        (click)="setTipoSelectPestaniaClient(4)">Listas de Coincidencias</a>
                </li>
            </ul> 
          </ng-template>
        
        </div>

        <div class="tab-content" style=""  >
            <div id="cus-manag"  class=" tab-pane {{arrSetClassSelected[0]}}">
                <!-- <div class="row mb-2 mt-2">
                    <div class="Header">
                        <div class="col-lg-12">
                            <h4 class="TitleLine">Gestor de clientes</h4>
                        </div>
                    </div>
                </div> -->
                <div class="borderFormat">
                    <div class="row form-group">
                        <div class="col-lg-1">
                            <span class="fontText">Buscar por:</span>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" (change)="searchTypeChange($event)" [(ngModel)]="NBUSCAR_POR">
                                <option value="1">Documento</option>
                                <option value="2">Nombre</option>
                            </select>
                        </div>
                        <div class="col-lg-2" style="margin-right: -60px;" [hidden]="hideDocumento">
                            <span class="fontText">Tipo de documento:</span>
                        </div>
                        <div class="col-lg-2" [hidden]="hideDocumento">
                            <select class="form-control" (change)='changeTipoDocumento()'
                                [(ngModel)]="paramCliente.NTIPOIDEN_BUSQ">
                                <option value="2">DNI</option>
                                <option value="1">RUC</option>
                                <option value="3">C.E.</option>
                                <option value="4">PASAPORTE</option>
                            </select>
                        </div>
                        <div class="col-lg-1" [hidden]="hideDocumento">
                            <span class="fontText">Número:</span>
                        </div>
                        <div class="col-lg-2" [hidden]="hideDocumento" style="margin-left: -35px;">
                            <!-- <input class="form-control" type="text" (keydown)="negarCopiar($event)" maxlength="{{validationCantidadCaracteres()}}" (keypress)="validaNumericos($event)" [(ngModel)]="paramCliente.SNUM_DOCUMENTO_BUSQ"> -->
                            <input class="form-control" type="text" maxlength="{{validationCantidadCaracteres()}}"
                                (keypress)="validaNumericos($event)" [(ngModel)]="paramCliente.SNUM_DOCUMENTO_BUSQ">
                        </div>

                        <div class="col-lg-1" *ngIf="mostrarBotonBuscarDocumento()">
                            <!-- <button class="btn btn-warning" (click)="getResultsList()"
                                style="font-size: 20px;font-family: 'Roboto';">Buscar</button> -->
                                <!--<button _ngcontent-qgx-c1="" (click)="getResultsList()"  class="btn btn-warning text-white buttonSinBorder">Buscar</button>-->
                                <button _ngcontent-qgx-c1="" (click)="getResultsList()"  class="btn btn-warning btnBuscarStyle">Buscar</button>

                        </div>


                        <div class="col-lg-1" [hidden]="!hideDocumento">
                            <span class="fontText">Tipo de Persona:</span>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" [hidden]="!hideDocumento"
                                (change)="searchPersonTypeChange($event)" [(ngModel)]="NTIPO_PERSONA">
                                <option value="1">Natural</option>
                                <option value="2">Jurídica</option>
                            </select>
                        </div>

                    </div>








                    <div class="row form-group" [hidden]="hideNombresPersona">
                        <div class="col-lg-1">
                            <span class="fontText">Primer nombre:</span>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" style="text-transform: uppercase"
                                (keypress)="soloLetras($event)" type="text" [(ngModel)]="paramCliente.SPRIMER_NOMBRE">
                        </div>
                        <div class="col-lg-1">
                            <span class="fontText">Segundo nombre:</span>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" style="text-transform: uppercase"
                                (keypress)="soloLetras($event)" type="text" [(ngModel)]="paramCliente.SSEGUNDO_NOMBRE">
                        </div>
                        <div class="col-lg-1">
                            <span class="fontText">Apellido Paterno:</span>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" style="text-transform: uppercase"
                                (keypress)="soloLetras($event)" type="text"
                                [(ngModel)]="paramCliente.SAPELLIDO_PATERNO">
                        </div>
                        <div class="col-lg-1">
                            <span class="fontText">Apellido Materno:</span>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" style="text-transform: uppercase"
                                (keypress)="soloLetras($event)" type="text"
                                [(ngModel)]="paramCliente.SAPELLIDO_MATERNO">
                        </div>
                    </div>
                    <div class="row form-group" [hidden]="hideRazonSocial">
                        <div class="col-lg-2">
                            <span class="fontText">Razón social:</span>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" style="text-transform: uppercase" type="text"
                                [(ngModel)]="paramCliente.SRAZON_SOCIAL">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-1" *ngIf="mostrarBotonBuscarNombre()">
                            <!-- <button class="btn btn-warning" (click)="getResultsList()"
                                style="font-size: 20px;font-family: 'Roboto';">Buscar</button> -->
                                <button _ngcontent-qgx-c1="" (click)="getResultsList()"  class="btn btn-warning text-white ">Buscar</button>
                        </div>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="table-responsive" *ngIf="newArrayResult.length > 0">
                            <div class="table table-sm">

                                <table class="table table-sm" style="font-size: 12px;overflow-y: auto; ">
                                    <thead
                                        style="text-transform: uppercase;color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif;">
                                        <th scope="col" class="text-left">Último periodo de búsqueda</th>
                                        <th scope="col" class="text-left">Nombre / Razón Social</th>
                                        <th scope="col" class="text-left">Tipo de Documento</th>
                                        <th scope="col" class="text-left">NÚMERO DE DOCUMENTO</th>
                                        <th *ngFor="let type of tipoListas" scope="col" class="text-left">
                                            {{type.nombre}}
                                        </th>
                                        <th>Producto</th>
                                        <th>Estado</th>
                                        <th>Régimen</th>
                                        <th>Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of newArrayResult; let i = index ">
                                            <td class="text-left">30/09/2020</td>
                                            <td class="text-left">{{item.SNOM_COMPLETO}}</td>
                                            <td class="text-left">{{item.STIPOIDEN}}</td>
                                            <td class="text-left">{{item.SNUM_DOCUMENTO}}</td>
                                            <td class="text-left" *ngFor="let type of item.arrListas">
                                                {{type.SDESESTADO}}
                                            </td>
                                            <td class="text-left">Varios</td>
                                            <td class="text-left">{{item.SDESESTADO_TRAT}}</td>
                                            <td class="text-left">{{item.SDESREGIMEN}}</td>
                                            <td class="text-left">
                                                
                                                <button
                                                    class="btn {{item.boolStatusBoton == true ?  'sinespacioboton' : 'espacioboton'}}"
                                                    data-toggle="dropdown" *ngIf="item.boolStatusBoton">
                                                    <span class="fas fa-bars" style="font-size: 20px;"></span>
                                                </button>
                                                
                                                <div *ngIf="item.SESTADO_TRAT == 'CRE' "
                                                    class="dropdown-menu arrow pull-right dropdown">
                                                    <a class="dropdown-item" (click)="goToDetail(item,'CRE')">Ver</a>

                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CRF','Reforzado',1)">Enviar a
                                                        Reforzado</a>
                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CCO','Complementario',1)">Enviar a
                                                        Complementario</a>
                                                    <a class="dropdown-item"
                                                        (click)="getBusquedaCoicnidencias(item)">Realizar búsqueda de
                                                        coincidencias</a>
                                                </div>
                                                <div *ngIf="item.SESTADO_TRAT == 'CCO' "
                                                    class="dropdown-menu arrow pull-right dropdown">
                                                    <a class="dropdown-item" (click)="goToDetail(item,'CCO')">Ver</a>
                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CRE','Revisado',1)">Enviar a Revisado</a>
                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CRF','Reforzado',1)">Enviar a
                                                        Reforzado</a>

                                                    <a class="dropdown-item"
                                                        (click)="getBusquedaCoicnidencias(item)">Realizar búsqueda de
                                                        coincidencias</a>
                                                </div>
                                                <div *ngIf="item.SESTADO_TRAT == 'CRF'"
                                                    class="dropdown-menu arrow pull-right dropdown">
                                                    <a class="dropdown-item" (click)="goToDetail(item,'CRF')">Ver</a>
                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CRE','Revisado',1)">Enviar a Revisado</a>

                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CCO','Complementario',1)">Enviar a
                                                        Complementario</a>
                                                    <a class="dropdown-item"
                                                        (click)="getBusquedaCoicnidencias(item)">Realizar búsqueda de
                                                        coincidencias</a>
                                                </div>
                                                <div *ngIf="item.SESTADO_TRAT == 'NNN' "
                                                    class="dropdown-menu arrow pull-right dropdown">
                                                    <a class="dropdown-item" (click)="goToDetail(item,'NNN')">Ver</a>
                                                    <a class="dropdown-item"
                                                        (click)="update(item,'CRF','Reforzado',1)">Enviar a
                                                        Reforzado</a>
                                                    <a class="dropdown-item"
                                                        (click)="getBusquedaCoicnidencias(item)">Realizar búsqueda de
                                                        coincidencias</a>


                                                </div>
                                                <div *ngIf="item.SESTADO_TRAT == null "
                                                    class="dropdown-menu arrow pull-right dropdown">
                                                    <a class="dropdown-item" (click)="goToDetailAprobar(item)">Aprobar
                                                        coincidencias</a>
                                                    


                                                </div>
                                               
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->





                    <div class="">
                        <hr>
                        
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="row">
                                    <div class="col-lg-1 txtCabecera">Último periodo de búsqueda</div>
                                    <div class="col-lg-1 txtCabecera">Nombre / Razón Social</div>
                                    <div class="col-lg-1 txtCabecera">Tipo de Documento</div>
                                    <div class="col-lg-1 txtCabecera">Número de Documento</div>
                                    <div *ngFor="let type2 of tipoListas" class="text-left col-lg-1 txtCabecera text-left" style="" >{{type2.nombre}}
                                    </div>
                                    <div class="col-lg-1 txtCabecera">Producto</div>
                                    <div class="col-lg-1 txtCabecera">Estado</div>
                                    <div class="col-lg-1 txtCabecera" style="padding-left:0px;padding-right: 0px;">Régimen</div>
                                </div>
                            </div> 
                            
                            <div class="col-lg-1">
                                <div class="row">
                                    <div class="col-lg-12 txtCabecera text-center" >Acciones</div>
                                </div>
                            </div> 
                            
                           

                        </div>

                        <hr class="BordeHr" style="size:12px;" >

                        <div class="row " *ngFor="let item of newArrayResult; let i = index;">
                            <div class="col-lg-11">
                                <div class="row"  *ngFor="let itemCli of item.arrClientesGC;">
                                    <div class="col-lg-1 txtDetalle" style="padding-right:0px;padding-left:15px">{{itemCli.NPERIODO_PROCESO}}</div>

                                    <div class="col-lg-1 txtDetalle"  style="padding-right:0px">{{itemCli.SNOM_COMPLETO}}</div>
                                    <div class="col-lg-1 txtDetalle" style="padding-left:15px;padding-right: 0px;">{{itemCli.STIPOIDEN}}</div>
                                    <div class="col-lg-1 txtDetalle" style="padding-left:15px">{{itemCli.SNUM_DOCUMENTO}}
                                    </div>
                                    <div class="col-lg-1 txtDetalle text-left {{CambiarColor(type.SDESESTADO.trim())}}" *ngFor="let type of itemCli.arrListas;">
                                        {{type.SDESESTADO}}</div>
                                    <div class="col-lg-1 txtDetalle" style="padding-left:15px;padding-right: 0px;">{{itemCli.SDESPRODUCTO}}</div>
                                    <div class="col-lg-1 txtDetalle" style="padding-left:15px;padding-right: 0px;">{{itemCli.SDESESTADO_TRAT}}
                                    </div>
                                    <div class="col-lg-1 txtDetalle" style="padding-left:15px;padding-right: 0px;">{{itemCli.SDESREGIMEN}}</div>
                                </div>
                            </div>
                            <div class="col-lg-1" style="text-align: center; margin: auto;">
                                <div class="row">
                                    <div class="col-lg-12 txtDetalle" style="padding-left:0px">
                                            <button
                                                    class="btn"
                                                    data-toggle="dropdown">
                                                    <span class="fas fa-bars" style="font-size: 20px;"></span>
                                                </button>
                                                
                                                <div  *ngIf="idGrupo == 1" >
                                                    <div *ngIf="item.obj.SESTADO_TRAT == 'CRE' && item.obj.SFALTA_ACEPTAR_COINC == 'NO' "
                                                    class="dropdown-menu dropdown-menu-right colorTextoDropDown">
                                                        <a class="dropdown-item" (click)="goToDetail(item.obj,'CRE')">Ver</a>
    
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CRF','Reforzado',1)">Enviar a
                                                            Reforzado</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CCO','Complementario',1)">Enviar a
                                                            Complementario</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="getBusquedaCoicnidencias(item.obj,item.arrClientesGC)">Realizar búsqueda de
                                                            coincidencias</a>
                                                    </div>
                                                    <div *ngIf="item.obj.SESTADO_TRAT == 'CCO' && item.obj.SFALTA_ACEPTAR_COINC == 'NO'"
                                                    class="dropdown-menu dropdown-menu-right colorTextoDropDown">
                                                        <a class="dropdown-item colorTextoDropDown" (click)="goToDetail(item.obj,'CCO')">Ver</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CRE','Revisado',1)">Enviar a Revisado</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CRF','Reforzado',1)">Enviar a
                                                            Reforzado</a>
    
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="getBusquedaCoicnidencias(item.obj,item.arrClientesGC)">Realizar búsqueda de
                                                            coincidencias</a>
                                                    </div>
                                                    <div *ngIf="item.obj.SESTADO_TRAT == 'CRF' && item.obj.SFALTA_ACEPTAR_COINC == 'NO'"
                                                    class="dropdown-menu dropdown-menu-right colorTextoDropDown">
                                                        <a class="dropdown-item colorTextoDropDown" (click)="goToDetail(item.obj,'CRF')">Ver</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CRE','Revisado',1)">Enviar a Revisado</a>
    
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CCO','Complementario',1)">Enviar a
                                                            Complementario</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="getBusquedaCoicnidencias(item.obj,item.arrClientesGC)">Realizar búsqueda de
                                                            coincidencias</a>
                                                    </div>
                                                    <div *ngIf="item.obj.SESTADO_TRAT == 'NNN' && item.obj.SFALTA_ACEPTAR_COINC == 'NO'"
                                                    class="dropdown-menu dropdown-menu-right colorTextoDropDown">
                                                        <a class="dropdown-item colorTextoDropDown" (click)="goToDetail(item.obj,'NNN')">Ver</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="update(item.obj,item.obj.SESTADO_TRAT,'CRF','Reforzado',1)">Enviar a
                                                            Reforzado</a>
                                                        <a class="dropdown-item colorTextoDropDown"
                                                            (click)="getBusquedaCoicnidencias(item.obj,item.arrClientesGC)">Realizar búsqueda de
                                                            coincidencias</a>
    
    
                                                    </div>
                                                    <div *ngIf="item.obj.SFALTA_ACEPTAR_COINC == 'SI'"
                                                    class="dropdown-menu dropdown-menu-right colorTextoDropDown">
                                                        
                                                        <a class="dropdown-item colorTextoDropDown" (click)="goToDetailAprobar(item.obj,item.arrClientesGC)">Aprobar
                                                            coincidencias</a>
    
    
                                                    </div>
                                                     <div *ngIf="item.obj.SESTADO_TRAT == null && item.obj.SFALTA_ACEPTAR_COINC == 'SI'"
                                                     class="dropdown-menu dropdown-menu-righ colorTextoDropDown">
                                                        <a class="dropdown-item colorTextoDropDown" (click)="goToDetailAprobar(item.obj,item.arrClientesGC)">Aprobar
                                                            coincidencias</a>
                                                        
    
    
                                                    </div> 
                                                </div>
                                                
                                                <div *ngIf="(idGrupo == 2 || idGrupo == 3)  && item.obj.SFALTA_ACEPTAR_COINC == 'SI'"
                                                class="dropdown-menu dropdown-menu-righ colorTextoDropDown">
                                                
                                                
                                                   <a class="dropdown-item colorTextoDropDown" (click)="goToDetailAprobar(item.obj,item.arrClientesGC)">Aprobar
                                                       coincidencias</a>
                                                   


                                               </div> 
                                               <div *ngIf="(idGrupo == 2 || idGrupo == 3 ) && item.obj.SFALTA_ACEPTAR_COINC == 'NO'"
                                               class="dropdown-menu dropdown-menu-righ colorTextoDropDown">
                                               <a class="dropdown-item colorTextoDropDown" (click)="goToDetail(item.obj,'NNNN')">Ver</a>
                                               <a class="dropdown-item colorTextoDropDown"
                                                       (click)="getBusquedaCoicnidencias(item.obj,item.arrClientesGC)">Realizar búsqueda de
                                                       coincidencias</a>
                                                   
                                                
                                              </div> 
                                        
                                    </div>
                                </div>
                            </div> 



                        </div>

                    </div>




                </div>
            </div>
           
            <div id="pre"  class=" tab-pane {{arrSetClassSelected[1]}}">
                <app-pre-reinforced-customers [parentCRF]="parentCRF" [parentCCO]="parentCCO" [parent]="this"
                    [arrResultados]="arrClientesRevisado"></app-pre-reinforced-customers>
            </div>
            <div id="cli-refor"   class=" tab-pane {{arrSetClassSelected[2]}}">
                <app-reinforced-customers [parent]="this" [arrResultados]="arrClientesRefor"
                    [arrCoincidencias]="arrClientesCoincid"></app-reinforced-customers>
            </div>
            <div id="comple-cus"    class=" tab-pane {{arrSetClassSelected[3]}}">
                <app-complementary-customers [parent]="this" [arrResultados]="arrClientesCompl">
                </app-complementary-customers>
            </div>
            
             <div id="lista"   class=" tab-pane {{arrSetClassSelected[4]}}">
                <div class="borderFormat">
                    <hr>
                    
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-1 txtCabecera">Último periodo de búsqueda</div>
                                <div class="col-lg-2 txtCabecera">Nombre / Razón Social</div>
                                <div class="col-lg-1 txtCabecera">Tipo de Documento</div>
                                <div class="col-lg-1 txtCabecera">Número de Documento</div>
                                <div *ngFor="let type2 of tipoListas" class="text-left col-lg-1 txtCabecera text-left" style="" >{{type2.nombre}}
                                </div>
                                <div class="col-lg-1 txtCabecera">Producto</div>
                                <div class="col-lg-1 txtCabecera">Estado</div>
                                
                            </div>
                        </div> 
                        
                        <div class="col-lg-1">
                            <div class="row">
                                <div class="col-lg-12 txtCabecera text-center" >Acciones</div>
                            </div>
                        </div> 
                        
                       

                    </div>

                    <hr class="BordeHr" style="size:10px;" >

                    <div class="row " *ngFor="let item of newArrayResult2; let i = index;">
                        <div class="col-lg-11">
                            <div class="row"  *ngFor="let itemCli of item.arrClientesGC;">
                                <div class="col-lg-1 txtDetalle  text-center" style="padding-right:0px;padding-left:0px">{{itemCli.NPERIODO_PROCESO}}</div>

                                <div class="col-lg-2 txtDetalle"  style="padding-right:0px">{{itemCli.SNOM_COMPLETO}}</div>
                                <div class="col-lg-1 txtDetalle" style="padding-left:0px;padding-right: 0px;">{{itemCli.STIPOIDEN}}</div>
                                <div class="col-lg-1 txtDetalle" style="padding-left:0px">{{itemCli.SNUM_DOCUMENTO}}
                                </div>
                                <div class="col-lg-1 txtDetalle text-left {{CambiarColor(type.SDESESTADO.trim())}}" *ngFor="let type of itemCli.arrListas;">
                                    {{type.SDESESTADO}}</div>
                                <div class="col-lg-1 txtDetalle" style="padding-left:0px;padding-right: 0px;">{{itemCli.SDESPRODUCTO}}</div>
                                <div class="col-lg-1 txtDetalle" style="padding-left:0px;padding-right: 0px;">{{itemCli.SDESESTADO_TRAT}}
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-1" style="text-align: center; margin: auto;">
                            <div class="row">
                                <div class="col-lg-12 txtDetalle" style="padding-left:0px">
                                        <button
                                                class="btn"
                                                data-toggle="dropdown">
                                                <span class="fas fa-bars" style="font-size: 20px;"></span> 
                                            </button>
                                                                                  
                                           
                                            <div *ngIf="(idGrupo == 2 || idGrupo == 3)  && item.obj.SFALTA_ACEPTAR_COINC == 'SI'" 
                                            class="dropdown-menu dropdown-menu-righ colorTextoDropDown">
                                            <a class="dropdown-item colorTextoDropDown" (click)="goToDetail(item.obj,'NNN')">Ver</a>
                                            </div> 

                                           <div *ngIf="(idGrupo == 2 || idGrupo == 3)  && item.obj.SFALTA_ACEPTAR_COINC == 'NO'"
                                           class="dropdown-menu dropdown-menu-righ colorTextoDropDown">
                                           <a class="dropdown-item colorTextoDropDown" (click)="goToDetail(item.obj,'NNN')">Ver</a>
                                          </div> 
                                    
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
                    
             </div>
          
        </div>

   



    </div>
</main>
<br>
<app-footer></app-footer>