<app-navbar></app-navbar>
<main class="container app-main">
    <br>
    <br>
    <div class="row">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>  
    <div class="row borderFormat" style="display: flex;justify-content: center;align-items: center;">

        <div class="col-md-5">
            <app-lista-historia [historias]="historias"></app-lista-historia>
        </div>
        <div class="col-md-7">
            <app-grafico-estadistico [cargas]="cargas" (changeCarga)="changeCarga($event)">
            </app-grafico-estadistico>
        </div>

        <div class="col-12 mt-3">
            <app-lista-registro [Titulo]="tittle" [searchCarga]="boolCambioCarga" [registros]="carga.registros">
            </app-lista-registro>
        </div>
    </div>
</main>
<app-footer></app-footer>