<div class="container pt-5">
    <div class="row form-group">
        <div class="col-lg-2">
            <span class="fontText">Fecha Inicio:</span>
        </div>
        <div col-lg-2 title="Ingrese la fecha de inicio">
            <input type="text" [(ngModel)]="FECHAINICIO" placeholder="DESDE"
                class="form-control buttonSinBorder colorButton" bsDatepicker #dpr="bsDatepicker"
                [maxDate]="maxDate"
                [bsConfig]="{isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' }">
        </div>
        <div class="col-lg-2">
            <span class="fontText">Fecha Fin:</span>
        </div>
        <div col-lg-2 title="Ingrese la fecha de fin">
            <input type="text" [(ngModel)]="FECHAFIN" placeholder="DESDE"
                class="form-control buttonSinBorder colorButton" bsDatepicker #dpr="bsDatepicker"
                [maxDate]="maxDate"
                [bsConfig]="{isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' }">
        </div>
        <div class="col-lg-2">
            <button _ngcontent-qgx-c1="" (click)="getResultSeacsa()"
                class="btn btn-warning text-white ">Buscar</button>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-12 text-center">
                RESULTADO : {{this.resultado}}
        </div>
    </div>
</div>
