<div id="cabecera" class="container-fluid"  style="background: rgb(240, 238, 237);margin: 0px;float: top;z-index:4;top:0; position: sticky;max-height: 100px;">
    <div class="row" >
        <div class="col-1" style="background-color: blue;">
           <span class="fas fa-bars"  style="font-size:30px;cursor:pointer" (click)="openNav()"></span> 
           
        </div>
        <div class="col-7" style="background-color: yellow;">
            
            <a  (click)="Home()" style="cursor: pointer;">
                <img src="assets/img/logo-protecta.svg" alt="Protecta Security" style="position: relative;height:100px">
            </a>
            
        </div>
        <div class="col-4" style="background-color: red;">
               
                 <div class="row">
                   <div class="col-8"  style="height: 100px;">
                     Richard Alvarez Ruiz
                     <br>
                     Oficial de Cumplimiento
                   </div>
                   <div class="col-4"  style="height: 100px;">
                    <i class="fa fa-user welcome__icon"  aria-hidden="true"></i>
                   </div>
                 </div>
             
           
            
        </div>
    </div>   
</div>
<!-- <div *ngIf="Ocultar()" id="cabecera" class="container-fluid"  
style="background: rgb(240, 238, 237);margin-left: 0px;float: top;z-index:4;top:0;">
    <div class="row" >
        <div class="col-1 mt-4 mb-4 ml-4 mr-2" >
            <span class="fas fa-bars"  style="font-size:30px;cursor:pointer" ></span>
        </div>
        <div class="col-3 mt-1 mb-1 " (click)="Home()"  style="cursor: pointer;">
            <img src="assets/img/logo-protecta.svg" alt="Protecta Security" >
        </div>
       
    </div>   


</div> -->

<div class="sidenav" #mySidenav >

    <a  class="closebtn mt-1" style="cursor:pointer;" (click)="closeNav()">&times;</a>
    
    <div  *ngFor="let option of optionList; let index = index;" (click)="activeSidenav(index)" id="{{index}}">
       
        <a *ngIf="option.nTieneHijo == 1" >
            <span  class="fas fa-angle-right col-lg-1"  style="font-size:20px;cursor:pointer"></span>
            
            <span class="col-lg-11" style="white-space: initial;">{{ option.sName }}</span>
            
        </a>
        <a *ngIf="option.nTieneHijo == 0" [routerLink]="['/' + option.sRouterLink]">
            <span *ngIf="option.nTieneHijo == 1" class="fas fa-angle-right col-lg-1"  style="font-size:20px;cursor:pointer"></span>
            
            <span class="col-lg-11" style="white-space: initial;">{{ option.sName }}</span>
            
        </a>
        
        
        
        <div *ngFor="let subM of optionListSubMenu" class="sideNav2 col-lg-12">
            <div  (click)="changeClient($event)" id="{{ subM.sName }}">
                <a *ngIf="subM.nFatherId == option.nResourceId" [routerLink]="['/' + subM.sRouterLink]" >{{ subM.sName }}</a>
            </div>
           
            
        </div>
        
        <hr>

    </div>
    <div class="close-window col-lg-11" style="cursor: pointer;" >
        <a  (click)="CerrarSession()" >Cerrar Sesión</a>
    
    
</div> 



