@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
.borderFormat{
    padding-right: 15px;padding-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #d4d2d2;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    width: 100%;
}
.senal {
    background-color: #F94040;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;
    margin: 5px;
    width: 40px;
}
.pendiente{

    background-color: #E4C61B;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;
    
    margin: 5px;
    width: 100px;

}

.completado{

    background-color: #019713;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;
    
    margin: 5px;
    width: 120px;

}

.devuelto{

    background-color: #F5690E;
    font-weight: bold;
    background-size: 100% 100%;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;    
    margin: 5px;
    width: 130px;

}

.txtCabecera{
    font-size: 14px;
    font-family: Roboto;
    color: rgba(38, 41, 109, 0.6);
    font-weight: bold;
}

.txtDetalle{
    font-size: 14px;
    font-family: Roboto;
}

.unlinkeo{
    text-decoration: none;
}

.arrow_box_oc {
    position: relative;
    background: #FCD182;
    border: 1px solid #8a8a8a;
  }
  .arrow_box_oc:after, .arrow_box_oc:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrow_box_oc:after {
    border-color: rgba(255, 205, 105, 0);
    border-right-color: #FCD182;
    border-width: 5px;
    margin-top: -5px;
  }
  .arrow_box_oc:before {
    border-color: rgba(138, 138, 138, 0);
    border-right-color:  rgba(136, 183, 213, 0);
    border-width: 6px;
    margin-top: -6px;
  }

  .TitleLine2{
    padding-bottom: 1%;
  position: relative;
  z-index : 1;
  
  }

.TitleLine{
  padding-bottom: 4%;
position: relative;
z-index : 1;

}
.TitleLine:before{
content : "";
position: absolute;
left    : 0;
bottom  : 0;
height  : 1pxs;
width   : 100%;  /* or 100px */
border-bottom:2px solid #FA7000;
}

.container{
    font-family: 'Roboto', sans-serif;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.TitleLine{
  padding-bottom: 4%;
position: relative;
z-index : 1;

}
.TitleLine:before{
content : "";
position: absolute;
left    : 0;
bottom  : 0;
height  : 1pxs;
width   : 100%;  /* or 100px */
border-bottom:2px solid #FA7000;
}

.inputfile + label {
  font-size: 1.20em;
  font-weight: 400;
  color: balck;
  background-color: white;
  display: inline-block;
}

/*.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #FA7000;
}*/

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.activadoR{
    background-color: rgba(60, 138, 187, 0);
    padding-top: 5px;
    padding-bottom: 5px;
}

.hiddenEtiqueta{
    visibility: visible;
}
.showEtiqueta{
    visibility: hidden;
}

.headerSenials{
  border:none;
}

.headerSenials:hover{
  border: 1px solid #8a8a8a;
}

.tooltipT {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltipT .tooltiptextT {
  visibility: hidden;
  width: 300px;
  height: auto;
  max-width: auto;
  max-height: auto;
  background-color: rgb(71, 69, 69);
  color: rgb(245, 243, 243);
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 5;
  margin-left: -60px;
  bottom: 150%;
  left: 50%;
  /*border: 1px solid#0e0c0c;*/
}

.tooltipT .tooltiptextT::after {
  content: "";
  position: absolute;
}

.tooltipT:hover .tooltiptextT {
  visibility: visible;
  opacity: 1;
}

.tooltipT.top .tiptext{
  margin-left: -60px;
  bottom: 150%;
  left: 50%;
}
.tooltipT.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #2E2E2E transparent transparent transparent;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color:rgba(107, 112, 112, 0.616);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: rgba(107, 112, 112);
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color:  rgb(107, 97, 248);
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: rgb(107, 97, 248);
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /* color: #fff; */
    /* background-color: #007bff94; */
    background-color: #27246d!important;
    border-radius: inherit;
/* color: #fff!important; */
   }
  li .active a {
    /* background-color: #E0E0E0 !important; */
    color: white;
  }
  ul.tabs li.active,  li.active a{
    background: white;
    }
 a{
  color: black;
  }

  .card-header{
    padding: 0px;
    border-color: #27246d!important;
    border:  1px solid;
    
  }

   /*body {
    position: relative;
  }
  ul.nav-pills {
    top: 20px;
    position: fixed;
  }
  div.col-8 div {
    height: 500px;
  }*/


  .bordesCabecera{
    box-shadow: 8px 8px 10px #c4c4c4;
      background: #F6F6F6;
      border-top: 1px solid #7C7C7C;
  }


  .top-container {
    /* background-color: #f1f1f1; */
    padding: 30px;
    /* text-align: center; */
  }
  
  .header {
    /* padding: 10px 16px;
    background: #555;
    color: #f1f1f1; */
    z-index: 10;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 10px;
  }

  .sticky  {
    padding-top: 10px;
  }










