<div class="table-responsive" style="height: auto;width:auto;overflow-y: visible;overflow-x: auto;"
    *ngIf="objAlerta.NIDALERTA === 1">

    <div class="">
        <hr>
        <div class="row">
            <!--<div class="col-lg-1 txtCabecera">N°</div>-->
            <div class="col-lg-1 txtCabecera">RUC</div>
            <div class="col-lg-2 txtCabecera">Razón Social</div>
            <div class="col-lg-1 txtCabecera">Ramo</div>
            <div class="col-lg-8 pl-4">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <!-- <div class=" {{getClassByColum()}} txtCabecera" style="padding-right:0px;padding-left:0px;" *ngFor="let item of objAlerta.arrPreguntasTitleDetail;"> -->
                    <div class="col-lg-5 txtCabecera" style="padding-right:0px; text-align: justify;" [ngStyle]="{'padding-left':getStyle(index)}"    *ngFor="let item of objAlerta.arrPreguntasTitleDetail;let index=index">
                        {{item.SPREGUNTA}}
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="row mt-2 mb-2" *ngIf="objState.sState === 'PENDIENTE' || (parent.STIPO_USUARIO == 'RE' && objState.sState == 'DEVUELTO')">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-right"></div>
                    </div>
                    <div class="col-lg-2" style="padding-right:0px;padding-left:0px">

                        <div class="text-left">Marcar todas las respuestas</div>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-3"  style="padding-right:0px;padding-left:42px">
                        <div class="text-left">Marcar todas las respuestas</div>
                    </div>
                    <!-- <div class="col-lg-1"></div> -->
                </div>
            </div>
        </div>
        <div >
            <div class="row" *ngIf="objState.sState === 'PENDIENTE' || (parent.STIPO_USUARIO == 'RE' && objState.sState == 'DEVUELTO')">
                <div class="col-lg-5"  style="padding-right:0px;padding-left:0px"></div>
                <div class="col-lg-3"  style="padding-right:0px;padding-left:0px">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio1" (change)="setRespuestasRadio(0,1)">Sí
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio1" (change)="setRespuestasRadio(0,2)">No
                        </label>
                    </div>
                </div>
                <div class="col-lg-3"  style="padding-right:0px;padding-left:45px">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio2" (change)="setRespuestasRadio(1,1)">Sí
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio2" (change)="setRespuestasRadio(1,2)">No
                        </label>
                    </div>
    
                </div>
            </div>
            <div class="row" *ngIf="objState.sState === 'PENDIENTE' || (parent.STIPO_USUARIO == 'RE' && objState.sState == 'DEVUELTO')">
                <div class="col-lg-5"  style="padding-right:0px;padding-left:0px"></div>
                <div class="col-lg-3"  style="padding-right:0px;padding-left:0px">
                    <input type="text" class="form-control" id="inputglobal1" (keyup)="setDataInputTextRespCommentGeneral($event,0,'inputglobal1')" placeholder="Ingrese el comentario global" />
                </div>
                <div class="col-lg-3"  style="padding-right:0px;padding-left:45px">
                    <input type="text" class="form-control" id="inputglobal2" (keyup)="setDataInputTextRespCommentGeneral($event,1,'inputglobal2')" placeholder="Ingrese el comentario global" />
                    </div>
            </div>
            <hr>
            <div class="row" style="padding-bottom: 10px;"  *ngFor="let itemC1 of getArrayPreguntasDetalle();let indiceC1 = index;">
                <!--<span>{{arrRespuestasC1 | json}}</span>-->
                <div class="col-lg-1 txtDetalle" >{{itemC1[0].SRUC}}</div>
                <div class="col-lg-2 txtDetalle">{{itemC1[0].SNOMBRE_CLIENTE}}</div>
                <div class="col-lg-2 txtDetalle" style="padding-left:0px">{{itemC1[0].SPRODUCTO}}</div>
                <div class="col-lg-7 pl-3 pr-5"  >
                    <div class="row" >
                        <!-- <div class="col-lg-1"></div> -->
                        <div class="col-lg-6" [ngStyle]="{'padding-left': FuncionPadding()}" style="padding-bottom: 10px;"  
                        *ngFor="let objRespuesta of itemC1;let indiceRespuestaC1 = index;" >
                            <div *ngIf="objState.sState === 'PENDIENTE' || (parent.STIPO_USUARIO == 'RE' && objState.sState == 'DEVUELTO');"  id="prueba{{indiceC1+'-'+indiceRespuestaC1}}">
                                <div class="row pl-3" >
                                    
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradioz{{indiceC1+'-'+indiceRespuestaC1}}" 
                                        id="optradioz{{indiceC1+'-'+indiceRespuestaC1}}" value="1" 
                                        (change)="setDataInputs(indiceC1,indiceRespuestaC1,1)" [checked]="getCheckedByArray(indiceRespuestaC1,1,1,indiceC1)">Sí
                                    </label>
                                </div>
                                
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradioz{{indiceC1+'-'+indiceRespuestaC1}}" 
                                        id="optradioz{{indiceC1+'-'+indiceRespuestaC1}}" value="2" 
                                        (change)="setDataInputs(indiceC1,indiceRespuestaC1,2)" [checked]="getCheckedByArray(indiceRespuestaC1,2,2,indiceC1)">No
                                    </label>
                                </div>
                                </div>
                                <div class="row pl-3">
                                   <div class = "col-lg-12" style="padding-left: 0px;">
                                <input type="text" class="form-control form-control" value="{{objRespuesta.SCOMENTARIO}}" (keyup)="setDataInputComment(indiceC1,indiceRespuestaC1,$event)" 
                                id="opTextBox{{indiceC1+'-'+indiceRespuestaC1}}" placeholder="Agregar comentario" maxlength="500">
                                    </div> 
                                </div>
                            </div>
                            <div *ngIf="(parent.STIPO_USUARIO == 'RE' && objState.sState != 'PENDIENTE' && objState.sState != 'DEVUELTO') || (parent.STIPO_USUARIO == 'OC' && objState.sState != 'PENDIENTE') || (parent.STIPO_USUARIO == 'OC' && objState.sState == 'DEVUELTO')">
                                <!--<div>{{objRespuesta | json}}</div>-->
                                <div class="etiquetaAsig">respuesta:&nbsp;</div>
                                <div class="etiquetaText pr-2" *ngIf="objRespuesta.SRESPUESTA">{{objRespuesta.SRESPUESTA}}</div>
                                <div class="etiquetaText pr-2" *ngIf="!objRespuesta.SRESPUESTA">{{' - '}}</div>
                                <div class="etiquetaAsig">comentario:&nbsp;</div>
                                <div class="etiquetaText" *ngIf="objRespuesta.SCOMENTARIO">{{objRespuesta.SCOMENTARIO}}</div>
                                <div class="etiquetaText" *ngIf="!objRespuesta.SCOMENTARIO">{{' - '}}</div>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
                <!--<div class="col-lg-4" *ngIf="objState.sState === 'PENDIENTE'">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="1" (change)="setDataInputs(indiceC1,indiceRespuestaC1,1)">Sí
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" value="2" (change)="setDataInputs(indiceC1,indiceRespuestaC1,2)">No
                        </label>
                    </div>
                    <input type="text" class="form-control-inline" placeholder="Agregar comentario" maxlength="500">
                </div>-->
            </div>
        </div>
        

    </div>
    <br>

</div>
<br *ngIf="objAlerta.NIDALERTA === 1">
<div *ngIf="(objAlerta.NIDALERTA == 1 && parent.STIPO_USUARIO == 'RE' && objState.sState === 'PENDIENTE') || (objAlerta.NIDALERTA == 1 && parent.STIPO_USUARIO == 'RE' && objState.sState == 'DEVUELTO')" class="btn btn-warning text-white " style="float:left" (click)="openModal()">Agregar Empresa</div>
<!-- <div *ngIf="objAlerta.NIDALERTA === 1" class="icon-descarga" placement="top" ngbTooltip="Descargar Lista" (click)="DescargarArhivo(objState.sState)" style="cursor: pointer;" > 
    <i class="fas fa-arrow-down"></i>
</div>  -->
<div class="col-6" *ngIf="(objAlerta.NIDALERTA == 1  && (objState.sState === 'PENDIENTE' ||  objState.sState === 'COMPLETADO'))">
    <button (click)="DescargarArhivo(objState.sState,parent.STIPO_USUARIO )" class="btn btn-outline-info form-control ml-2 mr-2 buttonSinBorder colorButton"><i class="fas fa-download"></i> Descargar empresas</button>
</div>

<br *ngIf="objAlerta.NIDALERTA === 1">
<br *ngIf="objAlerta.NIDALERTA === 1">
<br *ngIf="objAlerta.NIDALERTA === 1">