.txtCabecera{
    font-size: 14px;
    font-family: Roboto;
    color: rgba(38, 41, 109, 0.6);
    font-weight: bold;
}

.txtDetalle{
    font-size: 14px;
    font-family: Roboto;
}

.txtDetallePequenio{
    font-size: 12px;
    font-family: Roboto;
}

.etiquetaAsig{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    color: royalblue;
    display: inline;
}
.etiquetaText{
    font-size: 14px;
    font-family: 'Roboto';
    color: black;
    display: inline;
}

.buttonSinBorder{
    border-radius : inherit;
  }
  .icon-descarga{
    font-size: 30px;
    padding: 5px;
    color: #fd7e14;
    float: left;
    margin-left: 40px;

  }
  .buttonSinBorder{
    border-radius : inherit;
  }

  .colorButton{
    color: #B4B5D9 !important;
    border: 1px solid #B4B5D9 !important;
  }
  .colorButton:hover{
    background: transparent !important;
    
  }
  .colorButton::placeholder{
    color: #B4B5D9 !important;
    
  }
  .colorButton{
    color: #7c7ea6 !important;
  }
