<app-navbar></app-navbar>
<main class="container app-main"> 
    <div class="row">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span>  Pantalla Principal
        </button>
    </div>
    <div class="container">
        <div class="row" style="display: flex;justify-content: left;align-items: left;padding-left: 30px;">
            <div class="col-lg-19">
                <h4 class="TitleLine">Monitoreo de ejecución</h4>
            </div>
        </div>
        <div class="row borderFormat">
            <div class="row">
                <div class="col-md-6 col-lg-2 form-group">
                    <label class="fontText">Inicio de Ejecución:</label>
                    <input [disabled]="startDateOff" type="text" [(ngModel)]="bsValueIni"
                        placeholder="DESDE" class="form-control buttonSinBorder colorButton" bsDatepicker
                        #dpr="bsDatepicker" [maxDate]="maxDate"
                        [bsConfig]="{isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' }">
                </div>
                <div class="col-md-6 col-lg-2 form-group ">
                    <label class="fontText">Fin de Ejecución:</label>
                    <input [disabled]="endDateOff" type="text" [(ngModel)]="bsValueFin" placeholder="HASTA"
                        class="form-control buttonSinBorder colorButton" bsDatepicker #dpr="bsDatepicker"
                        [maxDate]="maxDate"
                        [bsConfig]="{isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' }">
                </div>
                <div class="col-md-1 col-lg-1 form-group"  style="display: flex;justify-content: center;align-items: center;padding-top: 40px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;">
                    <input (change)="setControlsForProcess($event)" [(ngModel)]="SearchActivated"
                        name="SearchByIdReport" style="height: 20px;width: 20px; " class="" type="checkbox">
                </div>
                <div class="col-md-5 col-lg-3 form-group ">
                    <label for="" class="fontText">Buscar por ID:(*)</label>
                    <input [disabled]="IdReportOff" [(ngModel)]="IdReport" type="text" maxlength="40"
                        class="form-control buttonSinBorder" maxlength="40" style="text-transform:uppercase;"
                        placeholder="Ingrese el id">
                </div>
                <div class="col-md-1 col-lg-2 form-group">
                </div>
                <div class="col-md-6 col-lg-2 form-group" style="padding-top: 35px;">
                    <button style="margin-top: auto;width: 150px;" class="btn btn-warning text-white buttonSinBorder"
                        (click)="searchReports()">BUSCAR</button>
                </div>
            </div>
        </div>
        <br>
        <div class="tableLista">
            <div class="table-responsive borderFormat">
                <table class="table table-striped table-responsive-lg" style="font-size: 13px;">
                    <thead>
                        <tr style="color: rgba(38, 41, 109, 0.6);font-family: 'Roboto', sans-serif;">
                            <th style="text-align: center;">Estado</th>
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Fecha de Inicio de Ejecución</th>   
                            <th style="text-align: center;">Fecha de Fin de Ejecución</th>
                            <th style="text-align: center;">Fecha de Inicio de Periódo</th>
                            <th style="text-align: center;">Fecha de Fin de Periódo</th>     
                            <!-- <th style="text-align: center;">Descripción</th> -->
                            <th style="text-align: left;">Resultado</th>
                        </tr>
                    </thead>
                    <ng-container
                        *ngIf="processlist!=null && processlist.length>0; then showGrid else hideGrid">
                    </ng-container>
                </table>
                <ng-template #hideGrid>
                    <tbody>
                        <tr style="text-align: center;">
                            <td colspan="10"></td>
                        </tr>
                    </tbody>
                </ng-template>
                <ng-template #showGrid>
                    <tbody>
                        <tr *ngFor="let item of processlistToShow; let row_no = index">
                            <td class="text-center">
                                <img *ngIf="item.estadoAlerta == 'PROCESANDO'" src="assets/icons/loadingtc.gif"
                                    title="Cargando" alt="Cargando" />
                                <img *ngIf="item.estadoAlerta == 'FINALIZADO'" src="assets/icons/verifyct.png"
                                    title="Finalizado" alt="Finalizado" />
                                <img *ngIf="item.estadoAlerta == 'ERROR'" src="assets/icons/incorrecttc.png"
                                    title="Incorrecto" alt="Incorrecto" />
                                <img *ngIf="item.estadoAlerta == 'FINALIZADO CON ADVERTENCIA'" src="assets/icons/warntc.png"
                                    title="Reporte sin datos" alt="Reporte sin datos" />
                            </td>
                            <td class="text-center">{{item.id}}</td>
                            <td class="text-center">{{item.fechaInicioPeriodo}}</td>
                            <td class="text-center">{{item.fechaFinPeriodo}}</td>
                            <td class="text-center">{{item.fechaInicioEjecucion}}</td>
                            <td class="text-center">{{item.fechaFinEjecucion}}</td>
                            <!-- <td class="text-left">Descripción del proceso</td> -->
                            <td class="text-left">{{item.resultado}}</td>
                        </tr>
                    </tbody>
                </ng-template>
            </div>            
        </div>

        
        <ng-container *ngIf="processlist!=null && processlist.length>0; then showPagination"></ng-container>
        <ng-template #showPagination>
            <div class="row mt-4" style="padding-left: 700px;">
                <div class="col-sm-12">
                    <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage"
                        [collectionSize]="totalItems" [maxSize]="maxSize"
                        (pageChange)="pageChanged(currentPage)">
                        <ng-template ngbPaginationPrevious>Anterior</ng-template>
                        <ng-template ngbPaginationNext>Siguiente</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </ng-template>
        <div class="container" style="padding-top: 2%;padding-bottom: 2%;">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6 d-flex justify-content-between ">
                    <button class="btn btn-outline-info form-control ml-2 mr-2 buttonSinBorder colorButton"
                        (click)="exportListToExcel()">
                        <i class="fas fa-download"></i>
                        Descargar Registros
                    </button>
                </div>
                <div class="col-md-3">
                </div>
            </div>            
        </div>
    </div>
</main>
<app-footer></app-footer>