<div class="row" *ngIf="getIsValidStateAllow(statePendienteInforme.sState)">
    <!-- <div style="font-size: 30px;padding-left: 13px;padding-bottom: 20px;padding-top: 25px;font-family: ui-sans-serif;
    font-weight: bold;">BANDEJA DE SEÑALES DE ALERTA</div> -->

    <div class="row" style="z-index: 0;" >
        <div class="row mb-2 mt-2"  style="padding-left: 30px">
            <div class="Header">
                <div class="col-lg-12" style="padding-bottom: 20px;">
                    <h4 class="TitleLine" style="font-size: 30px;padding-top: 10px;font-family:roboto;">Bandeja de Señales de Alerta</h4>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="margin-bottom: 0;border-bottom: none;">
                    <div class="card-header" style="background-color: white;">
                        <div class="text-left">
                            <div class="badge {{getClassBagdeState(statePendienteInforme.sState)}}"
                                style="color: white;font-size: 20px;font-weight: bold;float: left;">
                                PI </div>
                        </div>
                        <div class="text-left">
                            <div class=""
                                style="padding-left: 5px;font-size: 20px;font-weight: bold;float: left;">
                                 -</div>
                        </div>
                        <div class="text-left">
                            <div class="badge "
                                style="font-size: 20px;font-weight: bold;">
                                {{capitalizarPrimeraLetra(statePendienteInforme.sState)}}</div>
                        </div>

                    </div>
                    
                </div>
            </div>
            <div class="col-lg-9">

            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card" *ngIf="(getArray(statePendienteInforme.sState,regimen.id)).length > 0">
            <div>
                    
                <div class="card" style="border: none;background-color: white;">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <div class="card" style="border: none;background-color: white;">
                            <div class="card-header" style="padding-bottom: 0px;">
                                <div class="row">
                                    <div class="col-lg-1">

                                    </div>
                                    <div class="col-lg-11">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <div class="text-left txtCabecera">Señal</div>
                                            </div>
                                            <!-- <div class="col-lg-2">
                                                <div class="text-left txtCabecera">Fecha de modificación</div>
                                            </div> -->
                                            <div class="col-lg-5">
                                                <div class="text-center txtCabecera">Descripción de alerta</div>
                                            </div>
                                            <div class="col-lg-1" style="padding-left: 0;padding-right: 0;">
                                                <div class="text-center txtCabecera">Descargar Papel de trabajo</div>
                                            </div>
                                            <!--<div class="col-lg-1" style="padding-left: 0;padding-right: 0;">
                                                <div class="text-center txtCabecera">Descargar último informe</div>
                                            </div>-->
                                            
                                            <!-- <div class="col-lg-2" style="margin-left: 30px;padding-right: 0px;"> -->
                                            <div class="col-lg-2" >
                                                <div class="text-center txtCabecera">Última revisión del formulario</div>
                                            </div>
                                            <!-- <div class="col-lg-2" style="padding-left: 70px"> -->
                                                <div class="col-lg-2">
                                                <div class="text-left txtCabecera">Acción</div>
                                            </div>
                                            <div class="col-lg-1">
                                                <div class="text-left txtCabecera">Seleccionar</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

                    
                    
                    <div class="card-body " style="margin-top: 0px;padding-top: 0px;">
                        <div *ngFor="let item of getArray(statePendienteInforme.sState,regimen.id);let index = index;"
                        style="border:none;background-color: rgb(43 36 91 / 8%);padding: 0px;margin: 0px;">
                            <div class="card mt-1" 
                            style="border:none;padding: 0px;margin: 0px;">
                                <div id="{{'acordion'+statePendienteInforme.sState + regimen.desCorto + index}}">
                                    <div class="card-header headerSenials " style="background-color: rgb(43 36 91 / 8%);margin-top: 0px;padding-top: 0px;">
                                        
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <div class="pt-4 pl-4">
                                                    <i class="fas fa-2x fa-ellipsis-h"
                                                        style="cursor: pointer;"
                                                        data-toggle="collapse"
                                                        attr.href="#{{'collap'+statePendienteInforme.sState+'Head' + regimen.desCorto + index}}"
                                                    ></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-11">
                                                <div class="row">
                                                    <div class="col-lg-12 ">
                                                        <div class="card-link unlinkeo">
                                                            
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 pt-4">
                                                                            <div class="text-left badge badge-danger"
                                                                                        style="font-size: 16px;font-weight: bold;">
                                                                                        {{item.SNOMBRE_ALERTA}}
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="col-lg-4 pt-2">
                                                                            <div class="text-left">
                                                                                <div class="txtDetalle">
                                                                                    {{item.DFECHA_ESTADO_MOVIMIENTO}}
                                                                                </div>
                                                                            </div>
                                                                        </div> -->
                                                                        <div class="col-lg-9 pt-2 pl-5">
                                                                            <div
                                                                                        class="text-left">
                                                                                        <div
                                                                                            class="txtDetalle"
                                                                                            style="text-align:justify">
                                                                                            {{item.SDESCRIPCION_ALERTA}} 
                                                                                           
                                                                                        </div>
                                                                                    </div>
                                                                            
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="row">
                                                                        <div class="col-lg-2 pt-2" >
                                                                            <div class="text-center">
                                                                              <i class="fas fa-file-word fa-3x" style="color: rgb(39, 36, 109);" (click)="Consultar360(item)"></i>    
                                                                               <!-- <i class="fas fa-file-word fa-3x" style="color: rgb(39, 36, 109);" (click)="DescargarReporte(item)"></i>  -->
                                                                                  <!-- <i class="fas fa-file-word fa-3x" style="color: rgb(39, 36, 109);" (click)="fillReport(item)"></i>  -->
                                                                            </div>
                                                                        </div>
                                                                        <!--<div class="col-lg-2 pt-2" >
                                                                            <div class="text-center">
                                                                                <i class="fas fa-file-pdf fa-3x" style="color: rgb(162, 87, 53);" (click)="downloadFinalReport(item)"></i>
                                                                            </div>
                                                                        </div>-->
                                                                        
                                                                        <div class="col-lg-4 pt-2" style="margin-left: 30px;padding-right: 0px;">
                                                                            <div class="text-center">
                                                                                <div class="txtDetalle"
                                                                                style="text-align:justify">
                                                                                    {{item.ULTFECREV}}
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4 pt-2" style="padding-left: 40px">
                                                                            <button class="btn btn-dark" (click)="sendFilesInformes(item)">Cerrar Señal</button>
                                                                        </div>
                                                                        <!-- <div class="col-lg-1 pt-2" style="">
                                                                            <input type="checkbox" [(ngModel)]="arrCheckbox[index]"
                                                                            (change)="setDataCheckboxApproved(item,index,$event.target.checked)"
                                                                               style="height: 30px;width: 30px;"
                                                                               class="form-check-input" value="">
                                                                        </div> -->
                                                                        <div class="col-lg-1 pt-2" style="">
                                                                            <input type="checkbox"
                                                                            (change)="onCategoriaPressed(item,$event.target.checked)"
                                                                               style="height: 30px;width: 30px;"
                                                                               class="form-check-input" value="">
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="row pl-4 pt-3" >
                                                                                <div class="col-lg-2" style="margin-left:-10px">
                                                                                    <input type="file" name="file" 
                                                                                    id="archivoInfoPendienteInforme{{regimen.id}}-{{index}}"
                                                                                    class="inputfile" multiple 
                                                                                    (change)="addFilesInforme($event, item, 'INFORMES')"/>
                                                                                    <div class="text-center mt-3">
                                                                                        <label for="archivoInfoPendienteInforme{{regimen.id}}-{{index}}" style="cursor: pointer;">
                                                                                            <i class="fas fa-paperclip fa-2x fa-lg"
                                                                                                style="color: #706d6d;cursor:pointer">
                                                                                                <div class="parrafoAdj text-center">Adjuntar Informe</div>
                                                                                            </i>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-10 pt-3">
                                                                                    <app-adjuntar-informe
                                                                                    [parent]="this" 
                                                                                    [item]="item" 
                                                                                    [indexInput]="index" 
                                                                                    [arrFilesAdjuntosInforme]="getFilesInformByAlert(item)"
                                                                                    [arrAdjuntosSaveInforme]="item.arrAdjuntosInform"></app-adjuntar-informe>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row pl-4 pt-2">
                                                                                <div class="col-lg-2"  style="margin-left:-10px">
                                                                                    <input type="file" name="file" id="archivoAdjuntosPendienteInforme{{regimen.id}}-{{index}}"
                                                                                        class="inputfile" multiple
                                                                                        (change)="addFilesInforme($event, item, 'ADJUNTOS')" />
                                                                                    <div class="text-center mt-3">
                                                                                        <label for="archivoAdjuntosPendienteInforme{{regimen.id}}-{{index}}" style="cursor: pointer;">
                                                                                            <i class="fas fa-paperclip fa-2x fa-lg"
                                                                                                style="color: #706d6d;cursor:pointer">
                                                                                                <div class="parrafoAdj text-center">Adjuntar archivo</div>
                                                                                            </i>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-10 pt-3">
                                                                                    <app-adjuntar-files
                                                                                        [parent]="this" 
                                                                                        [item]="item" 
                                                                                        [indexInput]="index" 
                                                                                        [arrFilesAdjuntos]="getFilesAdjuntosUnivByAlert(item)"
                                                                                        [arrFilesGuardados]="item.arrAdjuntos"></app-adjuntar-files>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>





                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div id="{{'collap'+statePendienteInforme.sState+'Head' + regimen.desCorto + index}}"
                                        class="collapse"
                                        attr.data-parent="#{{'acordion'+ statePendienteInforme.sState + regimen.desCorto + index}}">
                                        <!--<app-button-download-report [item]="item" [regimen]="regimen" [STIPO_USUARIO]="STIPO_USUARIO" [parent]="this"></app-button-download-report>-->
                                        
                                        <div class="card-body" style="background-color: white;">
                                            <!--<div *ngIf="item.NIDALERTA == 3 || item.NIDALERTA == 4 || item.NIDALERTA == 5 || item.NIDALERTA == 10">
                                                <img *ngIf="STIPO_USUARIO == 'OC' && item.NIDALERTA == 3"
                                                    src="assets/icons/excel-microsoft.png" title="Descargar Excel Lista GAFI"
                                                    alt="" style="cursor: pointer;height:40px;width: 35px;" (click)="getExcelListAlert(item.NIDALERTA,regimen.id)" />
                                                <img *ngIf="STIPO_USUARIO == 'OC' && item.NIDALERTA == 4"
                                                    src="assets/icons/excel-microsoft.png"
                                                    title="Descargar Excel Notas de Crédito" alt=""
                                                    style="cursor: pointer;height:40px;width: 35px;" (click)="getExcelListAlert(item.NIDALERTA,regimen.id)" />
                                                <img *ngIf="STIPO_USUARIO == 'OC' && item.NIDALERTA == 5"
                                                    src="assets/icons/excel-microsoft.png"
                                                    title="Descargar Excel Direcciones Duplicadas" alt=""
                                                    style="cursor: pointer;height:40px;width: 35px;" (click)="getExcelListAlert(item.NIDALERTA,regimen.id)" />
                                                <img *ngIf="STIPO_USUARIO == 'OC'  && item.NIDALERTA == 10"
                                                    src="assets/icons/excel-microsoft.png" title="Descargar Cliente Riesgo Alto"
                                                    alt="" style="cursor: pointer;height:40px;width: 35px;" (click)="getExcelListAlert(item.NIDALERTA,regimen.id)" />
                                                Descargar Resultados
                                            </div>-->
                                            <div *ngIf="item.NIDALERTA !== 2 && item.NIDALERTA !== 35 && item.NIDALERTA !== 33 && item.NIDALERTA !== 39">
                                              
                                                <div class="card" style="border: 0px;padding-bottom: 0px;">
                                                    <div class="card-header" style="border: 0px;padding-bottom: 0px;">
                                                        
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="txtCabecera text-left">Responsable</div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="txtCabecera text-left">Fecha de movimiento</div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="txtCabecera text-left">Respuesta</div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="txtCabecera text-left">Comentarios</div>
                                                            </div>
                                                            <div class="col-lg-1">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr style="margin-top: 0px;margin-bottom: 0px;">
                                                <div id="{{'acordionResponsable'+statePendienteInforme.sState+'Any'+index}}">
                                                    <div class="card mt-1" style="border: 0px;padding-top: 0px;" 
                                                    *ngFor="let itemResponsablePenInfo of item.arrUsuariosForm;let incItemRespPenInfo = index;">
                                                        <div class="card-header headerSenials" style="padding-top: 0px;">
                                                         
                                                              <div class="row text-dark" >
                                                                  
                                                                      <!--<div class="col-lg-2">
                                                                          <div tooltip="La información proporcionada por el cliente es inconsistente o de difícil verificación por parte de PROTECTA." placement="top">La información proporcionada por el cliente es inc...</div>
                                                                      </div>-->
                                                                      <div class="col-lg-3">
                                                                          <a class="card-link" data-toggle="collapse" href="#collapseResponsable{{index+'-'+incItemRespPenInfo}}">
                                                                          <div class="text-left text-dark">{{itemResponsablePenInfo.NOMBRECOMPLETO}}</div>
                                                                      </a>
                                                                      </div>
                                                                  
                                                                  
                                                                      <div class="col-lg-3">
                                                                          <a class="card-link" data-toggle="collapse" href="#collapseResponsable{{index+'-'+incItemRespPenInfo}}">
                                                                          <div class="text-left text-dark">{{itemResponsablePenInfo.DFECHA_ESTADO_MOVIMIENTO}}</div></a>
                                                                      </div>
                                                                  
                                                                  
                                                                      <div class="col-lg-2">
                                                                          <a class="card-link" data-toggle="collapse" href="#collapseResponsable{{index+'-'+incItemRespPenInfo}}">
                                                                          <div class="text-left text-dark">{{itemResponsablePenInfo.SRESPUESTA}}</div></a>
                                                                      </div>
                                                                  
                                                                  
                                                                      <div class="col-lg-3">
                                                                          <a class="card-link" data-toggle="collapse" href="#collapseResponsable{{index+'-'+incItemRespPenInfo}}" >
                                                                          <div class="text-left text-dark">{{itemResponsablePenInfo.SCOMENTARIO}}</div></a>
                                                                      </div>
                                                                      <div class="col-lg-1">
                                                                        
                                                                    </div>
                                                              
                                                              </div>
                                                        </div>
                                                        <div id="collapseResponsable{{index+'-'+incItemRespPenInfo}}" class="collapse" attr.data-parent="#{{'acordionResponsable'+statePendienteInforme.sState+'Any'+index}}">
                                                            <div class="card-body" style="border: 0px;">
                                                                
                                                                <div *ngIf="item.NIDALERTA !== 2 || item.NIDALERTA  !== 33 || item.NIDALERTA !== 35 || item.NIDALERTA !== 39">
                                                                    <div *ngIf="item.NIDALERTA === 1" class="">
                                                                        <!--C1 detalle de preguntas
                                                                        <app-c1-detail-company [parent]="this" [objAlerta]="itemResponsablePenInfo"
                                                                            [objState]="statePendienteInforme"></app-c1-detail-company>-->
                
                                                                    </div>
                
                
                                                                    <div class="">
                                                                        <!--CONVERSACION-->
                                                                        <app-comments-alerts-state
                                                                        [parent]="this"
                                                                            [arrConversacion]="itemResponsablePenInfo.arrConversacionCabecera"
                                                                            >
                                                                        </app-comments-alerts-state>
                                                                    </div>
                                                                </div>
                                                                

                                                            </div>
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="item.NIDALERTA === 2 || item.NIDALERTA === 33 || item.NIDALERTA === 35 || item.NIDALERTA === 39">
                                                <app-view-c2-form  [vistaOrigen]="'C2-BANDEJA'" [objAlertaC2]="item"  [regimen]="regimen" [valueIdCollap]="'collap'+statePendienteInforme.sState+'Head' + regimen.desCorto + index" [state]="statePendienteInforme.sState"></app-view-c2-form>
                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        
                    </div>
                    
                    
                
            </div>
            <div class="row pb-3">
                <div class="col-10"></div>
                <div class="col-2">
                    <!-- <button type="button" class="btn btn-warning text-white " *ngIf="STIPO_USUARIO==='OC'" (click)="Export('exportContent', 'test');">
                        Descargar Reportes
                    </button> -->
                   
                        <!-- <app-template-rg  [parent]="this" [Nombre]="Nombre" 
                        [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-rg> -->
                        
                    
                      
                    
                    

                </div>
            </div>

        </div>

        <div *ngIf="this.RegimenPendiente ==1 && this.Alerta !='C2'">
            <app-template-rg  [parent]="this" [Nombre]="Nombre" 
            [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-rg>
        </div>

        <div *ngIf="this.Alerta=='S2' && this.RegimenPendiente==2">
            <app-template-s2  [parent]="this" [Nombre]="Nombre" 
            [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-s2>
        </div>

        <div *ngIf="this.Alerta=='C3' && this.RegimenPendiente==2">
            <app-template-c3  [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal" 
            [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-c3>
        </div>

        <div *ngIf="(this.NombreLink == 'proveedor' || this.NombreLink == 'contraparte') && this.RegimenPendiente==0">
            <app-template-p [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal" 
            [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-p>
        </div>
        <div *ngIf="this.NombreLink == 'colaborador' && this.RegimenPendiente==0">
            <app-template-t [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal" 
            [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-t>
        </div>

        <div *ngIf="this.Alerta=='C2'">
            <app-template-c2 [parent]="this" [Nombre]="Nombre" [arrayDataSenal]="arrayDataSenal" 
            [Perfil]="Perfil" [Respuesta]="Respuesta" [Alerta]="Alerta"  style="display: none"></app-template-c2>
        </div>
          
          
            
        </div>

        <div class="card" *ngIf="(getArray('CERRADO',regimen.id)).length == 0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="text-center">{{parent.cadenaEstadosSinSenial}}</p>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
    

