<main class=" app-main">

    <div class="">
        <div class="row borderFormat" style="margin-left: 1px;">
            <div class="col-lg-2 form-group mt-1" title="Tipo de cambio">
                <p class=""><label class="fontText">Tipo de Cambio(*):</label></p>
                <input [disabled]="exTypeOff" [(ngModel)]="exchangeRate" type="number"
                    class="form-control buttonSinBorder">
            </div>
            <div class="col-lg-3 form-group mt-1" title="Tipo de cambio">
                <p class=""><label class="fontText">Monto(Operaciones Únicas):</label></p>
                <input [disabled]="amOff" [(ngModel)]="Iamount" type="text" class="form-control buttonSinBorder"
                    maxlength="20">
            </div>
            <div class="col-lg-3 form-group mt-1" title="Tipo de cambio" style="padding-left: 0px; padding-right: 0px;">
                <p><label class="fontText">Monto Único(Operaciones Mútiples):</label></p>
                <input [disabled]="amUniMOff" [(ngModel)]="IamountUnicaMulti" type="text"
                    class="form-control buttonSinBorder" maxlength="20">
            </div>
            <div class="col-lg-4 form-group mt-1" title="Tipo de cambio">
                <p><label class="fontText">Monto Frecuente(Operaciones Mútiples):</label></p>
                <input [disabled]="amFreMOff" [(ngModel)]="IamountFrecMulti" type="text"
                    class="form-control buttonSinBorder" maxlength="20">
            </div>
            <div class="col-lg-3 form-group mt-1" title="Ingrese la fecha de inicio">
                <label class="fontText" title="se va a calcular el tipo de cambio segun este mes">Mes a
                    procesar(*):</label>
                <input type="text" readonly [(ngModel)]="bsValueMonth" placeholder="DESDE" (ngModelChange)="changeMonth()"
                    class="form-control buttonSinBorder colorButton" bsDatepicker #dpr="bsDatepicker"
                    [maxDate]="maxDate"
                    [bsConfig]="{isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange',minMode: 'month'}">
            </div>
            <div class="col form-group">
                <button style="margin-top: 30px;width: 100%;" class="btn btn-warning text-white "
                    title="Descargar Archivo" (click)="getFunReporProccess()">Generar Archivo</button>
            </div>
        </div>
        <br><br>
    </div>
</main>
<app-footer></app-footer>