<app-navbar></app-navbar>
<main class="container app-main">
    <div class="row">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>
    <br>
     <div class="container">
         <div class="row mb-2 mt-2">
             <div class="Header">
                 <div class="col-lg-12">
                     <h3>Monitoreo de riesgos LAFT</h3>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-lg-2 form-group">
                <label for="txtUsuario">Usuario</label>
             </div>
             <div class="col-lg-2 form-group">
                <input type="text" class="form-control buttonSinBorder" placeholder="Usuario" id="txtUsuario" [disabled]="true">
             </div>
         </div>
         <div class="row">
             <div class="col-lg-2 form-group">
                <label for="txtCargo">Cargo</label>
             </div>
             <div class="col-lg-2 form-group">
                <input type="text" class="form-control buttonSinBorder" placeholder="Cargo" id="txtCargo" [disabled]="true">
             </div>
         </div>
         <div class="row">
             <div class="col-lg-2 form-group">
                <label for="txtPeriodo">Período</label>
             </div>
             <div class="col-lg-2 form-group">
                <input type="text" class="form-control buttonSinBorder" placeholder="Período" id="txtPeriodo" [disabled]="true">
             </div>
         </div>
         <div class="row">             
             <div class="col-lg-12">
                 <span>Responda las siguientes preguntas, recuerde tiene carácter de declaración jurada</span>
             </div>
         </div>
         <div class="card">
             <div class="card-body">
                 <div class="row">                     
                     <div class="col-lg-4">
                         <h6>C1 - Trimestres II 2020</h6>
                     </div>
                     <div class="col-lg-4">
                         <h6>N° de Ticket 00000</h6>
                     </div>
                     <div class="col-lg-4">
                         <h6>Concepto Contratantes Coperativas, Cajas, ONG's y entidades SFL</h6>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-lg-8">
                         <div class="row">                             
                             <div class="col-lg-12">
                                 <span>Antes de responder revise el archivo y consulte con quien corresponda</span>
                             </div>
                         </div>
                         <ng-container *ngFor="let preg of questionsHeaderList">
                             <div class="row mb-2 mt-2">
                                 <div class="col-lg-8">{{preg.SPREGUNTA}}</div>
                                 <div class="col-lg-2">
                                     <span>Sí</span>
                                     <input type="radio">
                                 </div>
                                 <div class="col-lg-2">
                                     <span>No</span>
                                     <input type="radio">
                                 </div>
                             </div>
                         </ng-container>
                     </div>
                     <div class="col-lg-2">
                         <i class="fas fa-file-excel"></i>
                         <div>Empresas SFL</div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="table-responsive">
                         <table class="table">
                             <thead>
                                 <tr>
                                     <th scope="col">Razón Social</th>
                                     <th scope="col">Producto</th>
                                     <th scope="col">RUC</th>
                                     <th scope="col" colspan="3" *ngFor="let preg of questionsList">
                                         {{preg}}
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr *ngFor="let item of questionDetailList; let i = index">
                                     <td>{{item.SNOMBRE_CLIENTE}}</td>
                                     <td>{{item.SPRODUCTO}}</td>
                                     <td>{{item.SRUC}}</td>
                                     <ng-container *ngFor="let preg of questionsList; let j = index">
                                         <td>
                                             <span>Sí</span>
                                             <input type="radio" value="1"  [(ngModel)]="answersDetailList[i * questionsList.length + j].respuesta">
                                         </td>
                                         <td>
                                             <span>No</span>
                                             <input type="radio" value="0" [(ngModel)]="answersDetailList[i * questionsList.length + j].respuesta">
                                         </td>
                                         <td><input type="text" placeholder="Agregar comentario" [(ngModel)]="answersDetailList[i * questionsList.length + j].comentario" 
                                             id="txt{{answersDetailList[i * questionsList.length + j].nro}}" ></td>
                                     </ng-container>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-2 form-group">
                         <button id="btnAgregarEmpresa" style="margin-top: auto;" class="btn text-white"
                            title="Agregar empresa">Agregar empresa
                        </button>
                    </div>
                    <div class="col-lg-3">
                        <h6>Comentarios</h6>
                        <textarea id="" name="" cols="30" rows="5" maxlength="500"></textarea>
                    </div>
                    <div class="col-lg-3">
                        <input type="file">
                    </div>
                 </div>

            </div>
         </div>
         <div class="btn-group pull-right">
             <button class="btn btn-warning text-white buttonSinBorder" 
                 title="Enviar" (click)="insertQuestionDetail()">Enviar
            </button>
             <button class="btn btn-warning text-white buttonSinBorder" 
                 title="Cancelar">Cancelar
            </button>
         </div>
    </div>
</main>
<app-footer></app-footer>
