<app-navbar></app-navbar>
<main class="container-fluid app-main " style="padding-left: 7rem;padding-right: 7rem;">
  <div class="row">
    <button class="btn btn-link text-secondary" style="padding-left: 6px;" routerLink="/home"
      title="Regresar al Pantalla Principal">
      <span class="fas fa-chevron-left"></span> Pantalla Principal
    </button>
  </div>
  <div class="container-fluid">
    <div class="row mb-2 mt-2" style="display: flex;justify-content: center;">
      <div class="col-12 Header">
        <div class="row mb-2 mt-2">
          <div class="Header">
            <div class="col-lg-12" style="padding-left: 0px;">
              <h4 class="TitleLine">Actividad Económica</h4>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-xl-1 col-lg-1"></div>
          <div class="col-xl-4 col-lg-3"></div>
          <div class="col-lg-3 col-xl-2" style="padding-top: 28px;">
            <button (click)="excel()" class="btn btn-outline-info form-control ml-2 mr-2 buttonSinBorder colorButton"><i
                class="fas fa-download"></i> Descargar información </button>
          </div>
          <div class="col-xl-3 col-lg-3" style="padding-top: 28px;">
            <div class="custom-file mb-3">
              <input #myInput type="file" class="custom-file-input buttonSinBorder colorButton" id="customFile"
                name="filename" accept=".xlsx" (change)="setDataFile($event)">
              <label class="custom-file-label" for="customFile"
                style="background-color:#e9ecef">{{this.NombreArchivo == '' ? "Adjuntar Archivo" : this.NombreArchivo }}</label>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2" style="padding-top: 28px;">
            <button class="btn btnRegistrar" style="width: 100%;" (click)="RegistrarArchivo()">Registrar</button>
          </div>
        </div>
        <div class="borderFormat">
          <div class="row  form-group">
            <div class="col-lg-11 col-sm-12">
              <div class="row">
                <div class="col-xlg-3 col-lg-3 d-flex py-1">
                  <div class="row col-12">
                    <div class="col-xs-12 col-sm-12">
                      <label class="fontText">Período:</label>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                      <select class="form-control buttonSinBorder colorButton" [(ngModel)]="NPERIODO_PROCESO">
                        <option value="0">
                          --Todos--</option>
                        <option *ngFor="let item of this.listPeriodos" value="{{item}}">
                          {{item}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xlg-5 col-lg-3 d-flex py-1">
                  <div class="row col-12">
                    <div class="col-xs-12 col-sm-12">
                      <label class="fontText">Buscar en Razón social y ruc:</label>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                      <input class="form-control buttonSinBorder colorButton" (keyup)="eventChange()" type="text" [(ngModel)]="SREGISTRO"  placeholder="Ingresar Razón social y ruc">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1  py-1 positionbutton">
              <button class="btn btnRegistrar" (click)="Buscar()" class="btn btn-warning text-white px-4">Buscar</button>
            </div>
          </div>
        </div>
      <div class="borderFormat" style="overflow-y:auto;font-size: 14px;">
        <br>
        <table class="striped" style="margin-top: -50px;font-size: 14px;">
          <thead>
            <tr>
              <th>Período</th>
              <th>Razón social</th>
              <th>Número de ruc</th>
              <th>Tipo de contribuyente</th>
              <th>Actividad económica</th>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align: center;font-size: 14px;" *ngIf="ListActividad.length == 0">
              <td colspan="9">No se han encontrado resultados</td>
            </tr>
            <tr *ngFor="let item of ListActividad">
              <td>{{item.NPERIODO_PROCESO}}</td>
              <td>{{item.SDESCRIPTION}}</td>
              <td>{{item.SNUM_RUC}}</td>
              <td>{{item.STIPOCONTRIBUYENTE}}</td>
              <td>{{item.SACTIVITYECONOMY}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="this.ListActividad.length > 0" class="row mt-4">
        <div class="col-sm-4">
          <button (click)="exportExcel()" class="btn btn-outline-info form-control  buttonSinBorder colorButton"><i
              class="fas fa-download"></i>
            Descargar Resultados
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>
  </div>
  <div class="" style="padding-bottom: 80px;">
  </div>
</main>
<app-footer></app-footer>
