<div id="S1" style="font-size:14.0pt;">
    <div *ngIf="Validar ==1"> 
        <img src="http://plataformasplaft.protectasecurity.pe/assets/img/protecta.png" width="200" height="50"> 
        <div>
            <br/>
        </div>
        </div>
        
    <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;font-size:11.0pt;" >
        <p> 
          <strong style="font-family: arial Narrow, serif;">1.1.4	Devolución de primas y Cancelación anticipada  </strong>
        </p>
          
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
            <FONT FACE="Arial Narrow, serif" style="font-size:11.0pt;">
                <tbody>
                    <tr>
                        <td width="50px" style="padding-left: 10px;">
                            <p>
                                <strong>CÓDIGO</strong>
                            </p>
                        </td>
                        <td width="400px" style="padding-left: 10px; text-align: center;">
                            <p>
                                <strong>SEÑAL DE ALERTA</strong>
                            </p>
                        </td>
                        <td width="250px">
                            <p align="center">
                                <strong>PRODUCTO</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="50px">
                            <p align="center">
                                S1
                            </p>
                        </td>
                        <td width="400px" style="padding-left: 10px; padding-right: 10px; text-align: justify">
                            <p>
                                Cancelación anticipada de pólizas con devolución de la prima al asegurado sin un propósito claro o en 
                                circunstancias inusuales, especialmente cuando el pago es realizado en efectivo o la devolución es a 
                                orden de un tercero sin aparente relación.
                            </p>
                        </td>
                        <td width="250px">
                            <p style="padding-left: 20px; text-align: center;">todos los productos</p>
                        </td>
                    </tr>
                </tbody>
            </FONT>
        </table>
    </div>
      <br>

    <div class="container" style="padding: 0px 200px;font-size:11.0pt;">
        <p>
            <strong style="font-family: arial Narrow, serif; text-align: justify">Monitoreo Señales de alerta S1</strong>
        </p>
        <p>
            <strong style="font-family: arial Narrow, serif; text-align: justify">Consulta al área de Operaciones</strong>
        </p>
        <ol type="a">
            <li style="font-family: arial Narrow, serif; text-align: justify">
                Se solicita al área de Operaciones información sobre si se han presentado/identificado las siguientes situaciones:
            </li>
                <ul>
                    <li style="font-family: arial Narrow, serif; text-align: justify">
                        Cancelación anticipada de pólizas con devolución de la prima al asegurado sin un propósito claro o en 
                        circunstancias inusuales, especialmente cuando el pago es realizado en efectivo o la devolución es a orden de 
                        un tercero sin aparente relación.
                    </li>
                </ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">
                Se revisa la información proporcionada.
            </li>    
        </ol>
        <br>
        <strong style="font-family: arial Narrow, serif;">Resultados Señales de alerta S1</strong>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif;">El área de Operaciones reportó XX casos de devoluciones de primas al cierre del {{parent.Periodo}}. </p>

        <div class="container" style="padding: 0px 200px; font-family:courier,arial,helvética;">
            <table border="1" cellspacing="0" cellpadding="0" align="left" width="800px">
                <FONT FACE="Arial Narrow, serif" style="font-size:9.0pt;">
                    <tbody>
                        <tr>
                            <td  width="10%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>N&ordm;</strong>
                                </p>
                            </td> 
                            <td width="9%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>PRODUCTO</strong>
                                </p>
                            </td>
                            <td width="250px" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>MOTIVO</strong>
                                </p>
                            </td>
                            <td width="15%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>MONTO DEVUELTO</strong>
                                </p>
                            </td>
                            <td width="15%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>MONEDA</strong>
                                </p>
                            </td> 
                            <td width="24%" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>DOCUMENTO</strong>
                                </p>
                            </td>
                            <td width="300px" style="padding-left: 5px; padding-right: 5px; background-color:#002060;text-align: center;">
                                <p>
                                    <strong>NOMBRE COMPLETO</strong>
                                </p>
                            </td>
                        </tr>
                        <!-- <tr *ngFor="let i = index "> -->
                        <tr>
                            <td width="10%" style="padding-left: 5px; padding-right: 10px; text-align: justify">
                                <p>
                                    <!-- {{ i + 1 }} -->
                                    <br>
                                </p>
                            </td>   
                            <td width="9%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                   <br>
                                </p>
                            </td>
                            <td width="250px" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td>
                            <td width="15%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td>
                            <td width="15%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td> 
                            <td width="24%" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td> 
                            <td width="300px" style="padding:0cm 5.4pt 0cm 5.4pt;height:23.1pt; text-align: justify">
                                <p>
                                    <br>
                                </p>
                            </td> 
                        </tr>
                    </tbody>
                </FONT>
            </table>
            <br>
        </div>
        <p style="font-size: 14.5px; font-family: arial Narrow, serif;">Así mismo, se realizaron las búsquedas en World-Check, fuentes públicas, Idecon y registro negativo de los beneficiarios 
            antes indicados, de los cuales no se encontraron coincidencias negativas. Por lo que no se consideran como señal de alerta.</p>

        <p style="font-size: 14.5px; font-family: arial Narrow, serif;">Los archivos de trabajo se ubican en:</p>
        <ul>
            <li style="font-size: 14.5px; font-family: arial Narrow, serif;"> 
                P:\19. RIESGOS OPERATIVOS Y LAVADO DE ACTIVOS\19.04 SPLAFT\19.04.04 LAFT\05.Informes Trimestrales Protecta
            </li>
        </ul>
        
    </div>

    <div style="font-size:11.0pt;">

     
      <p>
        <strong style="font-family: arial Narrow, serif;">1.1.1.	Devoluciones por fallecimiento del asegurado</strong>
      </p>
      
      <p>
        <strong style="font-family: arial Narrow, serif;">Consulta al área de Operaciones y Soluciones de Clientes</strong>
      </p>
      
        <ol type="a">
            <li style="font-family: arial Narrow, serif; text-align: justify">
                Se solicita al área de Operaciones y al área de Soluciones de Clientes, información sobre si se han presentado/identificado las siguientes situaciones: 
            </li>
            <ul>
              <li style="font-family: arial Narrow, serif; text-align: justify">Se presentaron endosos por los productos de Vida con Renta Temporal, Renta Total y
                 Ahorro Total por cambios de domicilio, beneficiarios, número de cuenta bancaria donde se depositan las pensiones mensuales, cancelación anticipada de pólizas 
                 (rescate) o algún otro movimiento en las pólizas.
              </li>
            </ul>
            <li style="font-family: arial Narrow, serif; text-align: justify">
                Se revisa la información proporcionada.
            </li>
            
          </ol>  

          <strong style="font-family: arial Narrow, serif;">Resultados:</strong>
          <ul>
            <li style="font-family: arial Narrow, serif;">
                El área de Operaciones y Soluciones de Clientes indicó que no se reportaron casos en total de devoluciones de primas al cierre del {{parent.Periodo}} por el motivo del fallecimiento del asegurado.
            </li>
          </ul>

        <p style="font-family: arial Narrow, serif; text-align: justify">Los archivos de trabajo se ubican en: </p>
        <ul>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
            <a href="http://plataformasplaft.protectasecurity.pe/"> http://plataformasplaft.protectasecurity.pe/</a>
          </li>
          <li style="font-family: arial Narrow, serif; text-align: justify"> 
            P:\19. RIESGOS OPERATIVOS Y LAVADO DE ACTIVOS\19.04 SPLAFT\100.001 LAFT\05.Informes Trimestrales Protecta\2021\INFORME TRIMESTRAL\3° Trimestre\1. PRODUCTOS
          </li>
        </ul>
    </div>
    <div class="text-center pt-5">
      <button class="" (click)="Export2Doc('exportContent', 'test');"></button>
    </div>
    </div>