
<app-navbar></app-navbar>
<main class="container-fluid app-main">
    <div class="row pl-5 pr-5">
        <button class="btn btn-link text-secondary" routerLink="/home" title="Regresar al Pantalla Principal">
            <span class="fas fa-chevron-left"></span> Pantalla Principal
        </button>
    </div>
    <br>
    <div class="">
        <div class="container-fluid pl-5 pr-5">
            <div *ngIf="false" class="card-header bordesCabecera" style="background: white;">
                <ul class="nav nav-pills nav-justified">
                    <!-- <li class="nav-item">
                        <a class="colorLetra nav-link active" data-toggle="tab" href="#grupal"
                            style="font-size:17px;">Informes
                            Grupales</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="colorLetra nav-link active" data-toggle="tab" href="#general" style="font-size:17px;">Informe
                            General</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" style="padding-bottom: 80px;">
                      <div id="general" class="tab-pane fade active show">
                        <div class=""
                            style="display: flex;justify-content: left;align-items: left;padding-right: 700px;">
                            <div class="col-lg-17">
                                <!-- <h4 class="TitleLine">Informe General</h4> -->
                                <h4 class="TitleLine">Historial del Informes KRI</h4>
                                
                            </div>

                        </div>

                        
                        <div class="pt-4">
                            <table class="table table-hover table-striped " id="tableCobertura" style="width:100%;">
                                <thead style="color: #26296DB3">
                                  <tr class="htable headgrid" style="background:transparent;">
                                    <th class="text-center">Período</th>
                                    <th class="text-center">Fecha de Movimiento</th>
                                    <th class="text-center">Usuario</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Archivo Adjunto</th>
                                    <th class="text-center">Acciones</th>
                                   
                                    
                                  </tr>
                                </thead>
                                <tbody id="tblContactos" *ngIf="ListaRegistros.length !=0; else listavacia">
                                 <tr class="animated fadeIn" *ngFor="let cob of ListaRegistros| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let index = index ">
                                    <td class="text-center">{{cob.FECHA_PERIODO}}</td>
                                    <td class="text-center">{{cob.DFECHA_ESTADO}}</td>
                                    <td class="text-center">{{cob.NOMBRECOMPLETO}}</td>
                                    <td class="text-center">{{cob.SESTADO == 2 ? 'FINALIZADO' : 'PENDIENTE'}}</td>
                                    <td class="text-center">
                                        <div style="float:left;width: 80%;" [hidden]="cob.SESTADO == 1">
                                            <a style="cursor:pointer;color:blue"  placement='top' ngbTooltip="{{cob.SNOMBRE_ARCHIVO}}" (click)="DescargarArchivo(cob.SRUTA_ARCHIVO,cob.SNOMBRE_ARCHIVO)">{{cob.SNOMBRE_ARCHIVO_CORTO}}</a>
                                        </div>
                                        <div style="float:left;width: 80%;" [hidden]="cob.SESTADO == 2">
                                            <a style="color:blue;cursor: default;"  placement='top' ngbTooltip="{{cob.SNOMBRE_ARCHIVO}}">{{cob.SNOMBRE_ARCHIVO_CORTO}}</a>
                                        </div>
                                        
                                        <div [hidden]="cob.SESTADO == 2 || (cob.SESTADO == 1 && (cob.SNOMBRE_ARCHIVO_CORTO == null || cob.SNOMBRE_ARCHIVO_CORTO == ''))" style="float:right;width: 10%;" placement='top' ngbTooltip="Eliminar archivo"><i class="far fa-times-circle" style="cursor:pointer;" (click)="removeFile(cob,index)"></i></div>
                                    </td>
                                    <td class="text-center"  style="padding-left: 30px;padding-right: 30px;">
                                        <div *ngIf="(cob.SNOMBRE_ARCHIVO_CORTO != '' || cob.SNOMBRE_ARCHIVO_CORTO == null)" style="float:left;width: 33.3%;" >
                                            
                                             <input type="file" name="file" id="adjunto{{index}}" class="inputfile"  (change)="AgregarAdjunto($event,cob,index)"/>
                                             <div class="text-center"  >
                                                <label for="adjunto{{index}}" style="cursor: pointer;" placement="top" ngbTooltip="Adjuntar">
                                                    <i [hidden]="cob.SESTADO == 2"  class="fas fa-file-upload"  style="cursor: pointer;color:#FA7000"></i>
                                                </label>
                                              </div>
                                            
                                         </div>
                                         
                                        <div   style="float:left;width: 33.3%;" placement='top' ngbTooltip="Descargar informe KRI">
                                            <a><i  class="fas fa-file-download" style="color:green;cursor:pointer" (click)="DescargarReporte(cob.NPERIODO_PROCESO)"></i></a>
                                        </div>
                                        <div style="float: right;width: 33.3%;"  placement='top' ngbTooltip="Registrar">
                                            <a *ngIf="cob.SESTADO == 1"><i class="far fa-check-circle" style="color:#FA7000;cursor:pointer"  (click)="Registrar(cob,index)"></i></a>
                                        </div>
                                    </td>
                                   
                                   
                                   
                                  </tr>
                                </tbody>
                                <ng-template #listavacia>
                                  <tbody id="tblContactos">
                                    <tr>
                                      <td class="text-center" colspan="6">No se han encontrado resultados</td>
                                    </tr>
                                  </tbody>
                                </ng-template>
                              </table>
                              <ng-container *ngIf="ListaRegistros!=null && ListaRegistros.length>0; then showPagination">
                              </ng-container>
                              <ng-template #showPagination class="row">
                                  <div class="col align-self-center">
                                    <ngb-pagination  [collectionSize]="ListaRegistros.length" [(page)]="page" [maxSize]="5"
                                    aria-label="Default pagination"></ngb-pagination>
                                  </div>
                               
                              </ng-template>
                        </div>
                        
                        <div id="ReportesGlobal">
                            <app-template-kri [Resultado]="Resultado" style="display: none" ></app-template-kri>  
                            <!-- <app-template-kri [Resultado]="Resultado"  ></app-template-kri>  -->
                        </div>
                        

                    </div> 
                </div>
            </div>
            
        </div>
    </div>
</main>
<app-footer></app-footer>